[2014-04-01 10:50] danbri opened #1 "Re-implement acknowledgements"
Recycling issue #1 for planning.

[2014-04-01 12:09] danbri opened #2 "Proposed vocabulary additions/changes - general rolling overview"
# 2020 update

This was an earlier attempt to try to triage incoming suggestions into higher level groupings. We didn't keep up, hence #2573 and the creation of the suggestions-questions-brainstorming repo. The need still exists but I'm going to close this issue for now (and then move it over to that repo). --danbri@

# Original text

This issue accompanies the rolling planning issue (#1) by provi

[2014-04-03 16:16] danbri opened #3 "Meta bug to provide overview of all python/site tool issues"
# 2020 Update

I've gone through these, closed a few, tagged others for move to the suggestions-questions-brainstorming repo.  I think we can close this issue (and maybe recycle it, as #3 is a good number).

# Original text

This issue was (originally) intended for high-level planning, and relates to the set of issues tagged as [site tools + python](https://github.com/schemaorg/schemaorg/issues?q=

[2014-04-17 12:23] danbri opened #4 "CODE: redirect http://www.schema.org/Person to http://schema.org/Person etc."
redirect http://www.schema.org/Person to http://schema.org/Person
and
redirect https://www.schema.org/Person to https://schema.org/Person
on the basis that we prefer to see the canonical 'http://schema.org/Person' in widespread use, but if someone asks for the https then let's give it to them.

[2014-04-17 12:23] danbri opened #5 "CODE: Site should HTTP content negotiate to JSON-LD context file on the homepage"
work in progress, http://lists.w3.org/Archives/Public/www-archive/2014Apr/0023.html

[2014-04-17 12:26] danbri opened #6 "CODE: Site should handle /Person/Xyz more gracefully"
We encourage people to use /-based extensions, so these shouldn't 404.

Possible designs include:

1. redirect to http://schema.org/Person#Xyz and have .js notice the fragment
2. make a stub page with a hyperlink back to /Person

[2014-04-24 21:54] dbs opened #8 "VOCAB: schema.org/box has the description for "polygon""
This appears to have been a problem since at least the 1.0b release (the earliest to which I have access).

[2014-05-02 12:31] danbri opened #10 "CODE: Enumeration pages missing type info, breadcrumbs"
e.g.  http://schema.org/PreOrder

[2014-05-09 19:15] danbri opened #12 "Some enumeration type pages don't list their instances"
Jason Johnson reports "why are the enumeration members listed here http://schema.org/EventStatusType but not here? http://schema.org/DrugCostCategory when they are defined similarly in the rdfa"

http://schema.org/DrugCostCategory does not list instances, but last year, i.e.
https://web.archive.org/web/20130308031023/http://schema.org/DrugCostCategory ... it did: i.e. links to ReimbursementCap Ret

[2014-05-09 20:28] dbs opened #15 "CODE: Python code should have docstrings"
Navigating around api.py is a little disorienting as it does not include any docstrings to identify what the classes such as "Unit" represent. One can certainly work it out over time, but docstrings would help get newbies up to speed faster :)

[2014-05-12 16:50] dbs opened #18 "CODE: "Full hierarchy" does not list all types"
As the top of docs/full.html says:

Short term, we need to add all of these back in (and any others that we're missing).

Long term, we need to programmatically construct the list. Because maintaining it manually is insane :)

[2014-05-15 13:22] #12 closed, assigned to danbri

[2014-05-19 02:00] dbs opened #24 "CODE: Add structured data to individual property / class pages"
Per the discussion at http://lists.w3.org/Archives/Public/public-vocabs/2014May/0182.html it would be nice to have the RDFS for a given class or property documentation page expressed on that page itself, so that someone who points rdfpipe or the like at that page will actually extract something useful.

[2014-05-19 16:11] dbs opened #26 "VOCAB: Fix Boolean (and DataType handling) in general"
Boolean is not currently declared as a subclass of anything, thus as it is neither an instance of rdfs:Class nor of rdfs:Property it is not rendered correctly (no breadcrumb header, no enumeration members).

Boolean should be declared as a subclass of DataType, which also currently is not handled correctly.

[2014-06-13 14:45] #26 closed, assigned to nobody

[2014-06-18 14:55] danbri opened #49 "we have examples (MediaObject and nearby) with contentURL not contentUrl"
a) example needs fixing
b) we should automate a test for such things - easy to have bad examples.

[2014-06-19 11:37] danbri opened #51 "JSON-LD context problem for properties that can take both URL or Text"
See also notes in Wiki: https://github.com/schemaorg/schemaorg/wiki/JsonLd

e.g. namedPosition in Role example http://schema.org/Role
{
  "@context": "http://schema.org",
  "@type": "SportsTeam",
  "name": "San Francisco 49ers",
  "member": {
    "@type": "OrganizationRole",
    "member": {
      "@type": "Person",
      "name": "Joe Montana"
    },
    "startDate": "1979",
    "endDate": "1992",

[2014-06-20 15:47] #10 closed, assigned to nobody

[2014-06-21 20:58] gkellogg opened #53 "Linter warnings on schema.org examples"
Update: https://gist.github.com/danbri/c5fef76dcf89bc23bdb6 has a fresh run against 2015-01-28th snapshot of sdo-stantz branch. -- @danbri

FYI, the following are warnings produced by the Structured-Data Linter for current schema.org examples:

[ earlier results removed for readability, see link above ]

This was done through the following:
- clone http://github.com/structured-data/linter
- bundle

[2014-06-23 13:46] #49 closed, assigned to nobody

[2014-06-23 13:47] danbri opened #54 "Automate comparison of examples with schema"
To avoid https://github.com/rvguha/schemaorg/issues/49 and similar.

[2014-06-26 12:16] pgl opened #55 "Search returns invalid results"
Searching for "itemref" returns a page where the term "itemref" doesn't exist.

[2014-07-07 12:11] #24 closed, assigned to nobody

[2014-07-07 14:48] #55 closed, assigned to nobody

[2014-07-08 10:16] danbri opened #61 "CODE: Parser for data/*examples.txt ignores final entry"
Each data/*examples.txt file currently has a bogus final entry ("FakeEntryNeeded, FixMeSomeDay"), since AddExample only gets called when a next item is encountered.

https://github.com/rvguha/schemaorg/blob/master/parsers.py#L76

Next step - let's get a failing test case for this.

[2014-07-09 11:09] danbri opened #67 "CODE: RDFa in per-term pages should include inverseOf, subPropertyOf"
- http://schema.org/alumniOf already linked to alumni (its inverse)
- http://schema.org/object already links to its sub-properties.
- http://schema.org/docs/schema_org_rdfa.html already documents these in RDFa/RDFS.

For consistency it would be nice (but non-urgent) if the per-term pages also exposed this information.

Nearby:
- AttributeProperties method generates the current RDFa-less markup, ht

[2014-07-15 04:18] gkellogg opened #70 "schema:Event claims equivalence with undefined dc:Event"
The RDFa definition for schema:Event claims that it has an owl:equivalentClass of dc:Event (actually, using @href, this is dc:event, use @resource to get http://purl.org/dc/terms/Event).

As it happens, DCMI does not define `Event` in that namespace; however, it does define http://purl.org/dc/dcmitype/Event. See http://dublincore.org/documents/dcmi-terms/#dcmitype-Event.

[2014-07-29 16:52] danbri opened #75 "vCard-style PostalAddress is not EU INSPIRE-compatible"
There are some address format issues in EU that make vCard a bad fit. This issue is a placeholder for investigating the situation.

See also http://www.w3.org/ns/locn
http://schema.org/PostalAddress

[2014-07-30 14:11] danbri opened #2833 "Schema.org should document usage guidelines for Microdata 'itemid'"
Migrating from https://www.w3.org/2011/webschema/track/issues/6

From http://groups.google.com/group/schemaorg-discussion/browse_thread/thread/62117670d187559e?pli=1

Raised as

"The concept is defined in
http://www.whatwg.org/specs/web-apps/current-work/multipage/microdata.html#global-identifiers-for-items
and means that you can do things like

<p itemscope itemtype="http://schema.org/Person"
ite

[2014-07-30 15:33] unor opened #77 "Use "link" instead of "meta" element for URLs"
Some (?) examples use a `meta` element for providing a URL. Instead, a `link` element should be used.

Example on http://schema.org/WebSite:

    <meta itemprop="url" content="http://www.example.com/"/>

    <meta property="url" content="http://www.example.com/"/>

----

According to HTML5 (W3C WD), the [`meta` element](http://www.w3.org/TR/2014/WD-html5-20140617/document-metadata.html#the-meta-el

[2014-07-31 18:57] unor opened #78 "Show multiple types (e.g. enhance h1 (breadcrumb) so that it shows all parent types)"
Before I realized that types can have *several* parents, I was really confused why [LocalBusiness](http://schema.org/LocalBusiness) shows me sometimes the breadcrumb "Thing > Place > LocalBusiness" and sometimes "Thing > Organization > LocalBusiness".

I think it would be nice to represent this fact also in the breadcrumb on top of the page (and not only *indirectly* in the property table).

A sim

[2014-08-12 16:12] danbri opened #81 "docs/schema_org_rdfa.html has href="dc:Event" instead of @resource"
This issue is a duplicate of https://github.com/rvguha/schemaorg/issues/70
1. the RDFa syntax is wrong - href doesn't expect qualified names
2. the namespace is wrong; Event is is dc's type namespace.

http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms#dcmitype-Event

The RDFa initial context file doesn't define a prefix for dcmi-type, http://www.w3.org/2011/rdfa-context/rdfa-1.1

The

[2014-08-12 16:21] danbri opened #82 "docs/schema_org_rdfa.html should declare MapCategoryType properly"
We should use this notation for MapCategoryType:
    &lt;div typeof="http://schema.org/BookFormatType" resource="http://schema.org/EBook"&gt;

Currently:     &lt;div typeof="MapCategoryType" resource="http://schema.org/ParkingMap"&gt;

Should be:
    &lt;div typeof="http://schema.org/MapCategoryType" resource="http://schema.org/ParkingMap"&gt;

Reported: http://lists.w3.org/Archives/Public/public-

[2014-08-12 16:32] #81 closed, assigned to nobody

[2014-08-12 17:54] danbri opened #84 "Transcribe equivalentProperty and Class mappings to Dublin Core"
We now reflect such mappings into per-term RDFa, and several have already been collected:

http://wiki.dublincore.org/index.php/Schema.org_Alignment/Telecon_20120514_Report

The simplest of these should be trivial to add.

Update: Dublin Core have a [draft list of mappings](http://dcmi.github.io/schema.org/mappings.html) - [see github](https://github.com/dcmi/schema.org/blob/master/mappings.html)

[2014-08-14 18:40] danbri opened #88 "Buyer / seller / provider redesign and cleanup"
Per http://lists.w3.org/Archives/Public/public-vocabs/2014Aug/0008.html the rough consensus of discussion leads us to proposal 'Beta' in https://www.w3.org/wiki/images/7/7e/ProviderSellerVocabularyRe-DesignProposal.pdf

"Proposal Beta
This alternative proposal attempts ... to use only the existing vocabulary. The changes instead would be
in the descriptions associated with existing terms and inten

[2014-08-19 05:32] #88 closed, assigned to nobody

[2014-08-19 14:58] danbri opened #99 "Usability/quality issues with Offer (price, gtin, ...)"
http://schema.org/Offer
http://schema.org/price

(originally relayed from a  colleague, Matthias)
# Fixed already:
- [x] price field, can we say something clearer about localization (use of €, $ symbols, '.', ',' for decimal vs 1000s, @content?). e.g. $ is ambiguous
- [x] we could point out '.' vs ',' are ambiguous (http://en.wikipedia.org/wiki/Decimal_mark#Hindu.E2.80.93Arabic_numeral_system).
-

[2014-08-19 20:51] danbri opened #100 "Thing's image property description needs updating"
the description still reads "URL of an image of the item."
Should be "An image of the item (e.g. URL, or described inline as an ImageObject)." or similar.

/cc @dbs

[2014-08-19 21:06] danbri opened #101 ""supercedes" spelling: "supersedes" is more mainstream"
e.g. see http://brendanscott.wordpress.com/2013/02/21/supersede-v-supercede-proof-by-google/

While "supercedes" isn't out-and-out wrong, it is significantly less conventional than "supersedes" (regardless of US vs EN English usage).

See also http://www.dailymail.co.uk/news/article-1049010/Cant-spell-Maybe-youre-clever-says-Collins-dictionary.html

"Many of us wrongly come up with ' supercede' be

[2014-08-25 22:09] unor opened #104 "Should 'Role' be an expected type of 'member'?"
The example on [`SportsTeam`](http://schema.org/SportsTeam) uses a value of [`OrganizationRole`](http://schema.org/OrganizationRole) for the `member` property. But [`member`](http://schema.org/member) expects "`Person`  or `Organization`", while `OrganizationRole` is "`Intangible` > `Role`".

The description of [`Role`](http://schema.org/Role) (if I understand it correctly) seems to explain that t

[2014-08-26 01:12] #104 closed, assigned to nobody

[2014-08-27 23:00] #70 closed, assigned to nobody

[2014-08-28 13:48] danbri opened #109 "StructuredValue description is confusing"
"If you are messing around near StructuredValue, it would probably be worthwhile to fix up the comment on StructuredValue, which says that structured values are strings, but all the subclasses of StructuredValue are not strings." -- http://lists.w3.org/Archives/Public/public-vocabs/2014Aug/0205.html

http://schema.org/StructuredValue "Structured values are strings—for example, addresses—that have

[2014-08-29 08:32] danbri opened #110 "Blog type mis-presented in site"
http://schema.org/Blog looks wrong - not showing breadcrumbs.
(Someone kindly reported this in email which I can't find right now to acknowledge -but thanks!)

Here are the triples in the schema.rdfa file for both Blog type (which isn't working) and BlogPosting (which is) :

rdfa schema.rdfa | grep Blog

http://schema.org/BlogPosting http://www.w3.org/2000/01/rdf-schema#label "BlogPosting" .
http:

[2014-09-03 13:17] #82 closed, assigned to nobody

[2014-09-04 07:35] danbri opened #112 "downvoteCount, upvoteCount definitions should mention Comment type"
http://schema.org/downvoteCount
http://schema.org/upvoteCount
http://schema.org/Comment

Via JasonJ: re https://schema.org/Comment "the property descriptions for downvoteCount and upvoteCount are specific to Question but the properties apparently apply to comments as well."

Also maybe "The parent of a question, answer or item in general." -> "The parent of a question, answer or comment item in ge

[2014-09-04 14:11] danbri opened #113 "Improvements to Geo-related schemas (e.g. GeoShape) liase with GeoJSON(-LD), W3C GeoSpatialWG et al."
http://schema.org/GeoShape
http://schema.org/box
http://schema.org/polygon

See discussion at https://github.com/geojson/geojson-ld/issues/28

Original text: "See http://geowanking.org/pipermail/geowanking_geowanking.org/2012-June/026179.html
Schema.org's design came via rNews from GeoRSS, and there from GML. It needs a fresh look."

This is now a meta bug for improvements to schema.org's geo(spat

[2014-09-04 15:20] scor opened #114 "Set schema:logo and schema:photo as subproperties of schema:image"

[2014-09-08 20:45] danbri opened #116 "We should credit opendomain for the domain name"
My bad for not having done this already. --Dan

[2014-09-11 05:01] athalhammer opened #118 "Content negotiation"
Hi,

I was wondering if it would make sense to consider different RDF serializations as a possible output format rather than RDFa only. This could happen via content negotiation. If you are a search bot and you would like to get some more information about the underlying schema you would ask most vocabulary pages in a way similar to the following:

    curl -H "accept: application/rdf+xml" "http:/

[2014-09-11 19:21] ekgs1 opened #119 "Add details to the property Global Location Information in Organization"
Links have been provided to GS1 pages on GTIN8, GTIN13 and GTIN14 in Offer and Product. It would be helpful as well to add links to GS1 information on the Global Location Number in the Organization class. These are the links to the GS1 Global Data Dictionary definition for GLN as well as the GS1 GLN Summary:

http://apps.gs1.org/GDD/glossary/Pages/Global%20Location%20Number%20(GLN).aspx
http://www

[2014-09-12 07:21] #116 closed, assigned to danbri

[2014-09-12 07:39] #101 closed, assigned to danbri

[2014-09-12 07:41] #110 closed, assigned to danbri

[2014-09-12 08:19] danbri opened #120 "Explore adding link to Role into per type, per property navigation boilerplate"
Investigate linking to Role into the boilerplate of per property (e.g. http://schema.org/member ) and per-type (e.g. http://schema.org/Person) navigation.

This is needed so that people know Role is an allowable type on most/all properties.

We also need to update the text of the Role type to link to the blog post. I'll file a separate bug on that since we've a few blog posts worth linking.

[2014-09-12 08:20] danbri opened #121 "Add links to relevant blog posts for Role, Action, Periodical, TV/Radio, etc."
We have good documentation in the blog that can't be found easily from the actual site.

[2014-09-12 08:29] #15 closed, assigned to nobody

[2014-09-12 13:33] danbri opened #122 "Evaluate addition of gtin12"
From https://plus.google.com/u/0/108052676511190204011/posts/e1MTjatEP7s
"With over 300,000 companies using GTIN12 (Known by most across North America as the U.P.C.), it's important to add this property ASAP! "

[2014-09-18 20:42] elf-pavlik opened #125 "Additions to Actions"
_i needed it as an example for my suggestion in http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0182.html_
# Additions to Actions

AuthoooAr: Vicki Tardif Holland (vtardif@google.com)
Last Edited: 20140909
## Background

As schema.org Actions are adopted by the community for everything from reserving a flight to listening to music, we are finding a need to describe new Actions and condit

[2014-09-19 02:52] #114 closed, assigned to danbri

[2014-09-19 03:06] scor opened #126 "http://schema.org/attendees is supersededBy itself"
We have this triple in the schema:

[code]

[2014-09-19 08:21] mfhepp opened #129 "False and True are subtypes of Boolean. They should be instances / enumerated values."
In the current version of schema.org, False and True are subtypes of Boolean. They should be instances /  enumerated values.

[2014-09-19 08:36] danbri opened #130 "Check/Fix status of True and False"
http://schema.org/True
http://schema.org/False

"One thing, though: In the current version of schema.org, False and True are subtypes of Boolean. They should be instances /  enumerated values."

Mostly recently pointed out by Martin Hepp, http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0191.html

(There's also the issue that such values very often show up as literals in data, even if the

[2014-09-19 12:16] mfhepp opened #131 "Include schema:Product in range of schema:category"
When we integrated GoodRelations, we skipped the category property for reasons I do not remember.

This should be fixed - simply add
```<span>Domain: <a property="http://schema.org/domainIncludes" href="http://schema.org/Product">Product</a></span>```

in the block for

```<div typeof="rdf:Property" resource="http://schema.org/category">```

This will also make this consistent with

http://www.hep

[2014-09-20 08:12] elf-pavlik opened #133 "CODE: support markdown (GFM) in http://schema.org/docs"
It could make it straight forward to work in github issues and wiki pages, and then once something matures move it to http://schema.org/docs/

You can find example of schema.org documentation done with GFM in #125

I could also help here with another example and rewrite http://schema.org/docs/actions.html in GFM #123

Nice Markdown(+GFM) guide (3min claim) available at: https://guides.github.com/f

[2014-09-20 09:41] elf-pavlik opened #134 "properly relate Product and Service (ProductOrService)"
http://schema.org/Product
http://schema.org/Service

from reply on public-vocabs thread _http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0229.html_ by @mfhepp

### TODO
- [ ] http://schema.org/Product
- [ ] http://schema.org/Service
- [ ] http://schema.org/BroadcastService

[2014-09-20 10:38] elf-pavlik opened #137 "replace interactionCount with interaction"
In one of last emails about differences between *potential* and *active/compleated* Action, I suggested introducing new property *interaction* which would supersede *interactionCount* -  http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0174.html

[code]

years) to: http://schema.org/interactionCount

*potentialAction* on Thing.

PotentialActionStatus

|| CompletedActionStatus

[2014-09-20 15:34] elf-pavlik opened #138 "Deprecate the entire UserInteraction sub-tree in favor of Action"
http://schema.org/UserInteraction

[search results for UserInteraction in public-vocabs archives](http://www.w3.org/Search/Mail/Public/search?keywords=UserInteraction&hdr-1-name=subject&hdr-1-query=&index-grp=Public_FULL&index-type=t&type-index=public-vocabs) *19 messages*

I raised while ago an issue about *UserInteraction* type and its subtypes. They seem like a left over from pre-Action work: h

[2014-09-23 19:06] danbri opened #139 "Add mappings from music (proposal) to music ontology"
Raw materials are in this thread: http://lists.w3.org/Archives/Public/public-vocabs/2014Jul/0002.html

I'll do this when merging this into schema.rdfa

/cc @vholland

[2014-09-25 21:42] awfuchs opened #140 "Description of Rating is inadequate"
http://schema.org/Rating

At http://schema.org/Rating, the description says "The rating of the video." However, Rating can apply to many non-video things including the microwave oven in the example on that same page.

[2014-09-29 10:48] Zinebb opened #141 "AggregateOffer type triggers error with the Structured Data Testing Tool"
When trying to debug a case on the Google's FR webmasters forum, I noticed a problem in the schema.org documentation:

The second example in https://schema.org/Offer triggers errors when tested with the Structured Data Testing Tool: http://www.google.com/webmasters/tools/richsnippets?q=uploaded:80050431808bb1e0607ce88eb20d2a05

Is this a markup error or is it a bug in the testing tool?
Should Aggr

[2014-10-02 11:00] unor opened #143 "Examples on openingHours should not use the 'time' element"
http://schema.org/openingHours

The examples on [`openingHours`](http://schema.org/openingHours) use HTML5’s `time` element:

    <time itemprop="openingHours" datetime="Tu,Th 16:00-20:00">Tuesdays and Thursdays 4-8pm</time>
    <time itemprop="openingHours" datetime="Mo-Su">Monday through Sunday, all day</time>

The values "Tu,Th 16:00-20:00" and "Mo-Su" don’t seem to be valid [according to W3C’s

[2014-10-03 14:24] danbri opened #144 "domain/description mismatch on 'logo'"
http://schema.org/logo
"A logo associated with an organization."

(also Brand, Place, Product types take "logo" property)

[2014-10-06 10:33] #125 closed, assigned to nobody

[2014-10-07 12:13] elf-pavlik opened #145 "serviceAudience vs. audience"
http://schema.org/audience
http://schema.org/serviceAudience

related email: http://lists.w3.org/Archives/Public/public-vocabs/2014Oct/0023.html

I would suggest removing serviceAudience and using generic audience. If some reasons exist for not doing so maybe at least defining serviceAudience as subPropertyOf audience?

[2014-10-10 15:53] unor opened #147 "'event' property is not only for events "associated with this place or organization""
The definition of the [`event` property](http://schema.org/event) says:

But this property can also be used for some actions (InformAction, InviteAction, JoinAction, LeaveAction, PlayAction), not only for places or organizations.

[2014-10-17 14:33] danbri opened #148 "Clarify how to represent a Series of VideoGame"
As we finalize the design for VideoGame, there is a need to clarify how a series of video games should be represented.

Related discussion: http://lists.w3.org/Archives/Public/public-vocabs/2014Oct/0061.html

Current rough consensus and best practice is that a series of video games can be linked to a specific game in that series using hasPart (or the inverse property: isPartOf).

However several d

[2014-10-23 14:38] danbri opened #149 "familyName and givenName property descriptions capitalize where they shouldn't."
Fixed in https://github.com/danbri/schemaorg/pull/22/files - thanks https://github.com/lanthaler :)

[2014-10-23 14:40] #149 closed, assigned to danbri

[2014-10-23 15:55] danbri opened #150 "Add rsvpResponse, additionalNumberOfGuests to RsvpAction"
Proposed by Vicki Tardif-Holland, http://lists.w3.org/Archives/Public/public-vocabs/2014Oct/0059.html

"Schema.org currently has an RsvpAction; however, it is not clear how to
send the actual RSVP response and the number of guests who will attend. To
that end, we propose adding the properties "rsvpResponse" and
"additionalNumberOfGuests".
See: http://sdo-actions.appspot.com/RsvpAction http://sdo-a

[2014-10-23 16:20] #150 closed, assigned to danbri

[2014-10-23 16:25] danbri opened #151 "Role should have roleName (text or URL) to avoid revisiting this use case."
See implementation from @dbs in https://github.com/rvguha/schemaorg/pull/146

Instead of http://schema.org/namedPosition (to be superceded) on http://schema.org/OrganizationRole we will have roleName on Role more generally.

From @dbs, """Per http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0331.html, offer a generic property on Role that can be used by sub-types of role to identify the r

[2014-10-23 16:55] danbri opened #152 "Add a music vocabulary inspired by MusicBrainz"
Vicki is leading the work on a substantial Music vocabulary. This issue tracks that.  This was blocked by the general work on Role and ItemList. See http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0292.html

[2014-10-23 17:41] #151 closed, assigned to nobody

[2014-11-06 17:09] danbri opened #153 "Remove "legacy" wording, now that site navigation handles supercededBy directly"
Early in the project we made a bulk change of many properties whose original name ended in 's', and which were superceded by a singular version. At the time there was no navigation support in the site for such situations, so the property descriptions had the phrase "legacy spelling; see singular form, ...".

These can/should all be cleaned up now, removing that phrase.

TODO list:

~/working/sdo/s

[2014-11-07 05:01] dbs opened #155 "SearchAction example uses "query-input" property that is not defined"
http://schema.org/SearchAction
http://schema.org/Action
http://schema.org/query
http://schema.org/potentialAction

From @dbs: "This was pointed out/buried in #53 in the long list of problems with the samples, but one of the examples for SearchAction happens to use "query-input" instead of the defined "query" property--and this is problematic because it also happens to be one of the most visible an

[2014-11-07 11:05] #147 closed, assigned to danbri

[2014-11-07 12:54] #144 closed, assigned to danbri

[2014-11-07 13:18] #126 closed, assigned to nobody

[2014-11-07 13:22] danbri opened #156 "tests/test_graphs.py should test supercededBy and inverseOf don't point to same thing"
We've fixed bugs recently in which inverseOf and supercededBy link some url to itself. This is easy to test with, see tests/test_graphs.py for similar cases handled via SPARQL.

This would be a great thing to have contributed btw. Just sayin' !

(Otherwise I'll get to it eventually :)

[2014-11-07 13:31] #153 closed, assigned to danbri

[2014-11-11 13:49] danbri opened #157 "Actions entry should cite http://schema.org/docs/actions.html"
There should be a clear path to the additional documentation.

[2014-11-12 10:09] danbri opened #158 "Markup examples use HTML <img> without alt attribute"
e.g. http://schema.org/Recipe just has src="bananabread.jpg".

[2014-11-12 11:52] danbri opened #159 "Suggested addition of 'utensils' to Recipe"
http://schema.org/Recipe

https://twitter.com/LeonieWatson/status/532499760905994240

[2014-11-13 16:00] danbri opened #160 "category should apply at least to Product, perhaps elsewhere"
http://schema.org/category

Currently: "Used on these types: Offer PhysicalActivity"

Propose at least adding Product, since it was intended for such usage. But there could be a case for using it more broadly.

[2014-11-13 17:17] danbri opened #161 "itemReviewed inverseOf review"
http://schema.org/itemReviewed
http://schema.org/review

What's the relationship, if any?

http://schema.org/itemReviewed
Values expected to be one of these types: Thing
Used on these types:  AggregateRating, Review

http://schema.org/review
Values expected to be one of these types: Review
Used on these types: CreativeWork, Offer, Organization, Place, Product

See also
- https://github.com/schemao

[2014-11-14 14:39] danbri opened #162 "Food Fighters -> Foo Fighters"
via @BreLozano on Twitter:
https://twitter.com/BreLozano/status/533070277047885824 "Included in http://schema.org  event examples is an interview with Dave Grohl and his up and coming band, "the Food Fighters""

data/examples.txt:    Dave Grohl and the Food Fighters about their new album, Rope

See also https://www.youtube.com/watch?v=kbpqZT_56Ns

Not sure how this happened but we should probably

[2014-11-17 16:47] danbri opened #163 "Add a DatedMoneyValue or similar construct, for non-price money structures"
There are cases (e.g. salary) where we want a mechanism for talking about an amount of money, perhaps time-qualified.

Suggestion discussed amongst the schema.org founders was to add a new type, to avoid stretching the price-related types. Therefore DatedMoneyValue or (for parallel with Price-based types), DatedMoneySpecification. Also a supporting property "currency", which is analagous to http:/

[2014-11-17 19:24] danbri opened #164 "docs/extension.html is out of date, should be marked as such or fixed"
http://schema.org/docs/extension.html
... Is painfully out of date.

Implementors deserve a more modern account, or at least a status: 'outdated' flag on this page.

[2014-11-17 22:34] LjWatson opened #165 "Ambiguous description of 'ingredients', 'recipeInstructions' in Recipe"
http://schema.org/ingredients
http://schema.org/recipeInstructions

The description of the "ingredients" property in the Recipe schema is "An ingredient used in the recipe".

The property name is plural and the description singular, which makes its scope ambiguous. Should the property be applied to a collection of ingredients, or to an individual ingredient, or doesn't it matter?

Suggest changing

[2014-11-17 23:09] jvandriel opened #166 "mainContentOfPage should be removed from the ItemList examples"
The first of the Itemlist examples in http://sdo-venkman.appspot.com/ItemList wrongly shows the use of the 'mainContentOfPage' property:

a] 'mainContentOfPage' is only supposed to be used on schema.org/WebPageElement (and it's subClasses)
b] 'mainContentOfPage' is part of a discussions surrounding 'MainEntity' and 'WebPageElements' (a discussion which still needs to be continued). Current use of

[2014-11-17 23:12] #166 closed, assigned to nobody

[2014-11-17 23:12] jvandriel opened #167 "mainContentOfPage should be removed from the ItemList examples"
The first of the Itemlist examples in http://sdo-venkman.appspot.com/ItemList wrongly shows the use of the 'mainContentOfPage' property:

a] 'mainContentOfPage' is only supposed to be used on schema.org/WebPageElement (and it's subClasses)
b] 'mainContentOfPage' is part of discussions surrounding 'MainEntity' and 'WebPageElements' (a discussion which still needs to be continued). Current use of th

[2014-11-18 14:17] twamarc opened #168 "Typo error to be fixed: http://schema.org/clincalPharmacology"
This was submitted along ago with medicalEntity extension proposal, to be fixed. As It's taking time for the proposal to be adopted in schema.org, we should maybe fix this typo error as urgent and keep waiting the proposal to be accepted separately.
http://schema.org/clincalPharmacology to http://schema.org/clinicalPharmacology
Am looking for other similar  points throughout the vocabulary.

[2014-11-18 15:08] danbri opened #169 "Add vocabulary to support (Video)Game description, refine description of "Game""
Original thread, http://lists.w3.org/Archives/Public/public-vocabs/2014May/0149.html
(Yuliya Tikhokhod, 15 May 2014)

As of Nov 18th, this work is almost complete. This issue tracks a final concern which is our definition of "Game". In the candidate release sdo-venkman public comments suggested that the type "Game" had overly-specific text (see http://lists.w3.org/Archives/Public/public-vocabs/201

[2014-11-18 16:25] #167 closed, assigned to danbri

[2014-11-18 16:48] vholland opened #170 "Clean up Comment vs UserComments vs CommentAction"
http://schema.org/Comment
http://schema.org/CommentAction
http://schema.org/UserComments

Schema.org currently has three overlapping types:

Comment: A subtype of CreativeWork described as "A comment on an item". Oddly enough, it does not allow for including the body of the comment. One can only describe the comment (e.g. author, date published, etc.)

CommentAction: "The act of generating a comme

[2014-11-18 19:04] samuelgoto opened #171 "Remove Class from the range of query on SearchAction."
http://schema.org/Class
http://schema.org/SearchAction

SearchAction currently takes a query that might potentially be of type Class. We should change that to take a Thing instead.

This was a typo in one of the proposals we originally made, and it was meant to denote searching for "class of things" like "books". We have, however, moved on to a simpler approach where "class of things" are defined

[2014-11-18 19:05] samuelgoto opened #172 "Deprecate the entire UserInteraction sub-tree in favor of Action"
This was part of one of the early Action proposals [1] and is still relevant.

UserComment, specifically is a major source of concern, with confusion between Comment, CommentAction and UserComment.

[1]

https://docs.google.com/a/google.com/document/d/1VYZ9FmN7Vl2PzzR1kX3KZgfdPK-qUfxR3z12NC3i5V0/edit

[2014-11-18 21:32] #172 closed, assigned to nobody

[2014-11-19 22:17] jvandriel opened #173 "Show all types on the 'Full list of types' page"
Currently the 'Full list of types' page (http://schema.org/docs/full.html) doesn't show all types, making types like http://schema.org/Patient or http://schema.org/NewCondition very hard to find, unless you know what named entity you're looking for upfront.

Secondly the pages for those types don't contain any property tables nor an obvious link that says 'view this type's properties'. So when som

[2014-11-20 12:26] danbri opened #174 "No subtype need redeclare domainIncludes, rangeIncludes of its parents."
For legacy/implementation reasons, we had a lot of redundancy around the TV/Radio Series area. Such hacks are no longer needed, and we are cleaning out unnecessary domainIncludes and rangeIncludes triples from the RDFS.

However as Tom Marsh points out ("TVSeries still has endDate") in the Series discussion (http://lists.w3.org/Archives/Public/public-vocabs/2014Nov/ ... post yet to be archived) it

[2014-11-20 14:24] danbri opened #175 "Mark several properties as sub-properties of hasPart / isPartOf"
From Tom Marsh via  public-vocabs: "... there are a bunch of properties that seem redundant with hasPart and isPartOf (assuming I can use these to link from series to both episodes and seasons). Should we deprecate these? Examples are episode and season on the various Series subtypes, partOfSeason and partOfSeries on Episode, and partOfSeries on Season."

Context: http://schema.org/hasPart and its

[2014-11-20 16:07] #164 closed, assigned to danbri

[2014-11-20 16:08] #169 closed, assigned to nobody

[2014-11-20 16:08] #163 closed, assigned to danbri

[2014-11-20 16:12] #157 closed, assigned to danbri

[2014-11-20 16:14] #173 closed, assigned to nobody

[2014-11-20 16:22] #148 closed, assigned to danbri

[2014-11-20 16:28] #152 closed, assigned to danbri

[2014-11-20 17:37] #175 closed, assigned to danbri

[2014-11-20 18:29] samuelgoto opened #176 "Clarifying and formalizing PropertyValueSpecification to allow options"
http://schema.org/PropertyValueSpecification
http://schema.org/potentialAction

   Back in April we wrote down [2] on the action spec [1] a mechanism to allow enumerations of possible values that goes in -inputs, but we never formalized it in the schema.

  This is coming back on a few threads (one of them with Michael/Alex from Yandex, CC-ed, the other goes hand in hand with the RsvpAction propos

[2014-11-20 21:37] danbri opened #177 "Every example should have a unique ID"
Since we have multiple (potentially independently developed) example files, we should take steps to avoid clash. I propose IDs that are {letters}{numbers}, e.g. main examples might be ex1 ex2 ex3, whereas a separate file of sports examples might be sport1, sport2, etc.

Without this we have no way to talk about our examples, and no convention for dumping them out into one-per-file representations

[2014-11-20 21:38] danbri opened #178 "We should bundle a version of rdflib so that our tests run everywhere"
It's not a huge codebase, and I'd rather we were self contained and had a standard discipline that involved actually parsing our own examples.

[2014-11-20 21:40] danbri opened #179 "Every property and enum'd value should have an example attached."
Although the examples file format uses the word 'TYPE:', it also works on per-property pages. Since we have 100s of examples it is a great pity not to show them to illustrate properties.

(migrated in from https://www.w3.org/2011/webschema/track/issues/28 )

[2014-11-20 21:41] danbri opened #180 "Schema.org terms in examples should be hyperlinked"
Probably. It would be nice to try an example to see how it looks and behaves. But this could give a nice alternate way to navigate across the site.

[2014-11-20 21:47] danbri opened #181 "Consider an rdfs:comment sub-notation such as _Foo_ that can be auto-hyperlinked"
Currently we have to entity-escape HTML anchor syntax to link from the term definition to another schema.org term. We should consider a notation that makes this easier, less error prone, and readable in the RDFS. Perhaps there are conventions that could be borrowed from Markdown?

I don't see anything perfect in http://daringfireball.net/projects/markdown/syntax#link although _foo_ is supposed to

[2014-11-20 21:50] danbri opened #182 "Add to RDFS conventions for see-also-issue-tracker, or see-also-documentation link"

[2014-11-21 19:48] danbri opened #183 "Add domainIncludes RsvpAction to comment property"
http://schema.org/RsvpAction

It has been suggested that RsvpAction descriptions would benefit from having ability to associate a comment.

See also a similiar point in #300 and ReplyAction and Answer from @vholland

[2014-11-23 13:12] unor opened #184 "Some Microdata examples use a 'content' attribute for 'span'"
(Coming from this Stack Overflow question: [HTML5 microdata: span content?](http://stackoverflow.com/q/27088904/1591669))

http://schema.org/Book contains Microdata examples containing

[code]

But a `span` element can’t have a `content` attribute in Microdata (contrary to RDFa).

[2014-11-24 15:59] danbri opened #186 "Meta bug for expressivity and syntax issues around opening/closing hours"
Schema.org has several mechanisms related to opening / closing hours; these have expressivity gaps and other inclarities. Let's collect those here, with details in other related bugs if needed.

Brief overview:

Opening Hours
1. http://schema.org/openingHours the informal domain-specific language for common cases
2. http://schema.org/openingHoursSpecification (a property) + http://schema.org/Openi

[2014-11-26 13:50] danbri opened #187 "An example for 'duration' syntax is needed"
http://schema.org/duration

It is crazy hard to figure out what values are needed for the 'duration' property, i.e. the 'Duration' type. I suggest we add an example showing it.

For e.g.

[code]

[2014-11-26 16:21] pierrefar opened #188 "Make the telephone property more structured (not just Text)"
http://schema.org/telephone

http://schema.org has machine-readable DataType values for dates, prices, etc. The schema.org/telephone property has an expected value of Text, which is freeform and ambiguous.

It would probably better to have the expected value be stricter, following one of the standard phone formats like E.123 or similar:

http://en.wikipedia.org/wiki/E.123

[2014-11-30 15:28] #158 closed, assigned to nobody

[2014-11-30 15:58] danbri opened #189 "(offtopicish) should rdfa, microdata parser toolkits extract @alt?"
Recording a spin-off question from https://github.com/rvguha/schemaorg/issues/158 -

"We might also want to consider whether Microdata and RDFa parsers should be extracting the alt text as an extra/service, but that's another issue."

[2014-12-10 19:44] danbri opened #191 "Rating text is inappropriately Video-specific"
http://schema.org/Rating "The rating of the video."

Looks like a simple bug/mistake. We should generalize this to item/thing.

e.g. "A rating of something"

(Thanks Tatsiana!)

[2014-12-10 21:02] danbri opened #192 "authorName"
We say in http://schema.org/docs/datamodel.html

"We also expect that often, where we expect a property value of type Person, Place, Organization or some other subClassOf Thing, we will get a text string. In the spirit of "some data is better than none", we will accept this markup and do the best we can."

this is often seen with 'author' or 'creator' taking string values instead of being a 'name'

[2014-12-11 11:39] #191 closed, assigned to danbri

[2014-12-11 14:33] danbri opened #193 "'review' and 'aggregateRating' omit Event, Brand, Service"
http://schema.org/review
http://schema.org/aggregateRating
http://schema.org/Event

1. it seems perfectly legit to review and rate an Event (e.g. theatre performance, concert etc.).
2. reviews can be expressed using itemReviewed, but not via 'review', which is just silly. See also https://github.com/rvguha/schemaorg/issues/161

[2014-12-11 19:32] #18 closed, assigned to nobody

[2014-12-11 21:26] westurner opened #195 "Course, CourseInstance, EducationEvent [Schema.org Course Extension]"
- [x] Thing > CreativeWork > Course https://schema.org/Course
- [x] Thing > Event > CourseInstance https://schema.org/CourseInstance
- [x] Thing > Event > EducationEvent https://schema.org/EducationEvent

.

- | Project: https://www.w3.org/community/schema-course-extend/
- | MailingList: https://lists.w3.org/Archives/Public/public-schema-course-extend/
- | Wiki: https://www.w3.org/community/schema

[2014-12-11 21:44] westurner opened #196 "Plurals"
A method of specifying plurals could be helpful for UI generation:

e.g. 'Course' plural: 'Courses'@en

[2014-12-12 12:58] westurner opened #197 "ENH: Always generate updated RDF, OWL, JSON-LD"
This has been requested a number of times on the mailing list and on Twitter.

~~RDF and OWL could/should be added to a Makefile (or a comparable Python script).~~

RDF and/or OWL could also be generated on-demand by api.py, in addition to the schema transformations maintained by TopBraid.

It is unreasonable and wasteful to expect end-users to parse/scape and transform this RDFa, every time, them

[2014-12-12 13:38] westurner opened #198 "DOC,BUG: schemaorg.owl OWL does not validate"
schema.org OWL ontology fails to validate:

* http://schema.org/docs/schemaorg.owl
* https://raw.githubusercontent.com/rvguha/schemaorg/master/docs/schemaorg.owl
* https://github.com/rvguha/schemaorg/commits/master/docs/schemaorg.owl

Validators:

1. http://mowl-power.cs.man.ac.uk:8080/validator/

2. ~ RDFlib rdfpipe (`pip install rdflib`)

[code]

SeeAlso: #197 "BLD: Always generate RDF, OWL, JSO

[2014-12-12 23:40] gkellogg opened #200 "MovieGameSeries referenced, but isn't defined."
schema:trailer lists domain of schema:MovieGameSeries, which is not defined.

[2014-12-13 02:22] westurner opened #201 "ENH: Add an #examples deep link for linking to examples"

[2014-12-14 20:08] edwardmp opened #203 "Missing comma in Flight example"
Hi,

I noticed the example on the page http://schema.org/Flight is missing a comma, making it invalid JSON-LD.

The comma is missing after the "seller" block:
[code]
I confirmed the invalidation by using http://json-ld.org/playground/index.html.

By the way, it would be useful if an aircraft registration number (tail number) could be added to aircraft/vehicle (http://schema.org/aircraft).

[2014-12-15 17:26] danbri opened #204 "Add VisualArtwork vocabulary based on proposal"
From https://www.w3.org/wiki/WebSchemas/VisualArtwork

https://github.com/danbri/schemaorg/pull/30

[2014-12-17 17:14] Dataliberate opened #205 "Description of headline property shows its newspaper heritage"
http://schema.org/headline

Currently "Headline of the article".

Not all CreativeWorks that have a headline are necessarily articles.

Suggested alternative "Headline or initial brief description or title at the top or beginning of an article or group of creative works"

[2014-12-18 23:06] danbri opened #206 "Clarify Rating e.g. itemReviewed should be applicable to Rating; make Rating a CreativeWork?"
http://schema.org/Rating

http://schema.org/itemReviewed is attached to AggregateRating and Review. I can't see how you'd indicate a simple (and non-aggregate) Rating without packaging it in a Review, unless we add:

Rating domainIncludes itemReviewed.

See also:
- #140 (closed in favour of this issue)
- https://github.com/schemaorg/schemaorg/issues/161 itemReviewed inverseOf review

[2014-12-25 12:42] redaktor opened #207 "Missing /Bridge as subclassOf /CivicStructure"
http://schema.org/CivicStructure

[2014-12-28 21:20] danbri opened #208 "Add more export formats (e.g. as offered but obsolete at schema.rdfs.org)"
schema.rdfs.org offers JSON and CSV views of schema.org. However it is un-maintained. We are now reasonably well set up to do more of this kind of thing within schema.org itself than when both sites were first launched.
- [ ] JSON(-LD)
- [ ] Turtle https://github.com/schemaorg/schemaorg/issues/317
- [ ] CSV
- [ ] Other?

[2014-12-29 09:02] jaw111 opened #210 "RDFa markup of properties does not include schema:rangeIncludes"
In the HTML the hyperlinks in the `Values expected to be one of these types` table do not have the `property` attribute. See for example [schema:depth](http://schema.org/depth).

The links should be like this:

    <a href="Distance" property="rangeIncludes" title="The 'depth' property has values that include instances of the 'Distance' type.">Distance</a>

[2015-01-02 16:25] msamoylov opened #212 "A typo in the JobPosting example"
http://schema.org/JobPosting

http://schema.org/JobPosting contains a typo: "Design and write specifications for tools for in-house c**o**st**u**mers"

[2015-01-05 11:32] danbri opened #213 "eligibleRegion and ineligbleRegion have different associated types"
http://schema.org/eligibleRegion
http://schema.org/ineligibleRegion

eligibleRegion is applicable on more types, but fails to allow Place.

ineligibleRegion is applicable on fewer types (not Demand or DeliveryChargeSpecification), and anticipates Place but not GeoShape, Text.

There is no obvious reason for these properties to vary.

Exact proposal:

* [ ] Add: http://schema.org/ineligibleRegion d

[2015-01-05 20:10] danbri opened #214 "typo in ItemList"
http://schema.org/ItemList

The Bob Dylan example on http://schema.org/ItemList has one of the fields (name) missing quotes:
"""
      "@type": "ListItem",
      "position": 5,
      "item": {
        "@type": "MusicRecording",
        "name": If Not For You,
        "byArtist": {
          "@type": "Person",
          "name": "George Harrison"
        }
"""

[2015-01-05 20:44] jvandriel opened #215 "Expand the range of 'mainContentOfPage' to Thing"
http://schema.org/mainContentOfPage

Being able to indicate the main Entity of a WebPage has been discussed several times during 2014 yet nothing has been done about it so far.

The general consensus was that it should be possible to indicate which entity on a WebPage is  considered to be the 'main entity'. The discussion then continued to be about whether the range for 'mainContentOfPage' should

[2015-01-06 13:44] danbri opened #216 "Schema.org has no way to describe invoices/bills, add Invoice type + vocab"
See proposal from Vicki, http://lists.w3.org/Archives/Public/public-vocabs/2014Dec/0031.html

"Schema.org currently has http://schema.org/Offer for offering items for
sale/lease. It has http://schema.org/Order to model when a purchase has been made,
but there is no type for marking up Invoices requesting payment.

To that end, we are proposing adding a new type: schema.org/Invoice where
an invoice

[2015-01-06 21:51] danbri commented on #198
@westurner we already link to the main URL, hyperlinked as "See also TopBraid's version.". I'd rather leave it to their page to track specific variants, formats etc in case they change.

[2015-01-07 09:20] jaw111 opened #217 "The rdfs:subClassOf links in RDFa markup have room for improvement"
For example the RDFa on http://schema.org/Blog states:

[code]

Whereas one would expect:

[code]

Furthermore on the pages for datatypes the values for rdfs:subClassOf are literals, for example http://schema.org/URL states:

[code]

Whereas one would expect:

[code]

[2015-01-07 09:46] jaw111 opened #218 "Improve model for schema:DataType"
http://schema.org/DataType

In relation to #217 it would seem from the current hierarchy that schema:DataType is the super-class of schema:Boolean, schema:Date, etc.

This would infer that any literal value is a schema:DataType, which seems illogical.

It would seem more logical that:

- the existing datatype classes have type schema:DataType rather than be a sub-class of it
- a top-level class sc

[2015-01-07 14:56] westurner commented on #198
Thanks. Closing.

seeAlso: "Link to TopBraid Schema.org OWL versions #62"

[2015-01-07 14:56] #198 closed

[2015-01-07 18:41] g-ortuno opened #219 "AudioRepresentation for Thing"
Right now [Thing](http://schema.org/Thing) has an [image property](http://schema.org/image). What about including an AudioRepresentation as a possible property of Thing?

[2015-01-08 12:19] elf-pavlik opened #220 "more examples for Action (illustrating use of potentialAction, actionStatus, result)"
http://schema.org/Action
http://schema.org/potentialAction
http://schema.org/actionStatus

I start this issue to track work on enhancing quality and quantity of examples for _Action_, especially providing versions for those used for _potentialAction_ and transition between various statuses. Also illustrating better how to relate _Action_ to its _result_.
We can also include equivalents for example

[2015-01-08 20:43] marcinant opened #221 "No relationship between Organization/LocalBusiness and WebSite/WebPage"
http://schema.org/Organization
http://schema.org/LocalBusiness
http://schema.org/WebSite

I would like to build website for some LocalBusiness which has aggregateRating and priceRange.

These properties are detected properly by Google Structured Data Testing Tool. I can see stars and price range data.

However I would like to set up schema properties for WebSite elements. Unfortunately I cannot se

[2015-01-12 16:49] unor opened #222 "'producer' and 'Organization'"
http://schema.org/producer

The description of the [`producer` property](http://schema.org/producer) currently is:

Problems:

* It says "person or organization", but it lists only `Person` under "Values expected to be one of these types", not `Organization`.

* In addition to `CreativeWork `, it lists `Organization` under "Used on these types". But can an organization have a producer?

Maybe `Org

[2015-01-13 11:36] danbri opened #223 "Document examples with CSS"
It would be useful to have show examples in which content is also styled with CSS (at least Microdata and RDFa).

See also http://css-tricks.com/attribute-selectors/ https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors  http://caniuse.com/#feat=css-sel2 http://caniuse.com/#feat=css-sel3 http://stackoverflow.com/questions/19778151/targetting-itemprop-in-css

[2015-01-14 17:21] chaals commented on #196
Lots of languages have complications for plurals, including case and gender.
When counting things Russian has one form for 1, 21, 31, 41, … a second one for 2-4, 22-24, 32-34, 42-44, … and a different one for the remaining number of things, or for indeterminate numbers.
I'm not sure a "pluralLabel" is a good idea, and I would rather leave it to SKOS to suffer the pain…

[2015-01-14 22:06] danbri opened #224 "openingHours values are not Duration since it isn't an ISO 8601 Duration"
http://schema.org/openingHours

We should specify its weird syntax properly, but for now I'd suggest changing range to "Text".

[2015-01-15 17:23] westurner commented on #196
Got it. Thank you for clarifying.

[2015-01-15 17:29] danbri opened #225 "Add a schemaVersion property"
Proposal:
"The schemaVersion property is a relation between a CreativeWork (that typically contains structured data) and a specific version of a schema used in that document. The value can either be a version identifier string e.g. 1.2 or a URL to a (typically unchanging) snapshot of the document."

This is part of a larger proposal - see @danbri 's [mail to public vocabs 2014-01-29.](https://list

[2015-01-16 02:35] sesuncedu opened #226 "True/False are both instances *and* subclasses of Boolean"

[2015-01-16 02:57] sesuncedu opened #227 "Why does the range of toLocation fromLocation include Number?"
http://schema.org/toLocation
http://schema.org/fromLocation

@sesuncedu asks "Is this vestigial?"

[2015-01-16 07:20] akuckartz commented on #225
Is that really what is needed? Several vocabulary communities are discussing how versioning can be avoided.

[2015-01-16 07:22] akuckartz commented on #225
@lanthaler What is your view on this ?

[2015-01-16 09:51] danbri commented on #225
It's a hybrid approach, the core is an unversioned 'living standard' approach but with archived snapshots of releases. Some audiences (e.g. other standards efforts, or in conservative/cautious environments) are uncomfortable making unconstrained reference to works-in-progress, so this proposed property gives a mechanism that they can use without creating a proliferation of versioned type/property

[2015-01-18 19:06] sesuncedu opened #230 "URL shouldn't subclass Text"
URL is defined as a [Subclass of Text](https://github.com/schemaorg/schemaorg/blob/master/data/schema.rdfa#L3119)

This doesn't seem right; they are disjoint in XML, handled differently in microdata, and there are a lot of ranges that are (URL or Text), which should **not** be equivalent to Text.

[2015-01-18 20:48] lanthaler commented on #225
I think this a good compromise and agree with @danbri that the URLs should definitely stay version-less. I wonder if it wouldn’t make more sense to keep this more generic and just call it “version” instead of “schemaVersion”. Using “schemaVersion” to specify a “version of a schema used in that document” gives you too little information if you don't know what schema was used. Furthermore, what does

[2015-01-19 09:06] danbri commented on #225
Thanks. Calling it schemaVersion allows us to be more focussed and explicit
in documentation. Otherwise we end up saying something pretty woolly like
"the version number of this item" rather than talking about vocabularies
etc.

On 18 January 2015 at 20:48, Markus Lanthaler <notifications@github.com>
wrote:

[2015-01-19 09:08] danbri opened #231 "Change schema:valuePattern from range Number to Text"
http://schema.org/valuePattern

From http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0060.html

        On 19 January 2015 at 03:59, Holger Knublauch <holger@topquadrant.com> wrote:

+1

[2015-01-19 11:59] akuckartz commented on #225
The term `vocabularyVersion` might be a more easily understandable and reusable alternative to `schemaVersion`.

[2015-01-19 12:20] danbri commented on #225
The word "schema" pretty much comes with the territory around here!

FWIW at W3C back in 1999/2000 we considered renaming RDF Schema to avoid
that word, mostly due to clash of expecations with the XML community who
had begun work on XML Schema (see http://www.w3.org/TR/schema-arch etc.).
So for a while RDFS was entitled "RDF Vocabulary Description Language 1.0:
RDF Schema". But RDFS it remained, a

[2015-01-19 15:31] danbri opened #232 "2.4 children? We say Number where we mean Integer"
http://schema.org/numAdults
http://schema.org/numChildren
http://schema.org/additionalNumberOfGuests
http://schema.org/Integer
http://schema.org/Number
http://schema.org/LodgingReservation

We should review http://schema.org/Number "Instances of Number may appear as values for the following properties".

Also suspicious: http://schema.org/additionalNumberOfGuests ...

Reported by Simon Spero @sesu

[2015-01-19 16:13] danbri opened #233 "schema:purpose is poorly defined"
http://schema.org/purpose

[code]

Reported by Simon Spero @sesuncedu in http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0056.html

There is more at fault here than the range of the property (and https://github.com/schemaorg/schemaorg/blob/master/tests/test_graphs.py#L97 ought to have caught that, but didn't)

This looks to me like http://schema.org/purpose was repurposed from the origin

[2015-01-19 16:32] danbri opened #234 "schema:trailer rangeIncludes MovieGameSeries - should be domainIncludes"
In http://schema.org/trailer

        2: The range for schema:trailer includes MovieGameSeries

Reported by Simon Spero @sesuncedu in http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0056.html

This seems to be a (mistaken) domain:
    <http://schema.org/trailer> <http://schema.org/domainIncludes> <http://schema.org/MovieGameSeries> .

Editorial mistake, http://schema.org/MovieSeries was

[2015-01-19 16:35] twamarc commented on #233
+1 generalizing it (extending domain/range or shift it under 'Thing'.)
In the proposal this was not done:
http://demoschemed.appspot.com/purpose

To check vocab users to see if it is being used: just from my side, I am already using it in couple of instances, but this cannot prevent extending it as we can fix our model accordingly.

[2015-01-19 16:41] danbri opened #235 "musicBy property could be made applicable to more types"
http://schema.org/musicBy

        3: schema:musicBy has a much smaller domain than actor or director

Reported by Simon Spero @sesuncedu  in http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0056.html

http://schema.org/actor and http://schema.org/director are applicable on:

* Clip
* Episode
* Movie
* MovieSeries
* RadioSeries
* TVSeries
* VideoGame
* VideoGameSeries
* VideoObject

Where

[2015-01-19 17:14] progval opened #236 "Representing mathematical objects"
Is there any type that could be use for representing mathematical objects? (eg. a polynomial, and integer sequence, a formula, …)

[2015-01-19 17:28] danbri commented on #230
It's a little more awkward than that.

We tend to say 'rangeIncludes URL' as a hint that statements using that property will typically have a non-bNode URI-valued. This is a level at which RDFS has literally nothing to say, since it is about characteristics of a description rather than the thing described.

[2015-01-19 17:36] sesuncedu commented on #233
It's a lot easier to run tests in groovy or clojure w/ java, since you have a lot more tools and reasoners to work with. I haven't tried to configure Travis-CI for multiple independent build systems, but at worst its easy enough to do it in gradle.

[The real WTF is microdata forcing a flat namespace onto everything (except instances).
The medical vocabulary is the best / worst example... Microdat

[2015-01-19 18:22] sesuncedu commented on #230
Let me try and restate this to see if I roughly understand:

In / some, but not all cases / schema:URL / which is a subclass of datatype / is used to indicate that a value / should be  / something that could be declared in OWL to be a NamedIndividual / referring to an item (an instance of schema:Thing).

In / the remaining cases / schema:URL / is used to indicate that a value / should be / a liter

[2015-01-19 18:26] danbri commented on #233
Thanks Marc, Simon. On Simon's points:

RDFa and JSON-LD use flat namespaces too, right?

The site itself is Python-based and we might add rdflib as  dependency there, but dragging in java feels heavy. Nothing wrong with running additional tools of course. Gregg @gkellogg had some Ruby linter that also caught a bunch of problems, however I never got it running locally due to Ruby version pains.

[2015-01-19 18:38] gkellogg commented on #233
The main difference between RDFa, JSON-LD and Microdata is that Microdata only easily allows a single namespace, but it doesn't need to be flat. For example, you could do the following:

    <div itemscope='' itemtype="http://example.org/Person">
      <p>Name: <span itemprop="name/extension">Amanda</span></p>
    </div>

This also works in RDFa

    <div typeof="schema:Person">
      <p>Name: <sp

[2015-01-19 18:48] danbri commented on #236
We have not attempted that, but I would imagine MathML would be more appropriate than us inventing specific things in schema.org for this.

* http://www.w3.org/TR/MathML/
* https://html.spec.whatwg.org/multipage/the-map-element.html#mathml
* https://wiki.whatwg.org/wiki/MathML

I don't believe Microdata supports properties whose value is complex markup but RDFa might work. /cc @gkellogg @scor

Her

[2015-01-19 19:00] sesuncedu commented on #233
I would not add groovy & java to the running site; for the build process
it's a different issue.  Python dependency management is a squeaky pip
(jython simplifies this by having the package not work).
Ruby's gem system is generally surprisingly unsurprising.

Dependency management in java is pretty good (especially  if you don't
access it from maven).

Mapping domain and range  includes to owl uni

[2015-01-19 19:10] ProgVal commented on #236
Not exactly what I meant.

The use case I have in mind is I want to store an integer sequence (as stored in the [OEIS](http://oeis.org/)), which would be characterized by a formula, a name, a definition, a description, etc.
(I mean an infinite sequence, so http://schema.org/Enumeration is not suitable)

[2015-01-19 19:11] sesuncedu commented on #233
Microdata has the arbitrary restriction on "vocabulary" that applies even
if all property names are absolute, and sort of blocks the use of
abbreviated IRIs, unless you abuse URI schemes.

schema.org is somewhat trapped because of the / is subsumption hack.

[2015-01-19 19:21] danbri commented on #53
Ok @gkellogg I finally got the linter running locally. Do you have a script handy that unpacks and checks the schema.org examples?

[2015-01-19 19:27] scor commented on #53
@danbri side note: might be worth to run all the example through the new Google validator at https://developers.google.com/webmasters/structured-data/testing-tool/ - you might have a way to send all those examples in batch and get the warnings/errors back. Maybe you have already done so, in which case ignore this comment. Happy to create a new issue if not.

[2015-01-19 19:38] danbri commented on #53
Yeah, we should do that! Thanks for the nudge, it's already on my todo list...

[2015-01-19 19:45] gkellogg commented on #236
Microdata just recently [added support](http://www.w3.org/TR/microdata-rdf/#dfn-property-value) for <data> values to be interpreted as Integer or Double, if they parse according to xsd:integer, xsd:float, or xsd:double. Also the <meter> element uses the same rules.

Also <time> values can be interpreted as various XSD date, time and duration typed literals.

RDFa could capture the entire MathML by

[2015-01-19 19:49] gkellogg commented on #233
@sesuncedu said:

if all property names are absolute, and sort of blocks the use of
abbreviated IRIs, unless you abuse URI schemes.

Hmm, not sure where you see the restriction on `@itemprop` where the value is an absolute URI. Certainly, the Microdata to RDF spec will properly emit such properties.

From the Microdata spec:

The first just said defined by _a_ vocabulary, not necessarily the vocab

[2015-01-19 19:53] gkellogg commented on #53
From the linter directory, you can run `rake schema:warnings` which will generate `etc/schema-warnings.txt` over the examples included in the linter. These examples can be updated using `rake schema:examples` which takes them from Guha's master branch, but could easily be modified to take them from somewhere else.

[2015-01-19 19:57] thadguidry commented on #236
Working examples of MathML in practice can be found in section 6.7 of : http://natureofcode.com/book/chapter-6-autonomous-agents/

Schiffman's types in the book (thus far) can be found documented here: https://github.com/shiffman/The-Nature-of-Code-archive/blob/master/raw/chapters/math.asc

[2015-01-19 20:08] danbri commented on #53
Thanks Gregg! Note that Guha's master branch has graduated to an organization account within github now. Most Web links seem to redirect nicely, hopefully it will continue to work for you too.

-> https://github.com/schemaorg/schemaorg

There's still some admin/workflow setup to do but at least the basic shape of things is settling down.

[2015-01-19 20:42] sesuncedu commented on #233
It's the itemtype restriction - hence all the additionalType cruft, and the
need for absolute URI properties for all but the primary vocabulary.

There quite a few very odd ranges and definitions, caused by merging
independent vocabularies together...

[2015-01-19 21:40] danbri commented on #236
(I think that's http://www.mathjax.org/ rather than Chrome doing the rendering)

(great book btw:)

[2015-01-19 21:44] thadguidry commented on #236
@danbri Ah, your right.

[2015-01-19 21:47] danbri commented on #53
FYI the 'rake schema:examples' command wiped out the examples collection because sinatra-linkeddata failed (I think it wasn't installed properly)

[2015-01-19 22:16] danbri commented on #53
It needed

          gem install sinatra-linkeddata
          gem install active_support-custom_logger

... and then generates a load of (very useful) output, then appears to hang at schema.org/UpdateAction-163-jsonld.html, file is...  41665 Jan 19 22:14 etc/schema-warnings.txt

[2015-01-19 22:35] gkellogg commented on #53
Thanks, I'll update the dependencies and check out the UpdateAction issue.

[2015-01-20 00:51] gkellogg commented on #53
FYI, to run locally, run `bundle install`, then it will pull down all dependencies. I'll push up a change to the README.

Note that I have some fixes pending in PR #199 which you might want to pick up. I believe one of those fixes "solved" the JSON-LD hang.

If you do the `bundle install` and then `rake schema:warnings` it should run to completion.

[2015-01-20 08:49] danbri commented on #53
I used "bundle install --path vendor/bundler" per the readme.

[2015-01-21 10:20] danbri opened #237 "Re-evaluate possible controlled values (enums, subtypes) for applicationCategory"
http://schema.org/applicationCategory

See also https://developers.google.com/webmasters/structured-data/rich-snippets/sw-app

This vocab was originally proposed by a Google team - see https://www.w3.org/wiki/WebSchemas/SoftwareApplicationSchema - but when first incorporated into schema.org we trimmed it significantly, removing a hierarchy of application types. Google's Rich Snippets docs continue

[2015-01-21 10:34] danbri commented on #233
How about:

rangeIncludesHint as a property relating a Property to a Class representing a type that is a subtype of a rangeIncludes value but is particularly pertinent (e.g. might be explicitly indicated in UI).

For example,

        rdfa schema.rdfa | grep foodEstablishment
        <http://schema.org/foodEstablishment> <http://www.w3.org/2000/01/rdf-schema#comment> "A sub property of location. T

[2015-01-21 10:41] danbri commented on #226
For reference,

        danbri-macbookpro:data danbri$ rdfa schema.rdfa | grep '/True'
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#subClassOf> <http://schema.org/Boolean> .
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#label> "True" .
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#comment> "The boolean value true" .

[2015-01-21 10:52] danbri commented on #220
Thanks! do keep us posted on your investigations. Maybe Sam can take a look at https://github.com/danbri/schemaorg/pull/15  too?

[2015-01-21 10:53] danbri commented on #219
This sounds like something worth investigation. Oh dear, excuse the pun.

Do you have any examples of sites that publish this kind of information, or apps that might consume it?

[2015-01-21 10:54] danbri commented on #218
@rvguha can you take a look?

[2015-01-21 11:35] danbri commented on #215
We will address the underlying requirement, but it is unlikely we'll use the mainContentOfPage property to do this. The way mainContentOfPage is defined it is more about the actual markup elements in the page, rather than the underlying real world entity that is described by that markup. So I'll mark this 'wont fix' but will open another issue to track mainEntity discussions better. Thanks!

[2015-01-21 11:40] danbri commented on #206
On second thoughts I'm not sure about that commit. A Rating can't have an author/creator yet. Needs more thought.

[2015-01-21 11:43] danbri commented on #201
Thanks, that seems a reasonable thing to do!

(We'll have deep links to specific examples soon too, I committed the code for that late last year, now just need to assign the IDs.)

[2015-01-21 11:46] danbri commented on #197
Filing this in someday pile, will break out more specific issues where needed that are feasible near-term. We are unlikely to make an OWL version anytime soon, for example, whereas JSON-LD, maybe CSV, ... is more important.

[2015-01-21 11:49] danbri commented on #189
I was thinking out loud, @scor, but yes this could be propagated into the core specs or left as an added value non-standard flag within tools. The idea is to reduce the need to keep dropping back to the underlying HTML page to get things that weren't extracted as triples.

[2015-01-21 11:52] danbri commented on #184
We should also add a FAQ or Wiki page explaining the confusing situation w.r.t. @content in Microdata vs RDFa, and meta element in <body> in HTML5 vs earlier HTML versions.

[2015-01-21 11:54] danbri commented on #178
Maybe.

[2015-01-21 11:56] danbri commented on #168
Thanks! Oh dear...

I've assigned this to a release we're planning for Feb.

[2015-01-21 11:57] danbri commented on #161
One reason for the asymmetry is that we seem more comfortable with properties that take Thing as a value, than those applying to Thing. Not really logical but seems to fit with people's intuition.

[2015-01-21 12:00] danbri commented on #155
http://schema.org/Action now points to the blog post and the /docs/action.html doc.

I don't think there's an issue here; rather the concern is with weak documentation of the Actions mechanism (to which I'd include 404-handling of these pseudo-properties). So I'll mark this as a wontfix and let's continue within https://github.com/schemaorg/schemaorg/issues/220

Thanks Dan!

[2015-01-21 12:02] danbri commented on #220
I've marked https://github.com/schemaorg/schemaorg/issues/155 as a wontfix and indicated discussion should continue here. One point is that 404'ing pseudo properties like query-input is not helpful; we should catch those and give a sensible human-friendly explanation. So a little bit of python hacking is needed (hence I've added a 'python' label to the issue).

[2015-01-21 12:03] danbri commented on #145
@elf-pavlik 's proposal seems sensible to me. @vholland - any thoughts?

[2015-01-21 12:05] danbri commented on #143
I had a chat with Hixie about possibly getting HTML updated to allow this, if/when we get this micro-notation properly spec'd. But for now, I agree, time element is in-apropes.

[2015-01-21 12:07] danbri commented on #139
Let's get this done and blog about it at same time.

[2015-01-21 12:07] danbri commented on #138
Yes we should do this ASAP.

[2015-01-21 12:09] danbri commented on #137
Thanks for the detailed proposal. This clearly needs some attention now that Actions has shipped...

[2015-01-21 12:10] danbri commented on #134
I see a lot of discussion here. Would any of you care to summarize where you think we are on this issue?

[2015-01-21 12:12] danbri commented on #133
I'm filing this in the wontfix/someday pile, although I appreciate the suggestion and it is worth exploring. For starters I suggest we make it clear to those who like markdown how to convert to HTML for use on the site, and take it from there. The actions.html doc was exported from Google Docs, for example, and some people prefer word-processing environments for the commenting etc. I'm not sure we

[2015-01-21 12:15] danbri commented on #130
Another duplicate! https://github.com/schemaorg/schemaorg/issues/130

Let's fix this... I've asked for sanity check from @rvguha first in case the model was intended.

[2015-01-21 12:17] danbri commented on #129
Several duplications, closing this one.

* https://github.com/schemaorg/schemaorg/issues/130
* https://github.com/schemaorg/schemaorg/issues?q=is%3Aissue+is%3Aopen+True+False+

[2015-01-21 12:17] #129 closed

[2015-01-21 12:18] danbri commented on #130
For reference,

        danbri-macbookpro:data danbri$ rdfa schema.rdfa | grep '/True'
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#subClassOf> <http://schema.org/Boolean> .
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#label> "True" .
        <http://schema.org/True> <http://www.w3.org/2000/01/rdf-schema#comment> "The boolean value true" .

[2015-01-21 12:18] danbri commented on #226
Closing as duplicate of https://github.com/schemaorg/schemaorg/issues/130

[2015-01-21 12:18] #226 closed

[2015-01-21 12:21] danbri commented on #121
Done! Action, Role, etc. Shipped in schema.org/docs/releases.html#v1.92

 grep blog.schema.org schema.rdfa
      &lt;br/&gt;&lt;br/&gt;See also &lt;a href="http://blog.schema.org/2014/09/schemaorg-support-for-bibliographic_2.html"&gt;blog post&lt;/a&gt;</span>
      &lt;br/&gt;&lt;br/&gt;See also &lt;a href="http://blog.schema.org/2014/04/announcing-schemaorg-actions.html"&gt;blog post&lt;/a&gt;

[2015-01-21 12:21] #121 closed

[2015-01-21 12:23] danbri commented on #119
@ekgs1 - do you have a single preferred link? Ifwe add one link for GLN, which should it be?

Is https://en.wikipedia.org/wiki/Global_Location_Number accurate?

[2015-01-21 12:28] danbri commented on #119
(I've emailed Eric to ask advice too, awaiting reply...)

[2015-01-21 12:30] danbri commented on #112
see also https://github.com/schemaorg/schemaorg/issues/137

[2015-01-21 12:31] danbri commented on #100
Fixed in http://schema.org/docs/releases.html#v1.91 - thanks @dbs :)

[2015-01-21 12:31] #100 closed

[2015-01-21 12:33] danbri commented on #77
We should make these changes but also document the underlying situation more clearly.

[2015-01-21 12:35] danbri commented on #61
This mostly hurts nothing but our pride, but should get fixed. Suggest next step is a branch with failing test cases.

[2015-01-21 12:36] danbri commented on #54
See also Gregg's tooling, https://github.com/schemaorg/schemaorg/issues/53

[2015-01-21 12:37] danbri commented on #51
Not sure where we stand with this, maybe it was even fixed? Does anyone believe there is an outstanding problem?

For info the homepage content-negotiable JSON-LD context is also accessible here: http://schema.org/docs/jsonldcontext.json.txt

[2015-01-21 12:38] danbri commented on #5
Context file has been public for months. Here's a direct URL to the same data: http://schema.org/docs/jsonldcontext.json.txt

Can we close this or are there outstanding concerns?

[2015-01-21 13:07] danbri opened #238 "ContactPoint could be improved"
http://schema.org/ContactPoint

Migrating from http://www.w3.org/2011/webschema/track/issues/3

Somewhat vague as an issue, but also makes a reasonable point and worth noting:

"""Kurt Bollacker in http://lists.w3.org/Archives/Public/public-vocabs/2011Oct/0017.html raises some concerns
- schema (somewhere?) has ContactPoint as a StructuredValue but also various real world things; is this intended?

[2015-01-21 13:10] danbri commented on #130
Also noting from https://www.w3.org/2011/webschema/track/issues/14 there are reasonable questions about the actual property values. Whether 'true', 'false' literals should be documented as acceptable.

I won't open another issue as it is better to get a unified understanding here. Copying in Martin Hepp's original comments:

        From Martin Hepp in https://docs.google.com/document/pub?id=1Kx63

[2015-01-21 13:11] danbri commented on #130
Also Migrating notes from W3C:

        I talked to Ivan Herman, and we both thing simple text values 'true', 'false' ought to work ok in RDFa Lite as well as Microdata. It might not be formally datatyped but I think that's bearable.

        I took a look for properties that reference Boolean in the schema:

        TellyClub:alpha danbri$ grep -i Boolean _schema.nt
        <http://schema.org/isF

[2015-01-21 13:16] danbri opened #239 "thumbnail and thumbnailUrl seem synonyms"
http://schema.org/thumbnailUrl
http://schema.org/thumbnail

Migrating in from https://www.w3.org/2011/webschema/track/issues/8

[code]

We now have the supersedes mechanism.     suggest adding <span property="http://schema.org/supersededBy" href="http://schema.org/thumbnail"/> to thumbnailUrl.

See also https://github.com/schemaorg/schemaorg/blob/master/data/schema.rdfa#L8942

[2015-01-21 13:18] danbri opened #240 "Schema.org should say something about repeating events"
http://schema.org/Event

Either a markup model, a blog/wiki post, ... anything!

Migrating this old issue in from https://www.w3.org/2011/webschema/track/issues/11

See also http://www.w3.org/wiki/WebSchemas/RepeatingEvents  "Even if the conclusion is "describe each event individually", this should be documented."

[2015-01-21 13:21] danbri opened #241 "Guidance or vocab needed regarding Real Estate (property purchase, rental etc.)"
Migrating in from https://www.w3.org/2011/webschema/track/issues/13

There are various pages about real estate out there, and we periodically get questions about how schema.org might be applied. How to use Offer, Product; whether additional vocab is needed, etc.

This issue tracks the general topic and potential vocabulary or documentation improvements.

[2015-01-21 13:23] danbri opened #242 "Add mechanism for describing uncertain dates"
Migrated in from https://www.w3.org/2011/webschema/track/issues/16

Currently only exact dates and date ranges are possible. There are situations where something vaguer is needed to match existing data and apps:

        Use cases.

        1. Cultural heritage information (Museums, Libraries, Archives)

        " The current processing rules in the specification do not handle many valid ISO8601 d

[2015-01-21 13:24] danbri opened #243 "schema.org has NGO, EducationalOrganization, SportsTeam, GovernmentOrganization but not Labo[u]r Union"
http://schema.org/Organization

Migrated in from https://www.w3.org/2011/webschema/track/issues/17

[code]

(there's a draft proposal around somewhere in RDFa/RDFS too)

[2015-01-21 13:29] danbri commented on #78
Merging in the entry at https://www.w3.org/2011/webschema/track/issues/20

Originally raised by Jason Ronallo,

        http://lists.w3.org/Archives/Public/public-vocabs/2013Jan/0140.html from Jason Ronallo.

        "The schema.org documentation should show multiple inheritance chains
        when there are multiple parents for a type. For instance a Hospital is
        a CivicStructure, MedicalO

[2015-01-21 13:31] danbri opened #244 "add 'child' instead of 'children'"
http://schema.org/children

Migrating in from https://www.w3.org/2011/webschema/track/issues/21

[code]

[2015-01-21 13:31] danbri commented on #244
We should also dig out the family history proposal, which was never officially finalized (despite being v. useful)

[2015-01-21 13:34] danbri opened #245 "schema.org has two ways to represent openingHours - need unified documentation and cornercase tweak"
(e.g. how to say closed all day xmas)

We added a complex opening hours construct from Good Relations without documenting how it fits with the existing single property openingHours micro-notation. That was a mistake.

Migrating issue from https://www.w3.org/2011/webschema/track/issues/22

        http://schema.org/CivicStructure has openingHours, whose value is said to be a Duration,
        "The

[2015-01-21 13:35] danbri commented on #245
There are subtleties, e.g. how multiple entries interact, esp. when combining the two different approaches.

[2015-01-21 13:37] danbri opened #246 "Suggestion of an Organization subtype for non-profit / not-for-profit"
http://schema.org/Organization

Migrating in from https://www.w3.org/2011/webschema/track/issues/23

[code]

[2015-01-21 13:40] danbri opened #247 "Actions vocab mis-use of 'antagonym', confirm then change to 'antonym'"
http://schema.org/RejectAction
http://schema.org/AcceptAction
http://schema.org/LeaveAction
http://schema.org/ConfirmAction
http://schema.org/CancelAction
http://schema.org/CheckInAction
http://schema.org/CheckOutAction

Migrating in from https://www.w3.org/2011/webschema/track/issues/24

        Raised by Dan Scott @dbs  in http://lists.w3.org/Archives/Public/public-vocabs/2013Aug/0120.html

[2015-01-21 13:43] danbri opened #248 "Purposes of typicalAgeRange and audience overlap"
http://schema.org/typicalAgeRange
http://schema.org/audience

Migrating in from https://www.w3.org/2011/webschema/track/issues/25

Yuliya asks why we need property "typicalAgeRange" in schema.org/CreativeWork if we have "audience" where we can describe suggestedMaxAge and suggestedMinAge?

[2015-01-21 13:45] danbri opened #249 "contentLocation is ambiguous"
http://schema.org/contentLocation

"Discussing how to represent where a Movie was filmed, e.g. productionCountry. Discussing CreativeWork's existing contentLocation property, it is clear the text is ambiguous.

http://schema.org/contentLocation "The location of the content." (Place)

Is this where a book is currently located? In real life? Or about-ness, e.g. Pirates of the Caribbean is about the

[2015-01-21 13:50] danbri opened #250 "Add a unit test ensuring sentences end in '.'."
Migrated in from https://www.w3.org/2011/webschema/track/issues/29

[code]

We subsequently decided that descriptions end in '.', but labels do not.

SPARQL unit tests live here: https://github.com/schemaorg/schemaorg/blob/master/tests/test_graphs.py

[2015-01-21 13:52] danbri opened #251 "Schema.org should define how to use SKOS-like vocabularies"
Migrating in from https://www.w3.org/2011/webschema/track/issues/30

[code]

This also relates to the issues we sometimes discuss as 'external enumerations'.

[2015-01-21 13:52] danbri commented on #251
/cc @scor

[2015-01-21 13:53] danbri commented on #251
see also https://www.w3.org/2011/webschema/track/issues/31  Schema.org miniSKOS proposal needs careful design for LRMI targetUrl property

        "From Phil Barker, http://lists.w3.org/Archives/Public/public-vocabs/2013Nov/0128.html
        http://lists.w3.org/Archives/Public/public-vocabs/2013Nov/att-0128/00-part
        also on LRMI list, see https://groups.google.com/forum/#!topic/lrmi/jwgo02D

[2015-01-21 13:54] danbri commented on #138
Migrating in from https://www.w3.org/2011/webschema/track/issues/32

        From: ☮ elf Pavlik ☮ <perpetual-tripper@wwelves.org>
        Date: Mon, 25 Nov 2013 10:17:41 +0100
        Message-ID: <529315B5.6030301@wwelves.org>
        To: "public-vocabs@w3.org" <public-vocabs@w3.org>

        In http://lists.w3.org/Archives/Public/public-vocabs/2013Nov/0194.html

        """
        I noticed some

[2015-01-21 13:57] danbri opened #252 "case typo numberOf numberof"
Leftover from 2013 report by @scor migrated in from https://www.w3.org/2011/webschema/track/issues/34

        http://schema.org/numberofEmployees
        should be
        http://schema.org/numberOfEmployees

        cf. http://www.w3.org/wiki/WebSchemas/StackoverflowResearch#Numbering_properties

[2015-01-21 14:22] danbri opened #253 "rNews plans in 2015?"
We should check in with the rNews project to discuss vocabulary updates.

[2015-01-21 14:51] rvguha commented on #130
Looks fine.

On Wed, Jan 21, 2015 at 5:11 AM, Dan Brickley <notifications@github.com>
wrote:

[2015-01-21 14:58] danbri commented on #130
Status quo looks fine, or the suggestion to avoid having them as subtypes?

[2015-01-21 15:38] thadguidry commented on #222
The person or organization who produced the CreativeWork.

Inverse on Person would be workProduced - "The work produced by this Person".
Inverse on Organization would be workProduced - "The work produced by this Organization".

IMHO.

[2015-01-21 15:43] jvandriel commented on #215
WebPageElements, let's make sure we discuss those as well because ever
since you made a remark about maybe wanting to reconsider their usefulness
(as in markup for makup's sake) I have started doubting their usefulness as
well. So much that I'd like to discuss whether or not we should keep
schema.org/WebPageElement (and it's subClasses) or not.

2015-01-21 12:35 GMT+01:00 Dan Brickley <notificatio

[2015-01-21 15:45] jvandriel commented on #215
"is more about the actual markup elements in the page"

WebPageElements... Let's make sure we discuss those as well. Because ever since you made a remark about their usefulness (as in markup for makup's sake) I have started doubting their usefulness as well. So much that I'd like to discuss whether or not we should keep schema.org/WebPageElement (and it's subClasses) in schema.org or not.

[2015-01-21 15:49] chaals opened #254 "Accessibility of places"
We should provide some simple properties to describe the accessibility characterisitics of places (do restaurants have a wheelchair-accessible entry? What about toilet? Is there enough guidance for a blind person to find their way around a train station with a cane? Is there an assistance service available?…)

[2015-01-21 15:57] danbri commented on #254
Thanks! Can you dig out our previous discussions and experiments? /cc @rvguha

[2015-01-21 16:05] danbri commented on #248
@tilid thanks for this, sorry it got overlooked. Do you have idea for how we should resolve it?

[2015-01-21 16:12] sesuncedu commented on #138
@danbri and Donald Davidson understand why this hurts my head ;)

Given that Event in schema has mostly narrowed to "things to do", purging
the schema:Event hierarchy of Davidsonian Events might make sense.

There are a relatively small number of these ; Delivery Event seems to be
one ; PublicationEvent is somewhat marginal, though its subclasses are
clearly within the narrower meaning.

Also,  ch

[2015-01-21 16:13] danbri commented on #254
http://lists.w3.org/Archives/Public/public-vocabs/2014Mar/0075.html

Here's my and @chaals versions of the strawman we hacked in London last year:

* https://github.com/danbri/schemaorg/blob/sdo-physa11y/data/sdo-physa11y-schema.rdfa https://github.com/danbri/schemaorg/blob/sdo-physa11y/data/sdo-physa11y-examples.txt
* https://github.com/chaals/schemaorg/blob/sdo-physaxs/data/sdo-physa11y-schema.r

[2015-01-21 16:20] danbri commented on #138
re antagonym -> https://github.com/schemaorg/schemaorg/issues/247

re events (and actions) we might consider whether an upcoming 'things to do' opportunity (e.g. a gig with tickets, or an Action with potentialAction) should be considered to be the selfsame thing once it has occurred. If not, by what relationship are they linked, and how do we describe events in the past? In the action case, a pote

[2015-01-21 16:24] mfhepp opened #255 "add rangeHint and domainHint annotation properties for recommending types in the documentation"
We often want to use a generic type for range or domain (like Thing or Place) but also point developers to popular specializations (like Restaurant or Vehicle). Instead of logically redundant unions like "Place OR Restaurant" (with Restaurant being a subclass of Place already), we should add two internal "annotation" properties "rangeHint" and "domainHint" that allow explicitly triggering the disp

[2015-01-21 16:25] sesuncedu commented on #130
The only possible member of the extension of class schema:True is the
individual, schema:True.
This must be intensional, but surely can't be intentional (unless one
thinks about it).

Does the sentence "The subclass assertions for True and False should be
removed" obtain?

[2015-01-21 16:31] rvguha commented on #130
Sorry, what I meant was that we should have:

typeOf(True, Boolean) and
typeOf(False, Boolean) and
subClassOf(Boolean, Class)

On Wed, Jan 21, 2015 at 6:58 AM, Dan Brickley <notifications@github.com>
wrote:

[2015-01-21 16:58] akuckartz commented on #238
I support reuse of existing specifications.

But sometimes details can be improved when they are reevaluated now. I for example doubt that a class hierarchy is optimal to encode gender as done in the vCard ontology (note to self: https://github.com/OpenGovLD/specs/issues/23)

[2015-01-21 17:32] vholland commented on #235
+1. Music is a big deal in certain kinds of video games.

[2015-01-21 18:33] gkellogg commented on #197
@danbri, now that you seem to have a Ruby environment installed, you might try installing the JSON-LD gem and running `rake schema_context` to get an example JSON-LD including the document and RDFSish vocabulary definition. We can, of course, tweak as you see fit. (Also, note that this is "D3" compatible output for your nice diagrams.

[2015-01-21 18:40] gkellogg commented on #51
Also see [comment](https://github.com/schemaorg/schemaorg/issues/197#issuecomment-70893918) in #197:  This tool generates a context based on schema:rangeIncludes.

[2015-01-21 19:05] #133 closed

[2015-01-21 19:14] elf-pavlik commented on #134
@danbri to lower confusion we can start with adding short notes to Service and Product [as you suggested](http://lists.w3.org/Archives/Public/public-vocabs/2014Sep/0273.html)

print services, etc. (Note that a particular delivery or print job can
be modeled as a Product.)

I would suggest adding something matching it to Product

"Any offered product or service. For example: a pair of shoes; a conc

[2015-01-21 19:22] elf-pavlik commented on #220
@samuelgoto could you please take another look at https://github.com/danbri/schemaorg/pull/15, merge / cherry-pick whatever you agree with and then we will continue conversation here? thanks!

[2015-01-21 19:29] thadguidry commented on #241
Zillow.com should REALLY get involved with this issue.  Come on Zillow !

[2015-01-21 19:39] vholland commented on #145
Sounds good to me.

[2015-01-22 00:29] westurner commented on #197
Would it be easier to generate a JSON-LD context from
http://topbraid.org/schema/ ?
On Jan 21, 2015 12:33 PM, "Gregg Kellogg" <notifications@github.com> wrote:

[2015-01-22 08:07] danbri commented on #197
The problem is not so much generating the JSON-LD context (which we'll do in pure python rather than complicate the tooling and publication workflow or using a non-schema.org version of schema.org) - but making sure it says the right things in the data. Afterwards we can make the JSON-LD representation fancier, or stick a fancy version alongside.

[2015-01-22 11:54] danbri opened #256 "HTTP server should support HEAD method against Python-generated content"
Commandline curl -I flag fails ("HTTP/1.1 405 Method Not Allowed") on all our python-generated URLs.

http://curl.haxx.se/docs/manpage.html

-i, --include

(HTTP) Include the HTTP-header in the output. The HTTP-header includes things like server-name, date of the document, HTTP-version and more...

-I, --head

(HTTP/FTP/FILE) Fetch the HTTP-header only! HTTP-servers feature the command HEAD which

[2015-01-22 12:00] danbri commented on #256
There are two main cases here. The homepage (HTML vs JSON-LD) and the per-term documentation. To be able to get the content-length info needed for HEAD would require some reorg / tidying so that content generation was more nicely separated from sending it via GET. Other cases like favicon, docs/full.html too.

[2015-01-22 12:29] danbri opened #257 "Add property/type/enum counts (with/without superseded terms) to full.html"
This would save me from goofing around with grep every time @rvguha asks how many terms we have.

[2015-01-22 14:43] westurner commented on #197
So your plan is to just apply valid RDF / OWL semantics later?

Why? Why would you do that?

False dichotomy: "RDFS-ish" // valid OWL

* http://wrdrd.github.io/docs/consulting/knowledge-engineering.html#owl
* http://www.w3.org/TR/owl2-profiles/
On Jan 22, 2015 2:07 AM, "Dan Brickley" <notifications@github.com> wrote:

[2015-01-22 14:58] danbri opened #258 "Relationship with GS1 standards: Extension planning"
[GS1](https://github.com/schemaorg/schemaorg/issues?q=is%3Aissue+is%3Aopen+gs1) define various e-commerce related standards. Several of these show up in existing schema.org vocabulary, e.g. [gtin](https://github.com/schemaorg/schemaorg/issues?q=is%3Aissue+is%3Aopen+gtin).

See also [docs from GS1](http://www.gs1.org/gtin_plus_public_review) and [W3C discussion](http://lists.w3.org/Archives/Public/

[2015-01-22 15:21] danbri opened #259 "Proposal to add StudentPaper and subtypes to CreativeWork"
http://schema.org/CreativeWork

A [proposal](http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0080.html) to add several subtypes of CreativeWork for StudentPapers

## Motivation

There are many sites for search and download of essays and other student papers (http://www.echeat.com/, http://www.essayzone.com/, etc).

## Proposal

New types could be used for it. It could be Thing->CreativeW

[2015-01-22 15:23] danbri commented on #259
Questions from public vocabs:

* subtype ScholarlyArticle instead?
* relationship to the existing LRMI properties in schema.org

[2015-01-22 15:36] danbri commented on #243
Earlier proposal was:

        <h1>WorkersUnion</h1>

        <div typeof="rdfs:Class" resource="http://schema.org/WorkersUnion">
          <span class="h" property="rdfs:label">WorkersUnion</span>
          <span property="rdfs:comment">A Workers Union (also known as a Labor Union, Labour Union, orTrade Union) is an organization that promotes the interests of its worker members by collectively ba

[2015-01-22 16:03] thadguidry commented on #259
There are lots of kinds of Papers / Articles...why not use Enums or classifier property under CreativeWork ?  "Paper", "Essay", "Report", "Dissertation", "Coursework/Homework", "Exam"...

Many Papers will have the need for format of file, size, usedIn.

[2015-01-22 16:25] danbri commented on #206
It seems reasonable to know who made a Rating.

Currently that is only doable by proxy through a review. Should we allow author/creator on intangibles like Rating, or say that Rating is a CreativeWork?

[2015-01-22 16:42] thadguidry commented on #206
@danbri I think you could say that Rating is a CreativeWork and it offers a few useful properties.

Examples:
1. secondaryContributor is useful for 2 Thumbs Up (because it has 2 contributors),
2. audience could capture the Rating audience, for instance, Parents, or Librarians
3. position could capture its position in the series (although you need to handle Scale as well, position 2  in a list of 5

[2015-01-22 16:53] danbri opened #261 "was releasedEvent a typo for releaseEvent ? ok as-is?"
http://schema.org/releasedEvent

From @gkellogg 's linter, see https://github.com/gkellogg/schemaorg/commit/8624f7f80edd2ae6bedd8469e20daec3b98d0da4

I think this came from the tv/radio work, and is on a bunch of those sites already. But I don't see it in https://www.w3.org/wiki/WebSchemas/TVRadioSchema

[2015-01-22 17:18] danbri opened #262 "Add vocabulary for describing vehicles / automobiles / automotive"
http://schema.org/Car
http://schema.org/Vehicle

A substantial and detailed proposal has been prepared by Martin Hepp, see associated pull request: https://github.com/schemaorg/schemaorg/pull/80

Announcement / discussion: http://lists.w3.org/Archives/Public/public-vocabs/2014Dec/0057.html

Original W3C wiki link https://www.w3.org/wiki/WebSchemas/Vehicles

See [2015-01-09 review](https://lists.w3

[2015-01-22 17:20] danbri opened #263 "Add a generic Property-Values mechanism for long-tail use (e.g. e-commerce, EXIF)"
Martin Hepp has a proposal: http://lists.w3.org/Archives/Public/public-vocabs/2014Dec/0057.html

[2015-01-22 17:23] danbri opened #264 "Measurement (Sports-motivated) vocabulary proposal"
* See https://www.w3.org/wiki/WebSchemas/Measurement
* From Jason Johnson's work on Sports schemas.
* https://www.w3.org/wiki/images/4/42/Schema.orgMeasurement.pdf

[2015-01-22 17:31] danbri opened #265 "Create tracking issues for old proposals in W3C Wiki"
There are still proposals listed in https://www.w3.org/wiki/index.php?title=WebSchemas/SchemaDotOrgProposalsArchive#2011-2014_Proposals_for_Schema.org that are not tracked here or finalized. They should be noted in github issues.

[2015-01-22 17:33] danbri commented on #141
Fixed in https://github.com/schemaorg/schemaorg/pull/209

[2015-01-22 17:34] danbri opened #266 "Orders schema updates"
http://schema.org/Order

Wiki proposal: https://www.w3.org/wiki/WebSchemas/Orders_enhancement

[2015-01-22 17:35] danbri opened #267 "Social account proposal"
https://www.w3.org/wiki/WebSchemas/SocialAccountProperty

[2015-01-22 17:36] danbri opened #268 "Audiobook proposal from BibExtend group"
https://www.w3.org/wiki/WebSchemas/Audiobook

[2015-01-22 17:39] danbri opened #269 "Collection proposal from BibExtend group"
https://www.w3.org/wiki/WebSchemas/Collection

    This proposal addresses two associated but separate needs. Collections
    of things - artefacts in a museum, books in a library collection,
    toys in a play-box, images on a website, etc. - are currently
    only describable in the context of CollectionPage. Created collections
    are found in many contexts and there is a need to apply the app

[2015-01-22 17:41] danbri opened #270 "Improvements to the content accessibility properties"
http://schema.org/accessibilityAPI
http://schema.org/accessibilityControl
http://schema.org/accessibilityFeature
http://schema.org/accessibilityHazard

The properties announced in http://blog.schema.org/2013/12/content-accessibility.html left some work unfinished, in particular possible controlled values.

https://www.w3.org/wiki/WebSchemas/Accessibility/ToDo

[2015-01-22 17:43] danbri opened #271 "Add a Quotation type with supporting properties"
https://www.w3.org/wiki/WebSchemas/QuotationSchema

* @danbri had some discussion at Wikimania 2014 w/ WikiQuote / Wikidata people.
* there's a test build somewhere

[2015-01-22 19:51] #201 closed

[2015-01-22 19:52] westurner commented on #201
Thanks!
On Jan 22, 2015 1:51 PM, "Dan Brickley" <notifications@github.com> wrote:

[2015-01-22 19:55] danbri opened #276 "Adds abstract property to Article"
http://schema.org/Article

There is a proposal - see discussion in https://github.com/schemaorg/schemaorg/pull/228 - that we should add an 'abstract' property, rather than use 'description' for everything.

[2015-01-22 20:57] #252 closed

[2015-01-22 20:59] #210 closed

[2015-01-22 21:15] #235 closed

[2015-01-22 21:29] #234 closed

[2015-01-22 21:31] danbri commented on #200
This was a typo, MovieSeries was intended. Also reported in https://github.com/schemaorg/schemaorg/issues/234

[2015-01-22 21:31] #200 closed

[2015-01-22 21:33] danbri commented on #216
Status update 2015-01-22: @vholland is working on some examples which should help clarify the difference between an invoice/bill and an order.

[2015-01-22 21:55] danbri commented on #119
From @ekgs1 : "This link provides the best summary on the Global Location Number. http://www.gs1.org/barcodes/technical/idkeys/gln"

[2015-01-22 22:36] danbri commented on #206
@rvguha is +1 on Rating moving under CreativeWork instead of Intangible.

[2015-01-22 23:34] chaals commented on #206
+ reply@
- notifications@

Seems reasonable. Inter alia, some ratings are pretty creative ;)

23.01.2015, 01:36, "Dan Brickley" <notifications@github.com>:

--
Charles McCathie Nevile - web standards - CTO Office, Yandex
chaals@yandex-team.ru - - - Find more at http://yandex.com

[2015-01-23 09:25] danbri opened #280 "Schema.org should have mappings to Wikidata terms where possible"
From Lydia Pintscher in https://twitter.com/nightrose/status/558549091844886528

[code]

Update 2016-01-26 - since the original post there have been some improvements at both Wikidata and Schema.org:
- Wikidata: mappings (exact, super/sub) from properties and (perhaps to a lesser extent in that the notion isn't so built-in) types to schema.org can be expressed within Wikidata.
- Wikidata now has a

[2015-01-23 16:28] danbri commented on #280
Notes from IRC,

* Example of a schema.org property marked as equiv to another:  schema:description equivalentProperty dcterms:description. https://github.com/schemaorg/schemaorg/blob/master/data/schema.rdfa#L5696
* this info is currently exposed in schema.org per-term pages like view-source: http://schema.org/description e.g. as <link property="owl:equivalentProperty" href="http://purl.org/dc/ter

[2015-01-23 17:32] lydiapintscher commented on #280
Here is how mapping can be done on the Wikidata side for example: https://www.wikidata.org/wiki/Property:P31

The JSON dumps are the best dumps.

[2015-01-23 17:57] Azareal opened #281 "jobTitle property on Person"
http://schema.org/jobTitle

Shouldn't this use the Role type instead of the text type?
That would be a lot more flexible for covering extra details like descriptions about their job.

Having multiple of these would cover the case of having multiple roles in a job/s.

[2015-01-23 20:00] danbri commented on #280
* https://git.wikimedia.org/raw/mediawiki%2Fextensions%2FWikibase/master/docs%2Fjson.wiki
* https://www.wikidata.org/wiki/Wikidata:Database_download#JSON_dumps_.28recommended.29
* -> http://dumps.wikimedia.org/other/wikidata/
* -> http://dumps.wikimedia.org/other/wikidata/20150120.json.gz

[2015-01-24 12:21] innovimax commented on #280
+1

[2015-01-25 11:35] elf-pavlik commented on #280
happy to help here a little! I had chance to meet few people from Wikidata crew during 31C3 and remember that serving turtle also needs some fixing... but it already uses schema.org quite a lot!
[code]

[2015-01-25 12:49] danbri commented on #280
I went looking for the code that generates this. For those without turtle, an excerpt from running

curl http://www.wikidata.org/entity/Q42 -iL -H "Accept: text/turtle"

(full response is at https://gist.github.com/danbri/66616096d42e595376f6 )

    @prefix data: <http://www.wikidata.org/wiki/Special:EntityData/> .
    @prefix schema: <http://schema.org/> .
    @prefix xsd: <http://www.w3.org/2001

[2015-01-25 16:54] elf-pavlik opened #284 "Extension Mechanism"
Following up on #164, schema.org could use solid recommendations for extending it.
I made some suggestions over mailing list
* http://lists.w3.org/Archives/Public/public-vocabs/2014Oct/0120.html
Also @gkellogg recently shared some of his experience
* https://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0101.html

Maybe as first step we could collect various existing experiences on [Extension

[2015-01-25 19:29] elf-pavlik commented on #145
PR #285

[2015-01-25 19:47] danbri commented on #145
Thanks. Historically it is pretty rare for us to actually erase terms, so far we usually just mark as supersededBy. In this case maybe that is too conservative and best to avoid clutter. Any thoughts?

[2015-01-25 20:27] sesuncedu commented on #145
You could mark the obsolete terms in HTML with <s>. In the type rendering
you could group the obsoleted terms together with the term that obsoleted
them.

I've been treating superseded as implying sub property and obsolete .

The sub property relationship might be wrong, if a superseding property can
have a narrower meaning than the older term.

[2015-01-26 06:09] akuckartz opened #286 "Alias "@id" to "id" ?"
This was suggested by @msporny in https://github.com/json-ld/json-ld.org/pull/380#issuecomment-71382239 and https://github.com/json-ld/json-ld.org/pull/380#issuecomment-71392999

The other "@"-properties would be renamed as well.

I created the same issue here: https://github.com/HydraCG/Specifications/issues/95

[2015-01-26 06:48] dbs commented on #286
Note that the actual suggestion by @msporny was:

"alias" is subtly but significantly different from "rename"!

[2015-01-26 08:00] gkellogg commented on #286
Exactly, as @msporny said, the `@` keywords are intentional so that JSON-LD won't mess up someone's existing JSON serialization. But, when an application is expecting it, then aliasing keywords is often the right thing to do. And, for using with JavaScript `.id` is much more convenient than `["@id"]`.

The only keyword that can't be aliased is `@context`.

[2015-01-26 14:03] #141 closed

[2015-01-26 14:22] danbri commented on #286
I am not aware of any major schema.org JSON-LD consumption actually using information from the @context file, so I'm wary of pushing such a change. Perhaps when/if JSON-LD consumer implementations mature this would be easier to roll out. For now I'm going to file this under "dim and distant future", although I appreciate that it has some aesthetic and practical appeal.

[2015-01-26 14:23] danbri commented on #286
(I'll leave this open though as it is a reasonable request to revisit.)

[2015-01-26 14:24] danbri commented on #284
Thanks. I suggest keeping compare-and-contrast experience notes here rather than in Wiki as for a topic like this it is important to keep track of who is saying what, which the issue tracker does better. So I'd keep the Wiki for 'links on this topic' for now.

[2015-01-26 14:26] danbri commented on #281
The Role type was designed to be applicable everywhere, without it being explicitly anticipated in the schemas. It could be useful to work through some examples if you have anything specific in mind.

[2015-01-26 14:34] chaals commented on #284
+ reply@
- notifications@

26.01.2015, 17:25, "Dan Brickley" <notifications@github.com>:

Hmm. Or descriptions of the possible approaches - but as danbri says it is important to annotate them with who says so.

For what it's worth I am concerned about the current approach to extension because it doesn't allow for URLs that go somewhere, and explicitly breaks the idea of decentralising which can re

[2015-01-26 14:54] danbri commented on #6
see also https://github.com/schemaorg/schemaorg/issues/284

[2015-01-26 15:12] danbri commented on #284
Historically there have been several different yet related uses of the word 'extension' around here.

* The processes for adding new vocabulary into schema.org, e.g. the "rnews" or "good relations" or "lrmi" extension, which was basically a proposal to improve/change schema.org's own vocabulary.
** Initially (when deployment = zero) we said "propose in any form you like ...", e.g. send a PDF, a te

[2015-01-26 15:34] sesuncedu commented on #284
How much is the slash mechanism actually used in practice?

If there are only trace amounts, of data where it doesn't make a
difference, I would suggest fixing microdata.

1. Provide a way to specify prefixes for abbreviated IRIs. Meta might be a
good place.
Predefine schema: to map to http://schema.org/  .
Require prefix names that match URI scheme names to map to themselves. (
http: -> http: ).

[2015-01-26 15:57] melvincarvalho commented on #284
Would a group of people be interested in a joined collaboration of a non official extension vocab to schema.org -- ie a related document with shared access to add use case driven terms, that may not be appropriate for the core?

[2015-01-26 16:24] danbri commented on #284
@melvincarvalho lots of groups of people have been doing just that around here for years, that's where much of http://schema.org/docs/releases.html came from. Did you have any particular domain in mind?

[2015-01-26 16:59] danbri opened #288 "Additional FlightReservation -related properties"
http://schema.org/FlightReservation

It has been suggested that additional properties around FlightReservation (or on Ticket, Airline etc.) would improve the usefulness of our flight reservations vocabulary. @vholland has been working on a specific proposal.

[2015-01-26 21:14] danbri opened #289 "VideoGame microdata example contains rdfa"
http://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0108.html

Thanks, Aaron Bradley for catching this:

"""... Quick note that one of the microdata examples for schema.org/VideoGame
contains RDFa syntax.

The "Monopoly" example has this for microdata:
[code]

[2015-01-26 22:52] Aaranged commented on #289
Another issue with this example is that there is a property mismatch between the different syntaxes.

Microdata:
<span itemprop="reviewCount">33</span> reviews

RDFa:
<span property="reviewCount">33</span> reviews

JSON-LD:
"ratingCount":"33"

The property referenced should be the same for all three examples.  (As there's not reviews present on or linked from the example code I would suggest using

[2015-01-27 09:08] danbri commented on #289
Thank goodness *someone* reads this stuff. Ahem.

[2015-01-27 10:52] danbri commented on #289
Fixed in 1aa0098 and test site updated:
http://sdo-stantz.appspot.com/VideoGame#games-4

[2015-01-27 10:52] #289 closed

[2015-01-27 10:57] danbri commented on #270
@chaals - what is the status of https://www.w3.org/wiki/WebSchemas/Accessibility/Issues_Tracker (linked from https://www.w3.org/wiki/WebSchemas/Accessibility/ToDo ).

https://www.w3.org/wiki/index.php?title=WebSchemas/Accessibility/ToDo&action=history is untouched in over a year, and https://www.w3.org/wiki/index.php?title=WebSchemas/Accessibility&action=history since last March (I don't count :)

[2015-01-27 17:20] chaals commented on #270
There are discussions in ISO (which is where the material is being developed). Unfortunately they are both slow and generally not recorded. Hopefully there will be a draft that can be shared around soon...

[2015-01-27 17:38] danbri commented on #270
Thanks for the update. Let's see what the ISO folk say. Do you have a pointer to a description of the group, at least? That would be handy for those not in the know.

I've added 'awaiting advice' and 'standards + orgs' status labels here, and pushed it to 2015 Q2 milestone. Sound fair?

[2015-01-27 18:55] danbri commented on #216
Implemented in https://github.com/schemaorg/schemaorg/pull/279

Staged at http://sdo-stantz.appspot.com/docs/releases.html#sdo-stantz e.g. http://sdo-stantz.appspot.com/Invoice

This should go out (and issue will be closed) as part of our next release - final comments and tweaks welcomed here or on the public-vocabs list.

[2015-01-27 19:19] thadguidry commented on #216
Hmm... I thought we were going to have a property to hold the NET D, i.e. "Net 60 days", or "Due upon Receipt", which is used by many small businesses and their automated invoicing templates that get generated by various small office software products out there.  Reference for NET D, http://en.wikipedia.org/wiki/Net_D

[2015-01-27 20:21] jvandriel opened #292 "Change domain of associatedMedia to Thing"
Proposal can be found at: https://www.w3.org/wiki/index.php?title=WebSchemas/SchemaDotOrgProposalsArchive#2011-2014_Proposals_for_Schema.org

Discussion at:
http://lists.w3.org/Archives/Public/public-vocabs/2014May/0224.html

[2015-01-27 21:21] vholland commented on #216
There is a paymentDue for the due date, but that is not quite the same as NET D. "Due upon receipt" is the tricky one as, I am not sure the programmer solution of setting it to Net 0 is useful to others.

[2015-01-28 01:11] thadguidry commented on #216
@vholland @danbri  In UBL 2.1 , the NET D is (I think, if I recall correctly) encapsulated in the Payment Terms ...yeah, looks like it is....see the XLS reference at http://docs.oasis-open.org/ubl/os-UBL-2.1/UBL-2.1.html#T-INVOICE

[2015-01-28 08:50] danbri commented on #292
From the proposal, https://www.w3.org/wiki/WebSchemas/associatedMediaToThing

    Currently, http://schema.org/associatedMedia, which has a range of http://schema.org/MediaObject and which would otherwise seem suitable for this purpose, has a domain of CreativeWork.
    This means that http://schema.org/MedicalProcedure and other children of Thing
    that do not descend from CreativeWork have no

[2015-01-28 09:11] jvandriel commented on #292
"So what are the kinds of non-CreativeWork that are the strongest candidates for use with associatedMedia?"

Besides MedicalProcedure the most common examples I get confronted with/asked about is
"How do I add a VideoObject to a Product or Organization". In most cases this is because folks would like to express they have an introductory video about a Product or Organization.

Now I agree that one

[2015-01-28 09:54] danbri commented on #292
Thanks for the examples, that helps. If we get mainEntity finished, how much of the problem goes away?

[2015-01-28 10:15] jvandriel commented on #292
Partially, as it would still prevent simpler markup like:

[code]

[2015-01-28 10:58] danbri opened #294 "Each term definition should end with a period / full stop, i.e. "."."
We have been consistently inconsistent with this, historically. The ideal that was agreed a while back was that labels are simple strings with no ".", matching the portion of the term URI after 'schema.org/', while the description (i.e. rdfs:comment) would most properly end with a period / full stop.

This can be checked, roughly, with a SPARQL query. See: http://dydra.com/danbri/schema-org/query#

[2015-01-28 11:09] danbri commented on #294
After today's changes, the following terms match the SPARQL FILTER regex(str(?c), "[^.]\\s*$":

* http://schema.org/price (definition ends with use of escaped markup for a list, so a false positive)

GoodRelations-based terms that end with a list of URLs:

* http://schema.org/BusinessEntityType
* http://schema.org/BusinessFunction
* http://schema.org/DayOfWeek
* http://schema.org/DeliveryMethod
*

[2015-01-28 11:41] danbri opened #295 "Consider parent type for ApplyAction"
http://schema.org/ApplyAction
- http://schema.org/ApplyAction  is currently under OrganizeAction
- definition says NOTE(goto): should this be under InteractAction instead?
- TODOs belong here in issue tracker, we should remove that text regardless.

See also https://github.com/schemaorg/schemaorg/issues/182 for directly linking from site to (open) issues without admin tasks leaking into definition

[2015-01-28 11:43] danbri commented on #250
I filed a separate issue to deal with the backlog of existing definitions (and a commit fixing most of them), see https://github.com/schemaorg/schemaorg/issues/294

[2015-01-28 12:23] jvandriel opened #296 "Add a new property (careProvider) to MedicalProcedure"
http://schema.org/MedicalProcedure

Currently schema.org/MedicalProcedure provides no method of expressing who will perform the procedure. To me this seems to be an omission.

For this reason I'd like to suggest adding a new property to schema.org/MedicalProcedure, namely:
careProvider

Possible description:
"A medical organization or person providing health care service(s)."

Another route could

[2015-01-28 13:22] unor opened #297 "Page for 'Address' type exists"
AFAIK `Address` is not a defined type, but it has a page:

http://schema.org/Address

Currently showing "No comment" and two (old?) examples using [`PostalAddress`](http://schema.org/PostalAddress).

[2015-01-28 13:34] danbri opened #298 "applicability of Event to online events e.g. consider Webinar subtype"
http://schema.org/Event

Discussed at http://www.meetup.com/search-london/events/219456999/ /cc @pierrefar

Publishers/webmasters have asked whether e.g. a Webinar is a suitable candidate for describing as a schema.org Event. The current subtypes and definitions emphasise things with a physical location that you might attend in person.

The Event type was never meant to be so restricted, e.g. the

[2015-01-28 14:04] danbri commented on #174
See http://dydra.com/danbri/schema-org/query#action-nonaction-types-sharing-a-property for a related sparql example that does work with subClassOf paths, for reference.

    # Here we try to identify properties that have a domainIncludes association
    # to some pair of types, ?action_type and ?non_action_type such that the
    # first type has a subClassOf path to Action, and the second does not

[2015-01-28 14:15] danbri commented on #177
See also @gkellogg 's linter work,  e.g. in https://github.com/schemaorg/schemaorg/issues/53

e.g. https://github.com/structured-data/linter/blob/master/Rakefile#L37 https://github.com/structured-data/linter/blob/master/script/parse could use these identifiers.

[2015-01-28 14:48] vholland commented on #284
It is sometimes difficult to separate out intentional use of the slash mechanism from typos or other errors. It is clearest when someone adds a new type like http://schema.org/Thing/Animal, but sometimes people skip the parent type and just do http://schema.org/Animal. It becomes even murkier if/when schema.org adopts that type officially.

Properties are even harder to figure out as they have no

[2015-01-28 15:30] sesuncedu commented on #284
Even if schema:Animal is defined, and is defined as a direct or indirect
subclass of schema:Thing,  there would still have to be an explicit
equivalence axiom stated for the slash class.

This would be dangerous, as the only thing we can infer about
schema:Thing/Animal is that it is a subclass of schema:Thing. Different
uses on different pages may mean completely different things.

A Muppet toy st

[2015-01-28 16:22] thadguidry commented on #296
@jvandriel  I dunno.  I feel that the Multi Type Entity would be a better approach, practically because we say that MedicalProcedure is a class of Service, and that seems right to me.  I differ also in that I consider a "care provider" to be the same beast, but more specialized than a "provider".

[2015-01-28 16:33] vholland commented on #284
Agreed. There are many ways the current extension mechanism makes it impossible to discern intent, so we can't use it as a clear signal for ways to expand the schema.

[2015-01-28 16:38] twamarc commented on #296
+1. Making careProvider a subproperty of provider.
+1. Making MedicalProcedure  Multi Type Entity.

[2015-01-28 16:59] thadguidry commented on #284
K.I.S.S.  Keep It Simple Smartypants

Let just use "+" plus sign for expansion.

http://www.schema.org/MedicalClinic+PlasticSurgeryProvider
[code]
I just did a quick Multi Type Entity.  And I added a custom property.  Wow,  I'm badass.

[code]
I just added a new custom property called "holidaysClosed".

Now, I just need to know where and how I document my custom properties and my PlasticSurgeryPro

[2015-01-28 17:24] chaals commented on #284
+ reply@- schemaorg@, notifications@28.01.2015, 19:59, "Thad Guidry" <notifications@github.com>:K.I.S.S. Keep It Simple SmartypantsLet just use "+" plus sign for expansion.http://www.schema.org/MedicalClinic+PlasticSurgeryProviderThat has similar problems to slash.Now, I just need to know where and how I document my custom properties and my PlasticSurgeryProvider in JSON-LD. Agree, then DONE.We ne

[2015-01-28 17:38] thadguidry commented on #284
@chaals Disagee that it will be unwieldy.  Basic "description" property should cover it.  The idea is that of extensions getting out in the wild sooner and allowing a playground for the long tail domains.  We MUST provide that playground, even if our tools do not understand fully that long tail domain completely, we can allow developers to give some "descriptions" and "hints" to foster grow of the

[2015-01-28 18:00] Dataliberate commented on #284
As it was mentioned I thought it would be worth giving a brief overview of
the logic behind the way BiblioGraph.net extends Schema.org.

   - BiblioGraph.net is not intended to become a stand-alone vocabulary -
   it needs Schema.org to function.
   - Described as a 'filling in the gaps' vocabulary for our
   [bibliographic] domain.  Also referred to by some as a frosting on the
   Schema.org cake

[2015-01-28 18:32] elf-pavlik commented on #284
@danbri I understand your reasoning for using this issue over wiki page, but as you see very likely it will become a lengthy one... I will still try to capture some highlights on that wiki page!

I also created placehoder section on that wiki page to start capturing limitations of *Microdata* https://github.com/schemaorg/schemaorg/wiki/Extension-Mechanism#limitations-of-microdata
IMO asking people

[2015-01-28 19:03] vholland commented on #222
I see. There is a copy/paste error where Organization is the domain instead of the range.

[2015-01-28 19:56] gkellogg commented on #284
@thadguidry said:

I don't see how this really improves on the '/' separator. In any case, it doesn't create a class (or property) which is actually defined in a schema which can be determined from the markup, so the Linter will flag such usage.

@thadguidry continues:

Interesting idea, for JSON-LD, anyway, would be to define it as RDFS in an included context. Normally, a referenced context is on

[2015-01-28 20:10] thadguidry commented on #284
@gkellogg not the URL... the Type ! :)

If it helps...What does this mean to you ?
<div itemscope itemtype="http://schema.org/MedicalClinic+PlasticSurgeryProvider">

[2015-01-28 20:57] gkellogg commented on #284
@thadguidry, yes `@itemtype` takes one or more absolute URLs that MUST be in the same vocabulary. In that sense, `http://schema.org/MedicalClinic` and `http://schema.org/MedicalClinic+PlasticSurgeryProvider`, along with `http://schema.org/MedicalClinic/PlasticSurgeryProvider` are both absolute URLs in the same vocabulary. The Microdata to RDF algorithms will generate property predicate URIs for al

[2015-01-28 21:02] vholland opened #300 "General chaos around questions/answers in ReplyAction, AskAction vs Question, Answer, question property vs lack of answer property."
http://schema.org/ReplyAction
http://schema.org/Answer

Original issue: I was looking at the lint errors outlined in issue #53. At some point in the proposal process, ReplyAction had an "answer" property, which was removed prior to official adoption. It would be useful to link ReplyAction to schema.org/Answer in some way, so the body of the reply can be modeled.

Consider also #183 re RsvpAction

[2015-01-28 21:22] thadguidry commented on #284
@gkellogg interesting. It would be cooler still if the algorithms could deduce that I am trying to say:

http://schema.org/MedicalClinic
(and) denoted by + plus sign
http://schema.org/PlasticSurgeryProvider

So ideally and cooler still would be my JSON-LD  describing my custom properties for the unknown new type PlasticSurgeryProvider:
[code]

[2015-01-28 21:41] gkellogg commented on #284
In JSON-LD you can simply have two types in an array, which should do some of what you want:

    {
      "@context": "http://schema.org",
      "@type": "MedicalClinic+PlasticSurgeryProvider",
      "+proceduresPerformed:description":"The Medical Procedures performed by this Plastic Surgery Provider",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Dallas",

[2015-01-28 21:50] thadguidry commented on #284
@gkellogg "isn't as well suited for more complicated markup" - Yes, as you have already explained.
Thanks Greg ! , this gives us a good perspective on capabilities actually. Some I did not know about.
I totally agree that extending should be interpreted as "define your OWN vocabulary".

So, the problem now lies with helping train and document for folks how to easily define their own vocabulary wit

[2015-01-28 22:17] gkellogg commented on #284
Yes, given the complexities of getting RDF schemas right, and generating a JSON-LD context, some kind of online tool that dumps out a JSON-LD document containing the context and the vocabulary definition would be pretty useful. Could be a fairly simple form-based tool, maybe part of json-ld.org.

[2015-01-29 10:19] danbri commented on #297
Thanks! The examples were the cause:

 grep Address data/*txt| grep "TYPES:" | grep -v Postal
data/examples.txt:TYPES:  Organization,Address
data/examples.txt:TYPES:  Event,Place,Address,AggregateOffer

[2015-01-29 10:20] #297 closed

[2015-01-29 10:22] danbri commented on #297
http://sdo-stantz.appspot.com/Address is now 404, as it should be, and http://sdo-stantz.appspot.com/PostalAddress#examples is showing the missing examples. Thanks :)

[2015-01-29 10:24] danbri commented on #300
Related vocabulary (see UserComments cleanup issue #170 :

    <http://schema.org/replyToUrl> <http://schema.org/domainIncludes> <http://schema.org/UserComments> .

If we are modeling replies, we might pause briefly at least to consider possibility of modeling more of http://schema.org/EmailMessage (although modeling all of email headers is a big task).

[2015-01-29 10:31] danbri commented on #286
If any other major JSON-LD -using vocabularies are aliasing @id and @type, it would be good to hear about it here.

[2015-01-29 10:44] elf-pavlik commented on #284
@msporny, we [had conversation on Web Credentials list](https://lists.w3.org/Archives/Public/public-credentials/2015Jan/0004.html) about integrating  [Credentials](http://opencreds.org/) / [OBI](http://standard.openbadges.org/) vocabularies with schema.org. We also discussed with @mfhepp aligning vocabularies related to *e-commerce* work happening in Web Payments CG/IG in https://github.com/schema

[2015-01-29 11:19] danbri commented on #263
Used in https://github.com/schemaorg/schemaorg/issues/262 for Automobiles.

[2015-01-29 11:28] danbri commented on #155
I've updated the description, reclassifying this as an area where we expect to clean up our documentation to clarify what's happening with these potentialAction pseudo-properties.

[2015-01-29 13:11] danbri commented on #239
Just as a data point, YouTube seem to be using 'thumbnailUrl' as a shortcut for the 'url' property of the 'thumbnail' of a VideoObject, e.g. see https://developers.google.com/webmasters/structured-data/testing-tool/?url=http://m.youtube.com/details?v=eXSJ3PO9Tas

[2015-01-29 13:44] #168 closed

[2015-01-29 13:45] danbri commented on #168
I've fixed this in sdo-stantz, our candidate next release. For example see http://sdo-stantz.appspot.com/Drug - Thanks!

[2015-01-29 14:50] danbri commented on #284
Also related: Martin Hepp's property-value proposal, https://github.com/schemaorg/schemaorg/issues/263

[2015-01-29 15:05] danbri commented on #225
I've just circulated a larger proposal on schema.org versioning that motivated this specific proposal.

https://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0120.html (also linked from description above).

[2015-01-29 15:18] sesuncedu commented on #284
I've tried to explain above a mechanism for producing microdata that cannot
be proven to be incorrect,  and which gets around the one vocabulary, flat
namespace rule (the net effect would allow things that look and work  like
abbreviated IRIs).

Creating a yet another new model for defining ontologies would be bad (~
all life as you know it stopping instantaneously and every molecule in your
body

[2015-01-29 15:47] sesuncedu commented on #284
I think it might be good to set up a real time discussion on data model & extension mechanisms sometime soon, to discuss some concrete options. A Google hangout, or similar (could request the IAOA conference bridge) , with some summary but concrete proposals ahead of time to compare and contrast for usability, ease of implementation, expressivity, etc.

Note:
Some raw or cooked data on current usa

[2015-01-29 15:49] #222 closed

[2015-01-29 15:51] danbri commented on #222
Fixed, and queued up for sdo-stantz release - http://sdo-stantz.appspot.com/producer

[2015-01-29 16:27] danbri opened #301 "Add a mainEntity property that relates a page to the main thing it describes + inverseOf mainEntityOfPage"
Many (but not all) pages have a fairly clear primary topic, some entity or thing that the page describes. For example a restaurant's home page might be primarily about that Restaurant, or an event listing page might represent a single event. Sometimes metadata (including inbound links) exploits the obvious association between page and the thing it describes, even blurring the distinction between t

[2015-01-29 17:39] #227 closed

[2015-01-29 17:40] danbri commented on #231
Fixed. Thanks, Holger!

[2015-01-29 17:40] #231 closed

[2015-01-29 17:41] danbri commented on #294
Closing this as addressed in all reasonable cases. Leaving #250 open to get a unit test in place to police the situation better in future.

[2015-01-29 17:41] #294 closed

[2015-01-29 17:42] danbri commented on #140
Should Rating be a CreativeWork?

[2015-01-29 17:47] #162 closed

[2015-01-29 17:55] VladimirAlexiev opened #302 "dissolutionLocation"
Schema has properties foundationLocation and dissolutionDate but no dissolutionLocation. In contrast, for a person all 4 properties are present (birth/death place/date).

Getty ULAN has such a field, and 70 records that use it.

Often the foundation place and dissolution place are the same place. There are instances, however, where the places are different. For instance, during WWII a firm founded

[2015-01-29 18:03] danbri commented on #301
Another use case: using tools that return a graph, knowing the mainEntity gives you a useful entry point into a complex linked data structure.

[2015-01-29 18:09] thadguidry commented on #301
That sounds like a loopback that does not solve the problem "the mainEntity on this page is SOMEWHERE on this same page?!?!?"  WTF ?

+1 for mainEntity.  I think it is clear and we know what we want to accomplish.  I see very little argument against or change the proposal.  The examples make sense.  I like the ```@rev``` wrapping method for JSON-LD as well - let's be sure to find a way to document

[2015-01-29 18:11] thadguidry commented on #140
+1 for Rating being a CreativeWork - #206 has my examples in it and we have 2 stakeholder agreement.

[2015-01-29 18:14] jasondouglas commented on #301
I think it's a requirement that you be able to refer to the main entity in markup on other pages by the canonical URL of that leaf page. However, in your example, it's the WebPage entity that gets the canonical URL.

[2015-01-29 18:33] tmarshbing opened #303 "There is no way to specify the account details for service invoices"
From https://lists.w3.org/Archives/Public/public-vocabs/2015Jan/0126.html:

The water bill and Visa bill examples are still throwing me a bit. I feel that there ought to be somewhere to represent the original agreement between the consumer and the service provider and that the invoice should refer back to that thing. Without this, the invoice doesn’t adequately describe why payment is due. Do you

[2015-01-29 18:44] niklasl commented on #301
+1 for the proposal. Suggested addition:

    schema:mainEntity rdfs:subPropertyOf schema:about .

[2015-01-29 18:55] westurner commented on #301
How to avoid terminological overlap with ``rdf:subject``?

Looking at http://topbraid.org/schema/ , how would ``schema:mainEntity`` be distinct from ``schema:url``?

[2015-01-29 19:02] danbri commented on #301
@jasondouglas hopefully we can define the property without requiring global agreement on URL use. But would a tweak to the example that gave the WebPage entity a trivially different URL help? (in this example one ending with a final '#' ):

Microdata:

    <div itemid="#" itemscope itemtype="http://schema.org/WebPage">
        <div itemprop="mainEntity" itemscope itemtype="http://schema.org/Restau

[2015-01-29 19:05] twamarc commented on #168
Thanks!

[2015-01-29 19:08] jasondouglas commented on #301
@danbri I think focusing on the inverted relationship is more intuitive:

<div vocab="http://schema.org/" "typeof="http://schema.org/Restaurant">
    <link property="mainEntityOfPage" href="#">
    <h1 property="name">Fondue for Fun and Fantasy</h1>
    <p property="description">Fantastic and fun for all your cheesy occasions.</p>
    <p>Open: <time property="openingHours" datetime="Mo,Tu,We,Th,Fr

[2015-01-29 19:10] thadguidry commented on #303
@tmarshbing The original agreement is actually in many cases an Order. http://schema.org/Order
The Order is the customers acceptance of an line from an Offer. http://schema.org/Offer
And we already have both.
Please review them both and see if there is something within Order or Offer that does not fit your liking and then add to this issue and change the issue title appropriately.

Also, you may w

[2015-01-29 19:18] jasondouglas commented on #284
@danbri - I might've just missed it, but I didn't see on your list what we discussed with Actions which was defining your own subclass.  For example, I have a proprietary share action that has it's own properties (e.g., "Pin" for "Pinterest") and so I want to use everything that's on ShareAction, but extend it with my own params.

[2015-01-29 19:48] danbri commented on #261
Pretty sure releasedEvent is correct, although we did have releaseEvent in a draft of the music design https://lists.w3.org/Archives/Public/public-vocabs/2014Jun/att-0154/Schema.orgMusicSchemaPublic__1_.pdf /cc @vholland (releasedEvent predates it). I'll close this for now, if we ever have a need to describe releases that haven't happened yet I'm sure we can dig it up again.

[2015-01-29 19:48] #261 closed

[2015-01-29 19:50] danbri commented on #302
Thanks, noted. We're quite backlogged but I've put this on the someday pile. We have some related vocabulary also in https://www.w3.org/wiki/WebSchemas/HistoricalDataSchema that was never finally incorporated.

[2015-01-29 19:52] danbri opened #304 "Revisit Historical Info proposal (family history, genealogy etc.)"
https://www.w3.org/wiki/WebSchemas/HistoricalDataSchema

We didn't have the throughput to finish the discussions when this work was originally proposed, but it has been fairly well deployed and deserves some renewed attention.

[2015-01-29 19:55] danbri commented on #295
I trimmed " and remove "NOTE(goto)" from its description " from the description of this issue, as I've tidied the RDFS. Let's consider what parent type for ApplyAction should be. /cc @samuelgoto

[2015-01-29 20:02] danbri commented on #301
@jasondouglas I toyed with those designs too. I think we're close. How about adding the relation named in both directions (mainEntity and mainEntityOfPage), but having the relationship to a document being the preferred usage. Whether the boolean fallback option works depends on processing scenarios - e.g. if you're merging triples from several such documents you might be out of luck.

I'm not worr

[2015-01-29 20:10] danbri commented on #301
I had a look at @reverse in JSON-LD. It isn't especially pretty for this, and helps makes @jasondouglas 's case to name the relationship in the other direction:

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Restaurant",
    "@reverse": { "mainEntity": { "@id": "#"}},
    "name": "Fondue for Fun and Fantasy",
    "description": "Fantastic and fun for all

[2015-01-29 20:31] vholland opened #305 "TradeAction should allow a priceSpecification as well as price"
TradeAction's price property only takes text or number. It should also take a PriceSpecification for more specific price models.

[2015-01-29 20:34] vholland opened #306 "OrderAction should have a deliveryMethod property"
OrderAction is described as "An agent orders an object/product/service to be delivered/sent", but there is no way to model the delivery. We should at least at deliveryMethod to specify how the item will be delivered.

[2015-01-29 20:38] #214 closed

[2015-01-29 20:40] vholland commented on #305
I just remembered that price is a property of PriceSpecification. To avoid a loop, the change should be to the "priceSpecification" property.

[2015-01-29 20:41] #212 closed

[2015-01-29 20:46] danbri commented on #216
I think with @vholland 's most recent commits we're done for this release. Ok to close this issue against sdo-stantz? @tmarshbing  ?

[2015-01-29 20:46] sesuncedu commented on #301
I spent too much time working in this space at the graduate level to  be
even able to understand the title of this issue 😱

However, there does seem to be a possible question how such a property
might interact with schema:sameAs.

I've been treating that property as being roughly equivalent to the OWL
axiom

  HasKey(schema:Thing (schema:sameAs) ())

This is basically ignoring the contents of the

[2015-01-29 21:06] jasondouglas commented on #301
Huh, that makes me wonder if we're overthinking this.  Could it just
sufficient to declare the itemid to be the same as the URL of the webpage
and be done with it?  No declaration of the WebPage itself or other
properties.  Much simpler.

On Thu Jan 29 2015 at 12:47:08 PM Simon Spero <notifications@github.com>
wrote:

[2015-01-29 21:13] danbri commented on #301
Intriguing, though I don't know whether people responsible for content payload will always be in a position to ensure the CMS or whatever doesn't add WebPage properties for the document itself.

[2015-01-29 21:21] sesuncedu commented on #301
The test for overthinking on this is whether you can't remember if you
meant to talk about Patrick Winston or Patrick Wilson ;-)

[2015-01-29 22:11] gkellogg commented on #301
Gregg Kellogg
Sent from my iPhone

On Jan 29, 2015, at 12:10 PM, Dan Brickley <notifications@github.com> wrote:

I had a look at @reverse <https://github.com/reverse> in JSON-LD. It isn't
especially pretty for this, and helps makes @jasondouglas
<https://github.com/jasondouglas> 's case to name the relationship in the
other direction:

We did at @itemprop-reverse to Microdata (experimentally, anyw

[2015-01-29 22:48] #216 closed

[2015-01-30 04:53] tmarshbing commented on #206
What is wrong with just using Review as-is for ratings? It seems to have all of the necessary properties. Just don't fill in the reviewBody, and you have a rating. Perhaps we could rename Review to RatingOrReview to make the purpose clearer if we update the intended usage in this way?

[2015-01-30 09:20] danbri commented on #204
Re-opened as labelled as 'implementing' due to a couple more details:
- [ ] https://github.com/schemaorg/schemaorg/pull/293 Added URL as an expected type (in addition to Text) to the VisualArtwork properties of "artform", "surface", and "material"
- [ ] The descriptions for depth and height should probably be updated, too. If you look at http://sdo-stantz.appspot.com/VisualArtwork, the description

[2015-01-30 11:00] danbri commented on #206
@tmarshbing do you mean making Review the new supertype of our existing Rating type? Or abandoning Rating in favour of Review as-is? We'd need the numeric properties from Rating and AggregateRating, and there are 1000s of sites using it, so I guess you mean the former.

Regarding a rename (or shared supertype), Review only adds 'itemReviewed', 'reviewBody', 'reviewRating'. Since a (RatingOr)Review

[2015-01-30 11:14] danbri commented on #206
@tmarshbing do you mean making Review the new supertype of our existing Rating type?
Or abandoning Rating in favour of Review as-is? We'd need the numeric properties from Rating and AggregateRating,
and there are 1000s of sites using it, so I guess you mean the former.

Regarding a rename (or shared supertype), Review only adds 'itemReviewed', 'reviewBody', 'reviewRating'.  Since a (RatingOr)Revie

[2015-01-30 11:37] danbri commented on #140
It looks from http://schema.org/Rating as if we already addressed @awfuchs 's specific issue - I don't see "of the video" in that page any more. I suggest this issue can be closed in favour of the more active #206.

[2015-01-30 12:39] jvandriel commented on #301
+1 for the proposal (as if I could not be for it, hehe)

[2015-01-30 14:59] thadguidry commented on #193
Ah yes, we definitely need this.

Broadway Musicals and Theater (Playbill.com and its magazine) are good examples. (Note that Playbill reviews the individual production's performance itself....NOT the written play itself, which is a review of the CreativeWork)

[2015-01-30 15:12] thadguidry commented on #206
@danbri  You forgot one of the other requirements.  Review and Rating will both need to be able to apply an author (through CreativeWork or whatever).

[2015-01-30 15:30] danbri commented on #206
I thought I covered that via saying "allow our various CreativeWork properties (author, dates etc.) to apply directly on a Rating" (Review already has authors, though I agree we could note that as a continuing requirement).

[2015-01-30 15:41] thadguidry commented on #206
@danbri must...have....more....Coffee.  (so sorry, you did after re-reading)

I prefer proposal 1 ... shotgun approach without needing to worry about reviewRating.

[2015-01-30 15:45] danbri commented on #204
I've attended to those last 2 details. @tmarshbing @lazaruscorporation how is it looking? are we done?

[2015-01-30 17:19] vholland commented on #284
@jasondouglas - Couldn't you use gkellogg's suggestion above to define your extension inline? Schema.org already has schema.org/Property and schema.org/Class, which is equivalent to rdfs:Class. It seems if schema.org also had an equivalent to rdfs:subClassOf, authors could state PinAction is a subClassOf ShareAction and here are the properties.

[2015-01-30 17:22] jvandriel commented on #296
_"I differ also in that I consider a "care provider" to be the same beast, but more specialized than a "provider"."_

Good point, I stand corrected.   :)

_"Get MedicalProcedure, MedicalTest, and MedicalTherapy as specific types under http://schema.org/Service"_

+1

Personally I'm not too crazy about the idea for an MTE either, because imagine one has a MedicalProcedure containing an Offer. That

[2015-01-30 17:23] danbri commented on #306
Done. http://sdo-stantz.appspot.com/OrderAction

[2015-01-30 17:23] #306 closed

[2015-01-30 17:24] danbri commented on #305
Done: http://sdo-stantz.appspot.com/TradeAction

[2015-01-30 17:24] #305 closed

[2015-01-30 17:26] lazaruscorporation commented on #204
@danbri looks good to me!

[2015-01-30 17:27] danbri commented on #203
Fixed, thanks!

[2015-01-30 17:27] #203 closed

[2015-01-30 17:28] danbri opened #310 "suggestion of aircraft registration property"
"By the way, it would be useful if an aircraft registration number (tail number) could be added to aircraft/vehicle (http://schema.org/aircraft)."
from https://github.com/schemaorg/schemaorg/issues/203

[2015-01-30 17:30] tmarshbing commented on #204
@danbri looks good to me, too. Closing it.

[2015-01-30 17:30] #204 closed

[2015-01-30 17:32] jasondouglas commented on #284
@vholland - yes, that's what I would assume, but I don't believe we've said that it's either a recommended or supported practice.

[2015-01-30 17:43] lazaruscorporation opened #311 "HTML typo on "releases" page"
Current page at http://sdo-stantz.appspot.com/docs/releases.html#sdo-stantz reads "Corrected a case typo in Stéphane Corlosquet." due to missing quote in html. Submitting a porposed file change/pull request now...

[2015-01-30 17:51] danbri commented on #311
Yay, typos in our typo fixes!

[2015-01-30 17:58] danbri opened #313 "Several links to github are broken in docs/releases.html"
Also some include status=open filter. Needs tidying and fixing before final release.

[2015-01-30 18:06] lazaruscorporation commented on #311
Closing this as fix is now merged

[2015-01-30 18:06] #311 closed

[2015-01-30 18:08] danbri commented on #311
Thanks, Paul!

[2015-01-30 18:09] sesuncedu commented on #284
It's not really supported, and would have some implementation downsides at
scale.

An imports mechanism (using the same ontology language if desired ) could
have some distinct advantages over inline definitions, since instance
classification & validation rules can be compiled.

Inline axioms may cause problems for streaming processing, since axioms at
the end of the document may change the meaning

[2015-01-30 20:03] vholland opened #314 "Add MovieClip as a parallel to TVClip and RadioClip"
schema.org/TVClip and schema.org/RadioClip exist. It would be nice to have a type for MovieClip.

[2015-01-30 23:30] danbri commented on #314
Would we have VideoGameClip too?

[2015-01-31 00:59] chaals commented on #314
+ reply@- notifications@Without being up to my neck in the sue cases, I would prefer to have "audioClip" and "VideoClip" (although they might keep the historic names). cheers 31.01.2015, 02:30, "Dan Brickley" <notifications@github.com>:Would we have VideoGameClip too?—Reply to this email directly or view it on GitHub.   --Charles McCathie Nevile - web standards - CTO Office, Yandexchaals@yandex-te

[2015-02-01 14:12] danbri commented on #314
While we're here - to clarify, are 'audio'(AudioObject)  and 'video('VideoObject') the right way to link the actual audio/video contents of a clip? i.e. there's an indirection through a MediaObject to get to the actual bytes via http://schema.org/contentUrl ... (and via other structures for embedded players)

[2015-02-02 15:32] vholland commented on #314
+1 to some value in knowing the clip is part of TV, Radio, etc is useful.

I considered proposing VideoGameClip as well, so it may be worthwhile to add it at the same time.

[2015-02-02 15:40] danbri commented on #314
@vholland  - since we try not to 'over model' things via intermediate types ("SubtypableOnlineMediaClipEntityPrototype etc :), I think the pressure is more on us here socially to make sure relevantly similar terms get treated reasonably similarly. We've done that when adding video game lately so it seems worth tracking that here if possible.

[2015-02-02 16:10] vholland commented on #288
I have added some properties related to boarding passes at https://github.com/vholland/schemaorg/commit/b8f85c9e0a3c4816b8b5625dd2516b69ab200980.

Specifically, the proposed new properties on FlightReservation are:

passengerSequenceNumber: The passenger's sequence number as assigned by the airline.

passengerPriorityStatus: The priority status assigned to a passenger for security or boarding (e.g

[2015-02-03 17:58] danbri opened #315 "BroadcastService supertype should be Service, not Thing."
We have a variety of service-related types, and it makes not sense for BroadcastService to sit at the top below http://schema.org/Thing - let's find a better home for it. Proposal: set supertype of BroadcastService to be http://schema.org/Service. It was a mistake to add it under Thing, rather than under Intangible or Service.

Nearby we currently have:

* <http://schema.org/Service> <http://www.w

[2015-02-03 21:49] rvguha commented on #315
sgtm

On Tue, Feb 3, 2015 at 9:58 AM, Dan Brickley <notifications@github.com>
wrote:

[2015-02-03 21:56] jvandriel commented on #315
Sorry for crossposting but could http://schema.org/MedicalProcedure have http://schema.org/Service set as supertype as well, as raised in issue #296 ?

[2015-02-03 22:46] danbri opened #316 "warrantyPromise vs warranty - should they be converged to a single property?"
via @tmarshbing

[2015-02-03 23:26] danbri opened #317 "Add Turtle dumps on per-term views"
It would be good if per-term page we allowed .ttl or content negotiation to get a simple Turtle description of the term.

See also: https://github.com/schemaorg/schemaorg/issues/208 on expanding formats

[2015-02-04 00:17] tmarshbing commented on #303
@thadguidry Statement or Utility Statement from that list seem like the most applicable, but they weren't what I originally intended.

I now think there are two distinct concepts I was mixing up: agreements and statements. Let's take two examples:

Credit card:
- The agreement: In a credit card agreement, the consumer gets access to credit in exchange for a set of terms and conditions such as inte

[2015-02-04 00:40] tmarshbing commented on #206
I was trying to propose something slightly different than 1 or 2. I was just saying to:
- Update the documentation for the existing Review type almost as suggested in proposal 2, but something like this instead: "A review of an item - for example, of a restaurant, movie, or store. Reviews can be textual (indicated via reviewBody) or numeric~~, in which case they are called Ratings~~(indicated via

[2015-02-04 17:03] danbri commented on #317
I'll hack something towards this. TimBL asked for it, arguing that Turtle is the main format used by RDF / Linked Data people these days. Turtle also has the benefit of using basically the same syntax as the SPARQL query language. These languages are more for developers and experts (e.g. in standards groups or building apps or analysing schemas) than for mainstream publishers/webmasters, for whom

[2015-02-04 17:07] danbri opened #318 "Add a JSON(-LD) view of the entire type hierarchy"
It is too hard for mainstream developers to consume our schema definitions. This is holding back tool development and is easily enough fixed. a JSON view of the hiearrchy would go a long way towards fixing this (but see also meta bug, re CSV and other formats for other audiences, https://github.com/schemaorg/schemaorg/issues/208 ).

Proposal: a single doc with brief description of all types, JSON-

[2015-02-04 17:31] akuckartz commented on #317
:+1: I am seeing the use of turtle in JSON-LD specification work, probably because it contains less syntactic sugar.

[2015-02-04 18:14] danbri commented on #318
@gkellogg, Sandro Hawke and I discussed this some time back at a SF semweb hackathon, and Gregg has long had a Ruby implementation (@url) that generates such JSON. I've made a cut at similar within the schema.org Python codebase. It's not pretty but does the basic job.

* JSON-LD doc: http://sdo-scripts.appspot.com/docs/tree.jsonld
* Example implementations (tmp urls):
  * http://sdo-scripts.appsp

[2015-02-04 18:41] gkellogg commented on #317
Note that the Turtle spec also has turtle in a script element in HTML, whic my processor gets, although schema.org may never do so.

[2015-02-04 20:08] danbri commented on #313
Fixed in 34caf624aa4ca626d3c87b3c9710160d2222de05

[2015-02-04 20:09] #313 closed

[2015-02-05 09:28] lazaruscorporation opened #321 "Broken link/typo on releases page"
On the releases page, in the section for the latest 1.93 releases, the first line contains a typo ("materials" should be "material") and the link should got to schema.org/material not schema.org/materials (the latter correctly produces a 404 error)

[2015-02-05 09:32] lazaruscorporation commented on #321
Fixed the above in PR #322

[2015-02-05 12:47] vholland opened #323 "New property for location a CreativeWork was created/captured"
Adding a property like recordingLocation would allow us to capture where a CreativeWork was created. Particularly for images and video, it is useful to know the geolocation of the image.

[2015-02-05 16:18] tilid commented on #259
I don't think that subtype of ScholarlyArticle is a good idea. In my mind StudentPaper is slightly wider than ScholarlyArticle .
About relationship to the existing LRMI properties in schema.org. I think we can make StudentPaper  subtype of CreativeWork and place specific type of student paper in learningResourceType property from LRMI. Then it's need not make so many subtypes of StudenPaper

[2015-02-05 16:42] vholland commented on #266
See pull request https://github.com/schemaorg/schemaorg/pull/325/files

[2015-02-05 16:43] vholland commented on #288
See pull request https://github.com/schemaorg/schemaorg/pull/324/files

[2015-02-05 16:52] vholland commented on #314
See https://github.com/schemaorg/schemaorg/pull/326/files

[2015-02-05 17:08] danbri commented on #301
I've updated the description above to include in the proposal a property named in the opposite direction, mainEntityOfPage. Although it might seem decadent and redundant having both directions, we do this sometimes in schema.org where the information is particularly useful, on the basis of our rule of thumb which is to make things easier for publishers even if it makes things slightly harder for c

[2015-02-05 17:16] danbri commented on #321
At least the 404 was right ;) Thanks, will sneak the fix in.

[2015-02-05 17:20] #321 closed

[2015-02-06 13:11] vholland opened #327 "Add paymentUrl to Invoice"
From [public-vocabs](http://lists.w3.org/Archives/Public/public-vocabs/2015Feb/0022.html):

"I saw your thread 'New schema for Invoices' and looks like it has already been published - http://schema.org/Invoice One property that seems to be missing is 'paymentUrl'. I do see it as part of http://schema.org/Order, but should we also add it to Invoice?"

Seems reasonable to me.

[2015-02-06 14:39] danbri commented on #327
This sounds plausible to me, +1.

[2015-02-06 14:44] danbri commented on #301
An example,

* http://www.bbc.co.uk/programmes/b03gg84h
  * Google extraction: https://developers.google.com/webmasters/structured-data/testing-tool/?url=http://www.bbc.co.uk/programmes/b03gg84h
  * Ivan's RDFa parser extraction: http://www.w3.org/2012/pyRdfa/extract?uri=http%3A%2F%2Fwww.bbc.co.uk%2Fprogrammes%2Fb03gg84h&format=turtle&rdfagraph=output&vocab_expansion=false&rdfa_lite=false&embedded

[2015-02-06 15:03] danbri commented on #323
See also https://github.com/schemaorg/schemaorg/issues/249 on the vagueness of http://schema.org/contentLocation

[2015-02-06 15:27] vholland commented on #323
I had read this as the place where the Thing is. For example, my local library may be the contentLocation of a manifestation of Macbeth. Am I reading that wrong? If so, we can just tighten the definition.

[2015-02-06 15:40] vholland commented on #301
It's not marked up as so, but wouldn't the RadioSeries "Steve Wright in the Afternoon" be the man topic?

[2015-02-06 16:02] danbri commented on #301
The series is marked up via:
    "partOfSeries <http://www.bbc.co.uk/programmes/b006wr4r>;

I'd read this as that http://www.bbc.co.uk/programmes/b006wr4r is mostly about that series, whereas http://www.bbc.co.uk/programmes/b03gg84h and http://www.bbc.co.uk/programmes/b03fflnx are mostly about specific episodes in that series.

The Series page i.e. http://www.bbc.co.uk/programmes/b006wr4r has this

[2015-02-06 16:04] vholland opened #328 "MovieEvent type and properties for movie listings"
Schema.org currently has a type for MovieTheater, but data required for movie showtime listings is missing. The proposal implemented in my GitHub repositiory, would add the following:

MovieTheater:
  - New property "screenCount" to describe the number of screens at a given theater

MovieEvent:
  - New type for movie screenings
  - Properties include:
      - screeningType: The type of screening (

[2015-02-06 16:12] danbri commented on #323
@vholland your guess is as good as anyone's here re contentLocation. The ancients have not left us adequate records of their initial vision here, unfortunately. From an unscientifically anecdotal look at a few pages that use it, country seem to be amongst common values for the property. But that makes a kind of sense even if to mean "where is the copy now", in that the bigger a place is always goi

[2015-02-06 16:14] vholland opened #329 "New schema to support TV listings"
Schema.org currently has types for BroadcastService and TelevisionStation, but there is no notion of a channel in a given TV line up as one would find from a satellite or cable provider.

This proposal is to add the following:

- New type TelevisionChannel for a specific channel in a provider lineup. Properties include:
    - channel: for the identifier (usually a number) in a provider's lineup

[2015-02-06 16:14] sesuncedu commented on #301
Also, I have the stupid jingle from the 80s stuck in my head now.

[2015-02-06 16:33] jvandriel commented on #301
Another example can be found on: http://www.imdb.com/title/tt1617661/, which contains 3 Top Level Entities: Movie, VideoObject and another VideoObject.

Google's SDTT: https://developers.google.com/webmasters/structured-data/testing-tool/?url=http://www.imdb.com/title/tt1617661/?ref_=inth_ov_tt

[2015-02-06 18:04] danbri commented on #213
I think we should do this.

[2015-02-06 18:07] lazaruscorporation commented on #323
We already have a "recordedAt" property for CreativeWork which would seem to fulfil the requirement for where the CreativeWork *depicts* (currently "recordedAt" expects schema.org/Event, but I'd suggest that schema.org/Place be added as well).

So what's missing is a property to specify where an instance of CreativeWork *resides* - of course that would only be of use where the CreativeWork is a un

[2015-02-06 18:52] chaals commented on #328
I support the MovieEvent, but would prefer it to be called screeningEvent, and the new / extended properties (although subtitleLanguage should IMHO be cased like that).

I'm not sure about the use case for screenCount - is this important for movie theaters?

[2015-02-07 11:57] danbri commented on #183
In the spirit of re-using rather than duplicating our existing noun-oriented types, I think we should do this. Queueing an implementation for sdo-gozer. I'm also modernizing its range to permit Comment type as a value (long overdue). Definitions would then be:

    <div typeof="rdf:Property" resource="http://schema.org/comment">
      <span class="h" property="rdfs:label">comment</span>
      <spa

[2015-02-07 13:31] elf-pavlik commented on #138
[code]
I understand that all types will have *schema:supersededBy* statements added

what about domain/rangeIncludes, they will simply get removed?
[code]

[2015-02-07 13:35] elf-pavlik commented on #145
@danbri if you like I can revert | drop this change and then use *schema:supersededBy* instead!

[2015-02-07 18:25] danbri commented on #145
Yes, I think schema:supersededBy would be most appropriate here. @elf-pavlik could you tweak your branch that #285 draws from? I've filed this for the next release, and can't see it proving controversial.

Simon is right that we could say more about what it means. We have never said that it implies subPropertyOf, since it is easy enough to assert that independently at the same time where needed.

[2015-02-09 11:17] danbri commented on #328
@chaals it's a type not property so assume you are asking for "ScreeningEvent" with an initial capital. The first thing that 'screening' makes me think of is airport security, so although bearable I wouldn't argue for that change.

@vholland - I don't see the most basic functionality here, which is indicating the particular movie that will be shown. While the workPerformed property doesn't directl

[2015-02-09 17:47] vholland commented on #323
I've been looking at uses of contentLocation and authors use it for either the location of the item or where the item was created, depending on the author's needs and interpretation of the vague description.

My only concern with using "locationRecorded" is people are already using "recordedAt" for the same idea. I hate to break their markup without a compelling reason.

[2015-02-09 18:05] vholland commented on #328
I was thinking about using workPerformed to associate the Movie with the MovieEvent. Something like:

{
  "@context": "http://schema.org/",
  "@type": "MovieEvent",
  "name": "Blade Runner anniversary showing",
  "startDate": "2015-02-09T21:00:00Z",
  "workPerformed": {
      "@type: "Movie",
      "name": "Blade Runner"
   }
}

[2015-02-09 18:36] sesuncedu commented on #323
There is metaphysics involved here-
A "creative work" does not necessarily reside anywhere.

There are certain stances you can take that would allow you to assign a
spatial region to the creative work "Moby Dick", which would be the same as
the space occupied by every single copy of the work (including copies in
people's heads). Every time a copy was moved, this region would change.
This is rarely

[2015-02-09 18:38] dbs commented on #323
Running through schemabibex archives, all of the references I found to contentLocation seemed to assume that it referred to the physical location of the described work itself (the physical book, the sculpture, etc), not the about-ness of the work (which schema:about seems to capture much more nicely).

* https://lists.w3.org/Archives/Public/public-schemabibex/2013Oct/0003.html
* https://lists.w3.o

[2015-02-09 19:03] vholland opened #330 "Need a way to specify minimum required order on DeliveryChargeSpecification"
DeliveryChargeSpecification allows an author to specify a deliveryMethod, eligibleRegion, and price, but there is no way to specify a minimum purchase for delivery. For example, many sites have different delivery price structures. I may pay $5 for delivery, but order over $50 are free.

We should add a minimumRequiredPurchase property to specify the purchase required for the given delivery charge.

[2015-02-09 20:06] danbri commented on #328
Seems a pity to dilute the reasonably clear 'workPerformed' property, but I guess bearable. Adding properties isn't without cost either.

If I wrote down events to describe MP3s I'm playing in my house, would workPerformed be the right relationship between the event and the work? It feels like an awkward stretch of 'performed'.

workScreened ?

[2015-02-09 21:38] vholland commented on #323
@sesuncedu This is where schema.org's simplicity of describing all levels of FRBR as "CreativeWork" makes things messy. I can describe Moby Dick at the Work, Expression, Manifestation, or Item level and still use schema.org/Book.

Based on the analysis from @dbs above, there is some momentum for using contentLocation to describe the physical item's location (which was my reading of the property).

[2015-02-09 21:47] vholland commented on #328
If this is a MovieEvent-only property, perhaps movieScreened?

[2015-02-10 00:38] sesuncedu commented on #323
Simplicity is great until things get complicated.  I myself am famed for
being simple.

Simon

[2015-02-10 09:56] danbri commented on #263
I've asked Martin to break out the property-value piece from his larger proposal (currently all in one branch).

[2015-02-10 13:57] wanghaisheng opened #331 "how to get all the contents of documentation offline"
I want to get a copy of website for transalation

[2015-02-10 15:38] brock opened #332 "MiddleName"
|  |  |
| --- | --: |
| ![question](http://cl.ly/image/2d2A1c3K2G1m/rt.jpg) | Uh, the gentleman in the blue cardigan, please. |
| Thank you. I have a two-part question. | ![cardigan](http://cl.ly/image/312Y1B3b2J3g/bc.jpg) |
1. Do you have any plans to add "middleName" as a value for the Person model?
2. If so, I'd like to propose a way to designate the Person's preference of which name they use.

[2015-02-10 15:46] twamarc commented on #332
Currently schema.org suggest https://schema.org/additionalName in place.

[2015-02-10 16:02] brock commented on #332
thanks @twamarc I hadn't seen that one yet.

[2015-02-10 16:33] akuckartz commented on #332
Is anybody interested in the complexity of additional person name components.

[2015-02-10 17:24] wanghaisheng commented on #332
@akuckartz  you can have a look here
http://hl7-fhir.github.io/datatypes.html 1.22.0.12 HumanName

[2015-02-11 12:43] danbri commented on #332
Personal name substructure is a very daunting area, and it is hard to handle well
http://www.w3.org/International/questions/qa-personal-names provides an overview of the complexity. If there are useful patterns of use for existing properties that would be a good start towards improving things.

[2015-02-11 14:56] dbs commented on #323
Pretty sick right now so my brain is not working well, but my analysis only showed that the knee-jerk interpretation of contentLocation in schemabibex was that it was the physical item's location; however, due in no small part to the challenges @sesuncedu raised, we opted not to map anything to that property in any of our recommendations, preferring the much more concrete Offer with its useful tim

[2015-02-11 15:05] pierrefar opened #333 "BreadcrumbList: Clarify position and how it interacts with itemListOrder"
http://schema.org/BreadcrumbList
http://schema.org/itemListElement

For http://schema.org/BreadcrumbList, the example has an `itemListElement` with two `ListItem`s. They each have a position but it's not clear what it means.

For example, what do these code examples mean?

The current code example:
[code]

With an extra hint about the order:
[code]

And should the `itemListOrder` be `ItemListOrder

[2015-02-11 15:11] danbri commented on #333
Thanks @pfar :)

@vholland - this is indeed a bit unclear, partly because the metaphor of 'ascending' pulls in two directions. For "top 10" lists, intuition says that being at the top of the list, at 0 or 1, is the highest you can be. But numerically, higher numbers are in the other direction.

For breadcrumbs it seems like the implicit model we've used is that the homepage or top of the site nav

[2015-02-11 15:33] jvandriel commented on #333
As for the 'itemListorder', can we keep the working the same as it it is
HTML5?

For example:

2015-02-11 16:11 GMT+01:00 Dan Brickley <notifications@github.com>:

[2015-02-11 15:46] jvandriel commented on #333
As for the 'itemListorder', can we keep the working the same as it it is in HTML5? For example:

## Acscending:
[code]
Translates to:
[code]
Both generate:
1. Coffee (first item in the list)
2. Tea (second item in the list)

## Descending:
[code]
Translates to:
[code]
Both generate:
2. Coffee (first item in the list)
1. Tea (second item in the list)

[2015-02-11 18:53] danbri commented on #284
Here's a discussion document that revisits our approach to extensions:

https://docs.google.com/document/d/1-hq53ZtP1NxRqpjCCuhVRRwqQmEuaAzWDQ7OuG18_pg/edit?usp=sharing

(If anyone has trouble w/ google docs let me know and I'll post a snapshot somewhere in a textier form)

[2015-02-12 11:30] philwareham opened #334 "accessibilityHazard content"
The Schema.org site lists the following example `content` for `accessibilityHazard`...

    <meta itemprop="accessibilityHazard" content="noFlashing"/>
    <meta itemprop="accessibilityHazard" content="noMotionSimulation"/>
    <meta itemprop="accessibilityHazard" content="noSound"/>

But the linked reference page [WebSchemas wiki lists possible values](http://www.w3.org/wiki/WebSchemas/Accessibil

[2015-02-12 14:27] danbri commented on #334
@chaals can you take a look?

[2015-02-12 18:53] pierrefar commented on #333
@jvandriel To make sure I understand, we'd be asking the parser to first order by `position` as `ItemListOrderAscending` by default, and then reversing the order if it's `ItemListOrderDescending`.

Another point to note: `position` can be an integer or text (e.g. "Episode 3"). How should that apply to breadcrumbs?

[2015-02-12 22:02] Aaranged opened #335 "VideoGameSeries example on VideoGame uses gameLocation"
On:
http://schema.org/VideoGame

The last example (JSON-LD) is for VideoGameSeries, and employs the property "gameLocation".

`<script type="application/ld+json">`
`{`
`  "@context": "http://schema.org",`
`  "@type": "VideoGameSeries",`
`  "name":"Mass Effect",`
`  "genre":["ARPG", "third-person shooter"],`
`  "author":"BioWare",`
`  "character":{`
`  "@type":"Person",`
`  "name":"Shepard",`
`  "b

[2015-02-12 22:45] Aaranged commented on #328
@danbri I was initially going to weigh in with essentially your same comment about a means of "indicating the particular movie that will be shown", but upon reviewing Event and its sub-types I came to the same conclusion as @vholland - that "workPerformed" fit the bill without the need to add any additional types or properties.

I still think that's the case, though it's indeed unfortunate that "p

[2015-02-13 00:52] thadguidry commented on #335
Would you rather it be called gameSeriesLocation ?

[2015-02-13 01:06] Aaranged commented on #335
@thadguidry "gameLocation" is just fine.  The bug I'm pointing out isn't that the label is a bad one, but that the example for VideoGameSeries uses a property - gameLocation - which isn't a property listed under VideoGameSeries.

Either removing the gameLocation property declaration from the example *or* adding gameLocation as a property under VideoGameSeries will clean up the example.  FWIW I fav

[2015-02-13 14:00] vholland opened #336 "TVSeries and TVEpisode have actors and directors, but TVSeason does not"
The properties "actor" and "director" exist on TVSeries and TVEpisode. We should add TVSeason to the domain to round out the possibilities.

[2015-02-13 16:55] vholland commented on #327
I'm going to contradict myself. Should we instead prefer PayAction? You would have:

{
  "@context": "http://schema.org/",
  "@type": "Invoice",
  "description": "January 2015 American Express bill",
  "potentialAction": {
    "@type": "PayAction",
    "target": "http://www.amex.com/january_2015_bill"
  }
}

If so, we should deprecate paymentUrl in favor of this mechanism across the board.

[2015-02-13 18:50] vholland commented on #336
See pull request#337: https://github.com/schemaorg/schemaorg/pull/337/files

[2015-02-13 18:58] vholland commented on #330
See [change #338](https://github.com/schemaorg/schemaorg/pull/338/files).

[2015-02-13 20:12] vholland commented on #246
The previous discussion did not raise the issue that non-profit is usually a legal/tax status granted by a government agency and therefore non-profit status can differ from country to country even for the same organization.

It seems like it would be best to have a link between:

- Government body which determines non-profit status (differs country to country)
- Designation (See [501(c)](http://en

[2015-02-14 05:30] unor opened #340 "Microdata, multiple item types, and properties not defined by *all* types"
The Microdata version of [`VideoGame` example 4](http://schema.org/VideoGame#games-4) defines two item types on the same element (which is [allowed](http://stackoverflow.com/a/21969655/1591669) if they are from the same vocabulary):

    <body itemscope itemtype="http://schema.org/VideoGame http://schema.org/MobileApplication">

In this item, the [`gamePlatform`](http://schema.org/gamePlatform) pr

[2015-02-16 16:08] danbri commented on #335
Thanks. It seems appropriate to allow this, one way or another.

[2015-02-17 05:28] unor opened #341 "Range of programmingLanguage: Language instead of Thing?"
The [`programmingLanguage` property](http://schema.org/programmingLanguage) currently has a range of `Thing`.

Its definition ("The computer programming language.") suggests that it could/should be [`Language`](http://schema.org/Language) instead:

[2015-02-17 05:45] unor opened #343 "Description of sampleType"
The description of the [`sampleType` property](http://schema.org/sampleType) currently is:

As far as I understand it, it lists possible example values instead of describing the purpose of the property.

I think it should start with a description instead, followed by these example values.

(On a side note, I wonder why it’s called "`sampleType`" instead of something like "`codeType`", as `Code` is

[2015-02-17 11:15] twamarc opened #344 "Need to extend rangeIncludes of http://schema.org/prescribingInfo"
Hi there,
The predicate http://schema.org/prescribingInfo is often used with pure text provided by the physician and not always from an URL. Can we extend the rangeIncludes of this for this purposes?
Thanks
Marc

[2015-02-17 14:00] twamarc opened #345 "extending rangeIncludes of dates predicates"
Hello again,
I'm suggesting to extend rangeIncludes of the following date predicates by adding http://schema.org/DateTime classe.
Predicates are:
-http://schema.org/startDate
-http://schema.org/endDate
-http://schema.org/orderDate
-http://schema.org/dateCreated
-http://schema.org/releaseDate
-http://schema.org/dateModified

By adding http://schema.org/DateTime classe in range we will be able to us

[2015-02-17 14:36] jvandriel commented on #333
@pierrefar In regards to BreadCrumbList personally I think it would be best indeed if the order is ```ItemListOrderAscending``` by default, to be reversed if ```ItemListOrderDescending``` has been specified.

As for ```position```'s 'integer or text', if I recall the discussions about ```ItemList``` correctly, 'text' was added so folks would be able to express list styles 'a,b,c' or 'I, II, III' a

[2015-02-18 11:02] danbri commented on #341
Thanks. Yes this could do with more care (as could 'Language' itself). We don't want to include lists of actual languages (human, computer or hybrid) as part of the schema.org core, but we should document ways of using external enumerations e.g. Wikipedia/Wikidata and it might make sense to break out subtypes of Language.

[2015-02-18 11:15] danbri commented on #340
Microdata might be a little too uptight here. But it also doesn't specify any particular schema system, so it is also rather relaxed.

Otherwise we can just say something legalistic in the small-print like,
"In addition to the main properties that are expected for some type, any other schema.org property is also applicable when the underlying real world item is also a member of another suitable ty

[2015-02-18 11:48] lazaruscorporation opened #346 "Linked Open Data: extend rangeIncludes of 'genre' + 'keywords' properties of CreativeWork to include URL"
Hi

I'd like to suggest extending the rangeIncludes of the 'genre' ~~and 'keywords'~~ property of schema.org/CreativeWork (currently just "Text") to also include URL.

This will allow advanced users to implement more Linked Open Data (LOD) in schema.org, by replacing a free-typed text string in 'genre' ~~or 'keywords'~~ with a URI from a LOD vocabulary.

For example, the "genre" property for a Lat

[2015-02-18 12:03] lazaruscorporation opened #347 "Keywords property of CreativeWork"
Hi

The current instruction on http://schema.org/keywords is "Keywords or tags used to describe this content. Multiple entries in a keywords list are typically delimited by commas."

I'd like to suggest that we also allow the keywords property to be used multiple times within a Type when describing something (and update the informative text on http://schema.org/keywords to describe this), as this

[2015-02-19 11:17] danbri commented on #347
While I appreciate the general motivation, in this case wouldn't 'about' work? http://schema.org/about
i.e. "The subject matter of the content."? Do the URLs you give correspond to a specific set of keywords, or to the underlying concept?

[2015-02-19 12:05] lazaruscorporation commented on #347
Hi @danbri

I'm not sure and it's probably one of those grey areas open to interpretation (at least for me!). 'about' expects an instance of schema.org/Thing, not a URL, so it's not ideal for use for linked data. Yes, you could mark-up an instance of 'Thing' and then use that instance's 'sameAs' property to implement LOD, but that starts to produce messy & extraneous markup (example below):

[code

[2015-02-19 12:31] Dataliberate commented on #347
Hi Paul,

As everything is effectively a Thing, I think you are being to literal
about the definition of 'about'.

In the Works (e.g. http://worldcat.org/entity/work/data/5925259), and
resource data (e.g.. http://www.worldcat.org/oclc/64750133 - checkout the
LD section at the end of the page), data published from WorldCat we (OCLC)
use the identifiers for things defined by several agencies [FAST,

[2015-02-19 12:43] lazaruscorporation commented on #347
Hi Richard

Looking at the markup on the worldcat site it looks like this would be OK:

[code]

Is that correct? If so then I'd be happy to use "about" instead of "keywords", and will close this issue since it was due to my misinterpretation of the use of keywords/about.

Paul

[2015-02-19 13:28] Dataliberate commented on #347
That looks good to me

~Richard

[2015-02-19 13:40] lazaruscorporation commented on #347
Brilliant - I'll close this issue as a non-issue, then!

[2015-02-19 13:40] #347 closed

[2015-02-19 13:43] lazaruscorporation commented on #346
Edit: following the resolution of #347 (thanks to @danbri and @Dataliberate) this request to extend the rangeIncludes to URL (in addition to text) should only apply to the "genre" property, not the "keywords" property

[2015-02-19 19:10] ppKrauss commented on #280
**I agree, "Schema.org should have mappings to Wikidata terms where possible"**. How to vote? or how to colaborate and/or check work in progress?  There are a link about work in this issue?

[2015-02-19 19:16] bg commented on #280
Argh. Every time you've pasted at-sign followed by a real github user id in the thread above, you've subscribed that user to this issue. For those like me who unluckily have easy to randomly appear in issues user ids, just look for the Unsubscribe button under Notifications: for this issue and unsubscribe. So, seeya folks, and good luck with the actual issue. :)

[2015-02-19 19:40] da commented on #280
^

[2015-02-19 20:41] mr commented on #280
ayy lmao

[2015-02-20 01:20] eldk commented on #141
Hello,
Just test AggregateOffers with offers in https://developers.google.com/structured-data/testing-tool/ with example given in http://schema.org/AggregateOffer second and last exemple (copy/paste the code).

Property offers used with AggregateOffers is still throwing and error : "Nous ne reconnaissons pas la propriété offers pour un objet de type AggregateOffer." or we don't know offers propert

[2015-02-20 09:01] ppKrauss commented on #280
**Proposal**
Proposal for enhance [schema.org](http://schema.org) definition descriptors, mapping definitions to Wikidata.

I think the easiest way to add Wikidata-ID to schema.org definitions, is to add a link in description phrases. Use only one link. Examples:

* http://schema.org/Organization  An *[organization](https://www.wikidata.org/wiki/Q43229)* such as a school, NGO, corporation, club, e

[2015-02-20 13:46] ppKrauss opened #348 "Proposal for enhance dc:source citations, mapping sources to LOV"
**Proposal**

Proposal for enhance [schema.org](http://schema.org) source citations, mapping sources to [LOV - Linked Open Vocabularies](http://lov.okfn.org).

-----

**Explaining in detail**

As stated in the [datamodel page](http://schema.org/docs/datamodel.html), the canonical machine representation of schema.org is in RDFa:
    http://schema.org/docs/schema_org_rdfa.html
so, this is the source

[2015-02-20 14:29] danbri commented on #348
Thanks, yes I've begun work on this (see also https://github.com/schemaorg/schemaorg/issues/84 ). The 'dc:source' hack was more about generating the acknowledgements UI in the site. If you look you'll also see more vocabulary oriented mappings e.g. view-source:http://schema.org/Event

Bear with us on this, we're also figuring out how it relates to our extensions work and to finding a place in the

[2015-02-20 15:51] ppKrauss commented on #348
Sorry, I not saw  #84  before... So, perfect (!), we agree. Well, there are agreement about the `href` value?

I think [LOV](http://lov.okfn.org/dataset/lov/vocabs)  is a reliable and well-maintained "index of vocabularies". Is better than "self citation"... We can generate a dump of LOV cited entries in the `github.com/schemaorg/schemaorg` for safe, and to maintain the [mappings page](http://sche

[2015-02-20 16:20] ppKrauss commented on #84
Complementing this issue with the #348 proposal...

Perhaps the **first step** here is only a choose to a better (standardized!) `href` into the source citations.

Example:  replace `href="http://www.w3.org/wiki/WebSchemas/SchemaDotOrgSources#source_GoodRelationsProperties"` to `href="http://lov.okfn.org/dataset/lov/vocabs/gr"`.

Any other reference-vocabulary can be checked in http://lov.okfn.org

[2015-02-20 20:42] westurner opened #349 "ENH: class/property lookup JS widget"
As a schema.org learner and implementor, I want to lookup classes and properties (through the web).

- [ ] ENH,REF: Choose an RDFJS framework
  * http://www.w3.org/community/rdfjs/wiki/Comparison_of_RDFJS_libraries
  * features/parser_support: { jsonld, n3, ttl, rdfxml }
    * http://json-ld.org/
- [ ] ENH,UBY: Autocomplete control with an index of classes, properties, extensions
  - [ ] Add contr

[2015-02-20 22:13] ppKrauss opened #350 "Generalize honorificSuffix to suffix?"
There are some problems with proper name suffixes, when we try to use _schema.org_...

_Person_ can express your "complete name" by _familyName_, etc. and can use http://schema.org/honorificSuffix
but is not evident that "junior" (in John Doe Jr.) is a  _honorificSuffix_, because is a suffix (Jr. isn't a _familyName_), but isn't "honorific".

Organization can express your "complete name" by http:/

[2015-02-22 15:54] elf-pavlik commented on #280
@danbri please remember to fence code snippets with three backticks which can also include clue for syntax highlighting

[code]
also see code tab in Examples of github markdown https://guides.github.com/features/mastering-markdown/#examples

[2015-02-22 16:04] elf-pavlik commented on #280
@ppKrauss I think people would appreciate more machine readable mappings using owl:equivalentProperty etc.
e.g. https://github.com/schemaorg/schemaorg/blob/d370e33a97654746e696973c7966b84b501a59dc/data/schema.rdfa#L5706

IMO we could consider everything from subset of OWL used by RDFa Vocabulary Entailment
http://www.w3.org/TR/rdfa-syntax/#s_vocab_expansion

[2015-02-22 17:29] ppKrauss commented on #280
@elf-pavlik thanks (!), so the issue now is only to add something as
  `<link property="owl:equivalentProperty" href="http://WikiDataURL"/>`
in each `rdf:Property` and each `rdfs:Class` ... is it?

New suggestion: we may  colaborate with an online interface or (initially) by a spreadsheet (ex. Excel) at github, with the columns wikidataID and Property or wikidataID  and Class.

[2015-02-22 17:34] lydiapintscher commented on #280
Why not add it directly in Wikidata?

[2015-02-22 17:39] ppKrauss commented on #280
@lydiapintscher , perhaps I am not understanding your point, sorry... The objetive in this issue is to map the schema.org definitions in to the wikipedia.org concept definitions, not the inverse.

[2015-02-22 17:39] lydiapintscher commented on #280
Both should happen, no? ;-)

[2015-02-22 17:43] ppKrauss commented on #280
@lydiapintscher , I think it is a matter of scope. You can imagine Wikidata as an (external and closed) didictionary, like Webster, not like an open project like Wiipedia.

[2015-02-22 17:44] lydiapintscher commented on #280
Wikidata is just as open as Wikipedia.

[2015-02-22 18:56] ppKrauss commented on #280
@danbri , see @bg et al., you can prevent an "Internet incident" :-)

You can edit or delete your [issuecomment-71371283](https://github.com/schemaorg/schemaorg/issues/280#issuecomment-71371283) above.

[2015-02-22 19:35] nemobis commented on #280
Peter, 22/02/2015 18:39:

Does such a thing exist?

[2015-02-22 23:05] ppKrauss commented on #280
@nemobis , ops, sorry, haste is error-prone... :-)    Let me try to explain,

@lydiapintscher  say "Wikidata is just as open as Wikipedia", and it is correct.
I say "it is a matter of scope" and I am correct... Scope is the main point here.
Here, at schema.org discussions and colaborating into this *github/schemaorg*, we need to work only for schema.org, not for Wikidata... So, I say "imagine ..."

[2015-02-23 01:28] unor opened #351 "articleBody and text"
`CreativeWork` defines [`text`](http://schema.org/text):

`Article` defines [`articleBody`](http://schema.org/articleBody):

Is there a difference between "actual body" and "textual content", e.g., is one broader? Are there cases for an `Article` where only _one_ of these properties applies?

I wonder if we need `articleBody` at all, and if yes, if it should be a sub property of `text`.

[2015-02-23 02:29] scor commented on #351
I remember telling @danbri about this, but never ended up filing an issue for that. +1.

'text' was introduced with the Comment type: http://www.w3.org/wiki/WebSchemas/Comment#Core_Proposal

[2015-02-23 09:39] elf-pavlik commented on #280
@lydiapintscher once schema.org URIs have mappings to wikidata URIs added, do you see a way to add them to wikidata in programmable way? IMO it doesn't make sense to do it manualy via web UI... maybe wikidata team could just import them from schema.rdfa?

[2015-02-23 11:31] ppKrauss opened #352 "Add a /proposals folder in the /schemaorg folder"
A "current proposal repository" proposal.

**See [`/proposals` folder working on my fork](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals)**

-----

Process mechanism using the `/proposal` folder
=======================================

1. **Create** an issue here, to generate an *issue number*. <br/>Example: the issue "Transcribe equivalentProperty and Class mappings" creation, gen

[2015-02-23 11:57] magicomartinez opened #353 "Incorrect example under http://schema.org/Question"
The current example under http://schema.org/Question is malformed with incorrect nesting of the suggestedAnswer inside suggestedAnswer.

Google's testing tool also highlights this as an error:

![pastedgraphic-2](https://cloud.githubusercontent.com/assets/944051/6327358/143cf8c6-bb53-11e4-9d6f-7f512fa52c25.png)

[2015-02-23 12:42] ppKrauss commented on #84
See  this *first step* at [my proposals/testing/issue84etAl](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals/testing/issue84etAl) and the  [diffs with LOV links implementation here](https://github.com/ppKrauss/schemaorg/commit/1bc594f108e2ebeaa5bec80139db13a5748a472f).

PS: all at [my pull request](https://github.com/schemaorg/schemaorg/pull/354) to add `/proposal` folder.

[2015-02-23 12:43] ppKrauss commented on #348
See  this *first step* at [my proposals/testing/issue84etAl](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals/testing/issue84etAl) and the  [diffs with LOV links implementation here](https://github.com/ppKrauss/schemaorg/commit/1bc594f108e2ebeaa5bec80139db13a5748a472f).

PS: all at [my pull request](https://github.com/schemaorg/schemaorg/pull/354) to add `/proposal` folder.

[2015-02-23 12:44] ppKrauss commented on #350
See  this *proposal consolidated* at [my proposals/testing/issue84etAl](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals/testing/issue84etAl) and the  [diffs with honorificSuffix modification here](https://github.com/ppKrauss/schemaorg/commit/1bc594f108e2ebeaa5bec80139db13a5748a472f).

PS: all at [my pull request](https://github.com/schemaorg/schemaorg/pull/354) to add `/proposal` fo

[2015-02-23 15:34] ppKrauss commented on #280
I am trying (with bad English) to consolidate this issue in a *draft of the proposal*, can you help?

A next step  will be to create a `Readme.md` for everybody edit this text, perhaps with the #352 mechanism, and (phase1) implement "by hand" some examples in  [schema.rdfa](https://github.com/schemaorg/schemaorg/blob/sdo-gozer/data/schema.rdfa).

------

Foundations collected from comments posted

[2015-02-23 16:01] ppKrauss commented on #280
@lydiapintscher , Sorry again... I not saw that there are also a proposal of "sibling project at Wikidata" (!)...  Can you please check if my "[draft of this proposal](https://github.com/schemaorg/schemaorg/issues/280#issuecomment-75565671)" text is now on the rails? I am trying to "translate" and consolidate all comments in one document... To start all with the same scope, objective, etc.

[2015-02-23 16:14] ppKrauss commented on #280
@danbri , @elf-pavlik , and others, I not understand if there are a "formal procedure for create proposals" here...

Can you please check if my "[draft of this proposal](https://github.com/schemaorg/schemaorg/issues/280#issuecomment-75565671)" text is now on the rails?   I need your help to "translate" and consolidate it.

----
About automation, I still do not understand well, you want to automate

[2015-02-23 17:06] elf-pavlik commented on #280
@ppKrauss thanks for trying to summarize this thread into a proposal!

please don't confuse *owl:equivalentClass* with *owl:equivalentProperty*

if you look at [schema.rdf](https://github.com/schemaorg/schemaorg/blob/sdo-gozer/data/schema.rdfa) we need accordingly
*  *typeof="rdfs:Class"* needs *owl:equivalentClass* or *rdfs:subClassOf*
*  *typeof="rdf:Property"* needs *owl:equivalentProperty* or

[2015-02-23 17:35] danbri commented on #280
Thanks all. Indeed I'm on a trip and can't currently give this the
attention it deserves, but I would try to nudge the focus towards actual
mappings and away from the specific implementation details at schema.org.
We will be making some changes in the site tooling to support mechanisms
for extension that may be relevant here.

How about we just jump into the details and start a spreadsheet with a

[2015-02-23 18:13] Dataliberate commented on #351
I was about to add a +1 for rationalising things in this area when a
thought struck me....

Is a Text sufficient, in either case, to represent the body of an Article
or CreativeWork?  Many articles contain formatting, images, etc., that can
only be represented in formats more complex than plain old text - html,
pdf, etc.

This question may be solved simply by adding URL [to the actual body] as a
t

[2015-02-23 19:41] ppKrauss opened #355 "Class labels with space"
at current https://github.com/schemaorg/schemaorg/blob/sdo-gozer/data/schema.rdfa
some classes (`rdfs:Class`) are in the form "Label Label" instead "LabelLabel" in the `rdfs:label` span value.

 *  Bus Trip (http://schema.org/BusTrip)
 * Program Membership (http://schema.org/ProgramMembership)
 * Train Trip (http://schema.org/TrainTrip)

-----

It is a problem when you use a XPath (to retrive the

[2015-02-23 23:03] ppKrauss commented on #355
I do the correction, [you can view it navigating here](https://github.com/ppKrauss/schemaorg/commit/7f9fdd3885f9fbec742d1450a7dc62813dbc2273), but it is a pending fork.

[2015-02-24 00:22] ppKrauss commented on #280
@elf-pavlik   thanks (!), I edited with your correction (and now coping also to my  [issue280](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals/testing/issue280) "ahead of work" :-)

----
@danbri Ok I send to [to **this googleDoc**](https://docs.google.com/spreadsheets/d/1KeTSrVjSHRfVRwSgg6-LN0pu6nVre7cspUrkf_gfMm8/)   and updated my #352  with the [tool that generates the spreadshee

[2015-02-24 01:00] danbri commented on #280
Thanks. Yes starting with the more most general / common types makes sense.

Where I got stuck: I could not figure out a good programmatic way to access
Wikidata's schema information in all its richness.

Maybe there is a way to take the JSON dumps, load them into some
fast-access NoSQL-ish database, so that things can be
searched/matched/retrieved easily?

[2015-02-24 01:10] danbri opened #356 "Consider how to represent percentages via DataType"
(reflecting an old conversation amongst colleagues into the record)

[2015-02-24 09:05] zeroware opened #358 "InformAction from an Agent"
I have an `Agent` (a machine) that will send mail notifications to some `Person` when an `Event` occurs.

I found that `InformAction` is appropriate but i'm not quite sure about the usage.

Here is what I have so far :

[code]

Is this a correct way to describe a mail notification for an event ?
Should I use `object` or `instrument` to include the `EmailMessage` ?

[2015-02-24 09:11] jimkont commented on #280
Wikidata provides RDF dumps here: http://tools.wmflabs.org/wikidata-exports/rdf/exports/20150126/

It is easy to get the classes from the wikidata-taxonomy dump but needs to be joined with the wikidata-terms dump to get the labels. For properties you can use the wikidata-properties dump

If you want something more fine-grained you can try the WKDT toolkit
https://github.com/Wikidata/Wikidata-Toolk

[2015-02-24 13:09] ppKrauss opened #359 "rdfs:comment encoding... Need quotation rules?"
The `rdfs:comment` content, when representated in DOM ([libxml2](http://xmlsoft.org/)) lost the `&quot;` and `&#39;` quotation entity-representation, changing them to the UTF8 correspondent chars.

Can we change this "rule" of [schema_org_rdfa](http://schema.org/docs/schema_org_rdfa.html) representation? Ideal is to use "UTF8 representation" in any element contents.

[2015-02-24 14:01] ppKrauss opened #360 "Representation of schema_org_rdfa in "canonized" Polyglot HTML5"
Only to remember that http://schema.org/docs/schema_org_rdfa.html
**is** (or is near to)  a  [Polyglot representation](http://www.w3.org/TR/html-polyglot/)... And we can use this constraint for the future, to avoid any "enhance" that lost this constraint. In other works,

Suggestion: at github and development assume that is a XHTML5 representation, that is, a polyglot with `MIME text/xml` (**needs

[2015-02-24 14:23] ppKrauss commented on #360
Ops, another issue for representation ... Ideal is to use a http://www.w3.org/TR/xml-c14n  (canonized) representation of atributes, spaces, etc. to avoid "false diff" on `diff` analysis.
... Ok, an "Polyglot-canonized", that not lost any Polyglot constraint.

IMPORTANTE EXAMPLE:  the space in the closed tags.. today schema_org_rdfa have a (mess) mix, some with `<tag etc/>` and some with `<tag etc

[2015-02-24 14:30] dbs commented on #360
Apart from theoretical purity, what is the actual practical value of striving for "Polyglot HTML5"? Browsers can parse and display the current HTML just fine, and the RDFa can be extracted by RDF parsers such as RDFLib just fine.

Without a compelling reason (and I'm not convinced the possibility of a "false diff" is in any way compelling, even if diff tools didn't have the ability to ignore white

[2015-02-24 14:52] ppKrauss commented on #360
@dbs  It is only an internal (use of tolls, etc.) operational problem... of course the objective of the issue is not to "just noise that detracts from more substantive concerns" (!), but, yes, have minor relevance, is a very low priority issue.

As you will be see bellow, it is not a proposal to "fix a bug" but, perhaps, a proposal to say *"hello, the new tools can be work with this kind of output

[2015-02-24 16:27] chaals commented on #360
+ reply@
- notifications@

I agree it isn't the highest priority issue on the agenda. But I think it would be useful to fix it.

There are people who use XML toolchains, and since it should be feasible to make schema.org work for them I don't see this as "just noise".

cheers

24.02.2015, 17:30, "Dan Scott" <notifications@github.com>:

--
Charles McCathie Nevile - web standards - CTO Office, Yande

[2015-02-24 19:18] ppKrauss commented on #280
OK, **phase1 completed**! In this phase we can only to use "by hand" procedures... My basic work was,

 * develop a basic *tool* (with 10-years old PHP+DOM technology), to transform RDFa to [CSV](https://en.wikipedia.org/wiki/Comma-separated_values) and to get back the RDFa from updated CSV.
 *  [the **GoogleDoc with spreadsheet**](https://docs.google.com/spreadsheets/d/1KeTSrVjSHRfVRwSgg6-LN0pu6n

[2015-02-25 13:11] ppKrauss opened #361 "schema_org_rdfa validator and some release profile report"
For http://schema.org/docs/schema_org_rdfa.html and each [release](http://schema.org/docs/releases.html), is interesting some kind of **validation**  for `schema_org_rdfa`.

See [proposal here](https://github.com/ppKrauss/schemaorg/tree/sdo-gozer/proposals/testing/releases#user-content-release-of-2015-02-07-v194-gozer) with the *gozer* profile as example.

----
Good validators like https://validat

[2015-02-25 13:25] ppKrauss commented on #280
Starting **phase2**: let's discuss and check the automation possibilities!

( while anybody can *enhance the volume of Wikidata links* at  [the **GoogleDoc with spreadsheet**](https://docs.google.com/spreadsheets/d/1KeTSrVjSHRfVRwSgg6-LN0pu6nVre7cspUrkf_gfMm8/) of the phase1).

-------
The first step here is to discuss about reality, that is summarized by the "schema_org_rdfa profile"  (see #361).

[2015-02-25 15:56] danbri opened #362 "Add vocab to support description of Weather"
There was an incomplete proposal for Weather schemas, originally from a team at Microsoft. A rough draft is in W3C mercurial repo, https://dvcs.w3.org/hg/webschema/file/b4c3ad199322/schema.org/ext/weatherforecast.html but deserves recording here and revisiting as the topic comes up periodically.

What levels of detail for weather data are interesting?
- raw sensor metrics
  - consumer-oriented pre

[2015-02-27 01:36] streamich opened #363 "HTML or Compiled Code"
There seems to be no Text property where one could provide HTML (or say "compiled") data.

For example, a Thing could be a Markdown object, which compiles to HTML. How would one add the HTML information to the object?

[2015-02-27 13:11] unor opened #364 "Example uses non-existent "Award" type"
http://schema.org/Award

The example on [`WinAction`](http://schema.org/WinAction) uses an `Award` type, which [doesn’t](http://schema.org/Award) seem to be defined:

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WinAction",
          "agent": {
            "@type": "Person",
            "name": "John"
          },
          "o

[2015-02-27 13:17] unor opened #365 "'award' property also for Organization and Product?"
The [`award` property](https://schema.org/award) is defined for `CreativeWork` and `Person`:

I think it would make sense to allow it also for [`Organization`](http://schema.org/Organization) ([use case](http://stackoverflow.com/q/28724723/1591669 "Stack Overflow: How do I use the “Award” Schema for an Organization, not a Person?")) and [`Product`](http://schema.org/Product).

[2015-02-27 14:53] realworldobject opened #366 "Inconvenient change to schema:publication"
I notice that schema:publication has changed in such a way that it raises doubts about use for schema:Book.  I suppose the schema:releasedEvent could be used instead, but it doesn't flow off the tongue and changing it now will be awkward. As a compromise, could you add a few more subclasses of CreativeWork to the list of types where schema:publication seems appropriate?

[2015-02-27 20:32] danbri commented on #361
I'm afraid this is probably not the best use of your time and energy to do this at the RDFa/HTML syntax level. Our use of RDFa here is very much an implementation detail and likely to change/evolve (including option to use JSON-LD, and adding a real parser toolkit instead of our hack parsers).

You might be interested to look at the Python unit tests we have in tests/ - these operate over the grap

[2015-02-27 20:54] ppKrauss commented on #361
Hum... ok. Thanks for your reply (!). Well, I need more expertise in Python to collaborate. About my "time and energy": let's put all into the #280 :-) I think we need to do a lot of work there, even though we are able to automate something.