[2017-09-08 16:16] #1737 closed

[2017-09-09 20:21] rvguha commented on #1734
I think it will be very confusing to call every business that has any local
presence a LocalBusiness.

Amazon.com has offices in Seattle (and other places). It would be very very
confusing if it was considered a 'LocalBusiness'.

Martin, Richard, exactly what is the problem we are trying to solve here?

guha

On Thu, Sep 7, 2017 at 9:35 AM, DDeering <notifications@github.com> wrote:

[2017-09-11 08:51] AlasdairGray commented on #1715
We have a reconfigurable validator using ShEx for dataset descriptions: [Validata](https://github.com/HW-SWeL/Validata). It was originally developed for the [W3C Health Care and Life Sciences Dataset Description profile](https://www.w3.org/TR/hcls-dataset/) but has been deployed for DCAT and Open PHACTS as well.

In the [Bioschemas](http://bioschemas.org/) project, we are extending Validata to val

[2017-09-11 11:21] RichardWallis commented on #1734
@rvguha That confusion is what I was referring to with "_the real problem is the semantics being applied to the name of the LocalBusiness type_".

From my initial involvement with SDO I have understood an organization (_an organized group of people with a particular purpose, such as a business or government department._) to be not necessarily associated with a physical location, but if it was it w

[2017-09-11 11:31] rtroncy commented on #1734
I fully agree with the concerns made by @RichardWallis if SDO was mixing location and organizations. A different perspective comes from the Natural Language Processing research field where we teach machines to extract and disambiguate named entities of various types. One common mistake of all systems, is the proper distinction between the ORG and the LOC types, precisely because the way we use tho

[2017-09-11 15:16] rvguha commented on #1734
Ok, got it and agree that we should make the distinction, but consumers of
the data should be prepared to cope with markup that has it confused.

The problem with forcing the distinction is that for the little family tea
shop round the corner, you are forced to have to entities. One for the
business and one for the business location. While this is 'ontologically'
more pure, it does complicate thin

[2017-09-11 16:36] danbri commented on #1734
http://schema.org/branchOf
http://schema.org/department make related distinctions

[2017-09-11 19:32] mfhepp commented on #1734
Actually, I missed that we have

    http://schema.org/location

This allows linking any Organization to one or more Place entities, that themselves can have all the properties for geo-related information, including hasMap.

So I see no need for an extension.

Simply model the offices as Places and you are fine.

One could argue that a subtype "Office" of schema:Place could be needed, but I would

[2017-09-11 21:20] danbri commented on #1389
Some implementor feedback from Google: the "cssSelector" (and "xpath") property would be particularly useful on http://schema.org/WebPageElement to indicate the part(s) of a page matching the selector / xpath.

Note that this isn't "element" in some formal XML sense, and that the selector might match multiple XML/HTML elements if it is a CSS class selector.

I suggest adding WebPageElement as a ty

[2017-09-11 21:38] danbri commented on #1723
Note that http://pending.schema.org/BackgroundNewsArticle also talks about FAQs. We should figure out how these relate.

[2017-09-11 21:38] danbri commented on #1723
I wouldn't say FAQPage is a subtype of BackgroundNewsArticle as not all FAQs are news-related. But we should at least cross-link the definitions.

[2017-09-12 09:45] tfrancart commented on #1736
Yes, and we haven't talked yet about the dates of applicabilities (the date at which a legislation becomes _applicable_ (in a certain context/area), which is different of the date when it comes into force.
Actually one the benefits of the legislation extension is to be able to capture/distinguis these dates.

[2017-09-12 10:42] Download commented on #380
@RichardWallis Any thoughts? I am asking you because I noticed you have 'issue closing powers'...

[2017-09-12 10:42] Download commented on #1307
@RichardWallis Any thoughts? I am asking you because I noticed you have 'issue closing powers'...  Should I whip up a PR?

[2017-09-12 15:47] RichardWallis commented on #380
@Download

That is something that doesn't apply in Schema.org - we can suggest and provide examples, but there are [currently] no ways to enforce such rules.

Back to the issue in question...

Looking at [PriceSpecification](http://schema.org/CompoundPriceSpecification), which already contains the _valueAddedTaxIncluded_ property, would adding a _valueAddedTaxAmount_  property be a pragmatic solut

[2017-09-12 16:06] RichardWallis commented on #1307
I would suggest proposing a new definition for the property and, if you don't get shot down, turn it into a PR.

I tend to agree with you about 1 - 5 dollar symbols - it's sort of analogous with 1-5 star ratings.

As to values:
   $ = inexpensive
   $$ = average/moderate
   $$$ = expensive
   $$$$ = very expensive
   $$$$$ = if you have to ask the price, you can't afford it*

\* _Apparently attrib

[2017-09-12 16:16] RichardWallis commented on #1734
@mfhepp thanks for pointing that out, I'd missed it also.

So in essence we have the mechanism to associate an _Organisation_ to the _Place_(s) (via the _location_ property) that it operates from that cannot be considered to be a _LocalBusiness_

[2017-09-12 16:18] Download commented on #1307
Thanks for your quick response @RichardWallis !

Do you say that because you feel there is something wrong/missing from the definition I proposed above?

I got no negative response to it and two 'likes' so I think if I would turn it into a PR it would be more or less exactly what I wrote on July 19. Do you feel a PR would stand a chance of getting merged?

[2017-09-12 16:20] sandstrom commented on #380
@RichardWallis Yes, that would do it (it could also be named `valueAddedTax`, but both names work).

Also, `valueAddedTaxIncluded` should be deprecated (the presence of `valueAddedTaxAmount` will itself signify the same thing as the boolean).

[2017-09-12 16:24] RichardWallis commented on #1734
_oops, pressed the close button by mistake!_

Continuing my comment....

As to identifying the type of location, we have the option of using the _name_ of the place ("Global Corp Head Office", "Global Corp South American Distribution Center").

If there is concern that that is not detailed enough I would suggest a new subtype of Place (BusiniessPlace) with its own  set of subtypes (Office, HeadOff

[2017-09-12 16:27] RichardWallis commented on #380
You can only do that if there is a rule that a price always includes the VAT amount if stated - (see my above comment about rules)

[2017-09-12 16:30] RichardWallis commented on #1307
Ok go for it and see what the reaction is.

[2017-09-12 16:50] danbri commented on #1156
Looping back...

This work went out as part of v3.3 recently:

http://schema.org/docs/releases.html#v3.3

Thanks again to everyone for their work on this. While it is staged in pending.schema.org the vocabulary can be used, we'll just park it there for a while to get implementation feedback, with particular focus on integration into schema.org. If there is interest we could move it towards a named

[2017-09-12 16:54] danbri commented on #1389
Ping @tmarshbing @scor @rvguha @vholland @tilid @nicolastorzec - any views?

[2017-09-12 17:46] ppKrauss commented on #1156
oops, @danbri  if the target for publication of v3.3 was 2017 (is it?), see **2018** (`2018-08-14`)  at http://schema.org/docs/releases.html#v3.3

[2017-09-12 17:52] danbri commented on #1156
Thanks - will fix to 2017

[2017-09-12 18:00] Download commented on #380
Yes I get that. But since atm there is no real guidance at all, simply stating that 'this is the way we envision it should be used' would be pretty close to a rule. Not all rules need to be enforced to have value.

I think your example is a lot more concise than mine. That's a big plus! The downside is it introduces the concept of multiple prices in a single price specification, bypassing Compound

[2017-09-12 18:21] rvguha commented on #1734
Martin,

 I think we should be open to copying some of the Place properties to
organization. Metonymy happens.

 One option is to have the concept of a 'primary' domain/range, with other
domain ranges being seen as metonymical uses.

guha

On Mon, Sep 11, 2017 at 12:32 PM, Martin Hepp <notifications@github.com>
wrote:

[2017-09-12 19:09] mfhepp commented on #1734
Dear Guha:

I tend to disagree - it is straightforward to define an Organization and then link to its Place or Places via schema:location and attach all required properties thereto.

Or if you really want to go the route of having just one entity, then make it a multi-typed being both an Organization and a Place.

Martin
-----------------------------------
martin hepp  http://www.heppnetz.de
mhepp

[2017-09-12 19:22] vholland commented on #1734
To @rvguha's point, every ontology I have worked with has either been very verbose or conflated organizations and places. (The details of the conflation differ.) Schema.org has always had the philosophy that if there is a conflict, we make things easier for authors not readers.

Large sites like OpenTable already use things like Restaurant for chains, so if you are reading schema.org data, you eit

[2017-09-12 19:36] thadguidry commented on #1734
@rvguha pointed out the stem of the problem.  making it easier for publisher AND having a clear distinction between a place and an organization.  I already use location for my needs and use the name of the Place, its fairly easy.  Dunno what the big deal is in this thread actually.  All the parts I need are already there and easy enough.

[2017-09-12 19:45] Download commented on #1307
Any tips how to get started? Docs are generated from some definition I guess? What file(s) should I be editing you think?

[2017-09-12 20:05] vholland commented on #1389
+1

[2017-09-12 20:06] UmamiDearest commented on #373
@Racum Echoing all those expressing more and more interest in this becoming part of the schema landscape. Any update on your submission @Racum?

[2017-09-12 20:14] Dataliberate commented on #1307
you may find the following "schema.org in practice" articles: part 1, 2, and 3, a help in how you can try/test things locally, and the HowWeWorkdocument for general background.

~Richard

[2017-09-12 20:14] Dataliberate commented on #1307
you may find the following "schema.org in practice" articles: part 1, 2, and 3, a help in how you can try/test things locally, and the HowWeWorkdocument for general background.

~Richard

[2017-09-12 22:19] danbri commented on #1736
Quick note to say that I am very glad for this discussion, and +1 to "and with a bit of rethinking they (can) apply to a wider domain". This is one of the reasons to park this (generally excellent) work in "pending" for a little while. We might consider at least using the "sub-property" mechanism to tie together domain-specific definitions with more general ideas.

[2017-09-13 17:48] subbuvincent commented on #1688
Did we include for whether the knowsAbout construct will cover for indicating local expertise as well? This is last bullet in @danbri's original post on this thread.

The Trust Protocol has defined the local expertise an author could have sub-attribute in two parts itself. Local and Demographic expertise.

Shall we just say that since knowsAbout is taking text values, we will account for this ther

[2017-09-13 20:26] danbri commented on #1688
It seems natural that local expertise would be included, since there is nothing exceptional about it as a branch of knowledge.

One thing to consider is whether we might want to allow actual structured entity descriptions (or URLs that correspond...) as values of knowsAbout. For example,

[code]

[2017-09-13 20:38] subbuvincent commented on #1688
It's worth considering. We have a CMS-UX conversation happening right with a major newsroom group. In principle if they allow location expertise to captured as a separate data field like [place name] say like this
I.e they capture expertise in two fields:
field1 [ ....] Topic and demographic items
field2 [....] Locations (place names)

Then yes, they would consider adding backend code to the syste

[2017-09-14 00:53] danbri commented on #1389
Proceeding on the basis that this is a commonsense combination of two terms with related semantics, I'm making an edit now to cssSelector, xpath, and the expected type assocations of both. There might be some nuance in the details but it doesn't make sense having a type for parts of a page, a property for pointing into parts of a page, and failing to say how they relate!

[2017-09-14 13:57] etaion opened #1738 "Some schema.org pages not showing properties"
Some pages are not showing properties:
http://schema.org/Service
http://schema.org/Event

[2017-09-14 14:41] danbri commented on #1688
@subbuvincent well we're still designing the property here, so my example was exploring the idea that knowsAbout expects take text values, URLs and also maybe at least Place.  A simpler example with only a single value shown would be as follows:

[code]

[2017-09-14 14:56] RichardWallis commented on #1738
Thanks @etaion for pointing that out.

I have fixed those two particular instances of this issue.   I will leave the issue open for others if they spot similar problems which will be hopefully fixed in an upcoming release to fix caching & page rendering.

~Richard.

[2017-09-14 15:01] jvandriel commented on #1738
The same is also happenong for http://schema.org/HowToItem

[2017-09-14 15:04] RichardWallis commented on #1738
Also fixed

[2017-09-14 15:11] jvandriel commented on #1738
Thanks @RichardWallis

[2017-09-14 20:36] subbuvincent commented on #1688
@danbri The PoW article will carry expertise attributes too, so your general example, iterated by me in above comment is good enough for our discussion.

Adapting the markup for the author page to continue the example:

[code]

[2017-09-15 11:09] jvandriel commented on #1738
I crawled schema.org and found the following:

*Type pages without a breadcrumb*
- http://schema.org/AuthorizeAction
- http://schema.org/BookFormatType
- http://schema.org/BroadcastService
- http://schema.org/ComputerStore
- http://schema.org/CreditCard
- http://schema.org/DataType
- http://schema.org/Electrician
- http://schema.org/HairSalon
- http://schema.org/HowTo
- http://schema.org/LocationF

[2017-09-15 11:29] RichardWallis commented on #1738
Thanks @jvandriel for this analysis.
Although a small percentage of all the pages, the number in list is far too long (as in greater than zero).

I am going to look into at least a temporary fix and may call on your crawling capabilities as a test in the next few days.
~Richard

[2017-09-15 11:32] jvandriel commented on #1738
Just let me know and I'll happily check again.

[2017-09-15 13:56] RichardWallis commented on #1447
I'm just revisiting this (in respect of Tourism) and believe @jvandriel's suggestion of adding video to Thing makes sense

[2017-09-15 14:30] thadguidry commented on #1447
@RichardWallis just one bit of a worry... it might be used as a mentioned....rather than a sameAs...or both.  We need to be clear about what we want in the description.

[2017-09-15 14:52] vholland commented on #1447
+1 to adding to Thing.

[2017-09-15 15:01] felipesanti commented on #1447
Hi, from a Tourism industry perspective I support the idea of adding video content to anything that can be of interest to potential tourists.

@thadguidry @RichardWallis regarding the implementation, in order to simplify the work of a developer, I would argue for directly adding the **video** property to the Thing class. The video could be a VideoObject or a URL (e.g. a link to Youtube). As a matt

[2017-09-15 15:04] RichardWallis commented on #1447
Taking the lead from the description of the image property:

    A video of the item. This can be a URL or a fully described ImageObject.

[2017-09-15 15:12] vholland commented on #1447
Speaking of CreativeWork, we may want to add a property for ```embeddedVideo``` to cover the current definition of ```video```.

[2017-09-15 21:45] Aaranged commented on #373
@vholland Did you mean something like `PostcastSeries` for that `CreativeWorkSeries` subclass, or are you thinking that `Postcast` itself is a `CreativeWorkSeries`?  And if the latter, what would the type be for an individual podcast?

[2017-09-15 22:30] vholland commented on #373
I was thinking the type schema.org/Podcast would be a subclass of schema.org/CreativeWorkSeries. This keeps it consistent so _This American Life_ is a series whether you are discussing the radio series or the modern podcast version.

An individual "podcast" would be a PodcastEpisode as described above. As an example _This American Life 625: Essay B_ is an episode.

I am aware that some podcast ser

[2017-09-16 00:23] danbri opened #1739 "enable https on webschemas.org"
https://cloudplatform.googleblog.com/2017/09/introducing-managed-SSL-for-Google-App-Engine.html

[2017-09-16 23:22] RichardWallis commented on #373
To avoid confusion  would they not be better as PodcastSeries and PodcastEpisode?

[2017-09-18 10:10] tomwparsons opened #1740 "Capturing file metadata for textDigitalDocument - file size?"
How do we store the file size using the textDigitalDocument schema? the only likely place is using MediaObject but this refers to an embedded file and not the top-level document itself? e.g. a PDF described by textDigitalDocument is 1.1mb in size

[2017-09-18 11:02] RichardWallis commented on #1740
I would describe your document as being both a [TextDigitalDocument](http://schema.org/TextDigitalDocument) and a [MediaObject](http://schema.org/MediaObject) which would then make contentSize, encodingFormat, etc. available:

[code]

[2017-09-18 11:02] #1740 closed

[2017-09-18 13:36] vholland commented on #373
@RichardWallis Those names sound good to me

[2017-09-18 15:02] vholland commented on #1670
Added to pending.

[2017-09-18 16:06] vholland commented on #1689
Merged into pending.

[2017-09-18 18:39] vholland opened #1741 "Specifying when/where an Action may be performed"
Many Action links, particularly for consuming media, are limited by time and/or region based on the complexities of licensing. For example, a user may only be able to listen to a song after a certain date or read a book in a certain country. To help authors describe the access restrictions for performing an Action, I am proposing adding the following:

1. **Thing > Intangible > ActionAccessSpecifi

[2017-09-18 18:42] vholland commented on #1698
Merged into pending.

[2017-09-19 15:25] vholland opened #1742 "Proposal for new DiscountOffer type for promo codes"
Many online retailers have promo codes or discount offers. To make it easier for authors to describe this situation, I propose adding a new subtype of  Offer: **DiscountOffer**, with the following properties:
- **discountPercentage**: The value of the discount as a percentage of the original price.
- **discount**: The value of the discount as a number. Note, to get the original price, add the disc

[2017-09-19 20:58] mfhepp commented on #1742
Why do you want to introduce a new (third) modeling pattern for prices if we already have two?
I would simply use two Offers attached to the same Product with different prices, and maybe (not sure) add new properties to UnitPriceSpecification that reflects the fact that it is a discount. This will even allow modeling date range during which the discount is offered (using validFrom/validThrough on

[2017-09-20 07:23] VladimirAlexiev commented on #1677
A very useful doc! Suggestions for improvement:
1. The diagram makes it look that all the props apply to Car but in fact they apply to Vehicle. So rename the central node to Vehicle
2. The first one is a class diagram (very different from the second one which is a property diagram): mark it so, and I’d use a different style (eg a tree) to emphasize that
3. vehicleEngine should show the class holdi

[2017-09-20 08:50] l00mi commented on #1711
@RichardWallis What would be necessary to push this through?

[2017-09-20 10:18] stuartasutton commented on #1711
I, too, like Richard's revised definition.

+1 DefinedTerm
+1 termCode

[2017-09-20 15:32] vholland commented on #1742
I don't view it as adding a new modeling pattern so much as providing idioms for authors who may not require the full expressiveness of Good Relations. The approaches you mention would remain available to authors who wish to use them.

[2017-09-20 16:20] tfrancart opened #1743 "Refine/adjust the proposed "legal.schema.org" extension"
Now that the Legislation extension has been released in pending, I am creating this new issue to gather new comments and discussions, following the initial proposal in #1156, and further discussions in the general comment at #1736.

I will address in the first step the latest comments we have received :
  - delete inverse properties
  - Change definition of "Legislation" to make it clear this is a

[2017-09-20 16:22] tfrancart commented on #1156
Now that this has been released to pending, I am closing this issue and I create a new one for further discussions and comments : #1743

[2017-09-20 16:22] #1156 closed

[2017-09-20 17:23] RichardWallis opened #1745 "Infinite redirect loop when accessing www.schema.org"
Identified by Eric Theise on the W3C shemaorg community mailing list: https://lists.w3.org/Archives/Public/public-schemaorg/2017Sep/0005.html

[2017-09-20 17:24] RichardWallis commented on #1745
Problem identified . Hot-fix to v3.3 in progress.

[2017-09-20 23:19] danbri commented on #1743
There was also the topic of courts, see https://github.com/schemaorg/schemaorg/issues/1156#issuecomment-261414651 ... I could make a pass at coding up that proposal in RDFS if there's consensus that it could be a good fit. But it hasn't had the level of review that went into the earlier Legislation schemas.

[2017-09-21 12:32] trypuz commented on #1677
@VladimirAlexiev thank you for your detailed and helpful comments! Please find below my answers to all your suggestions.

Ad 1 and 2: We did intentionally picture (in the first two diagrams) the types and properties this way. The only purpose of the two presented mind maps is to show the whole conceptual repertoire of types, properties, and enumerations that can be used to mark up automobiles. So

[2017-09-22 07:46] VladimirAlexiev opened #1746 "remove vehicleModelDate in favor of modelDate"
@trypuz @sopekmir @danbri
http://schema.org/vehicleModelDate and http://auto.schema.org/modelDate mean the same (have the same description), so one should be eliminated.
The specific property is in core while the generic property is in the "auto" extension, which is clearly a mistake.

#1650 and #1674 discuss this situation, but this pair seems to have fallen through the cracks. The auto extension

[2017-09-22 07:59] VladimirAlexiev commented on #1677
@trypuz @sopekmir
ad 1. Why the prop diagram has `Car` in the center? Should be `Vehicle`

ad 2. Could you make the two disconnected parts of the diagram **look** different, since they mean different things?

ad 3. `vehicleEngine` leads to a bag of props. That bag has a class (`EngineSpecification`) that should be shown on the diagram

ad 4. I don't see dotted arrows? The visual from `vehicleSpeci

[2017-09-22 08:19] VladimirAlexiev opened #1747 "engineType wrongly declared URL in jsonld context"
@danbri @trypuz @sopekmir
http://auto.schema.org/engineType has rangeIncludes: QualitativeValue, Text, URL.
http://sdo-auto-fix.appspot.com/docs/automotive.html#hybrid_car JSONLD example uses text:
`"engineType":"internal combustion engine",`

But let's get the jsonld context:
`curl -LHaccept:application/ld+json http://schema.org/> schema.org.jsonld`
It defines that term as URL:
` "engineType": {

[2017-09-22 08:25] VladimirAlexiev commented on #1747
same problem for `vehicleTransmission`

[2017-09-22 08:40] trypuz commented on #1677
Ad 13: Examples have been corrected and validated by https://search.google.com/structured-data/testing-tool. There were 3 problems. There was "," after ""vehicleSpecialUsage":"DrivingSchoolVehicleUsage"" in the example 3. In the example 1 (in rdfa and microdata) there was used the old version of numberOfAirbags prop, i.e. airbags. Thanks for noticing!

[2017-09-22 08:52] VladimirAlexiev opened #1748 "datetime granularity (Date and DateTime considered in need of improvement)"
@trypuz, @sopekmir have made very reasonable examples in http://sdo-auto-fix.appspot.com/docs/automotive.html#hybrid_car JSONLD: a car is model "2016", was produced in "2017", and is offered for sale on "2017-05-29".

With the current jsonld context these literals come out as
[code]
because the respective 3 props are declared to have the respective datatypes.

@danbri I see these problems:
1. The

[2017-09-22 08:56] VladimirAlexiev commented on #1748
Someone may suggest "fixing" issue 1 by fake completion of datetimes:
[code]
This is a bad idea since it constitutes lying, and most html authors and webmasters will never get such "fix" right.

[2017-09-22 09:00] trypuz commented on #1677
Ad 1, 2, 3, 4:  @VladimirAlexiev as I wrote yesterday - I do not think it is a good idea to change the two mind maps (but let us consult @sdml and @sopekmir in this matter). The different types of arrows have been used in section 5 "Basic models".

Ad 8 and 9: You do have my support!

[2017-09-22 09:07] VladimirAlexiev commented on #1677
ad 13 See #1747, #1748, which are bugs in schema or its jsonld context
- to fix #1747 now, you need to pick some type URLs for `bodyType engineType fuelType vehicleTransmission`. Would you rather
  - use example URLs like http://auto-types.org/engine/InternalCombustionEngine, or
  - pick Wikidata entities (which was suggested by @vrandezo and sort of approved by the Schema community)
- maybe `unit

[2017-09-22 09:16] VladimirAlexiev opened #1749 "auto lookup values not declared URLs in jsonld context"
The auto extension http://sdo-auto-fix.appspot.com/docs/automotive.html#conceptual_map defines 9 lookup values (individuals) such as `DrivingSchoolVehicleUsage`. The schema context fails to declare them as URLs:
[code]
As a result, the http://sdo-auto-fix.appspot.com/docs/automotive.html#hybrid_car JSONLD example produces eg this wrong triple where the object is literal but should be URL:
[code]

[2017-09-22 09:17] VladimirAlexiev commented on #1677
@trypuz  #1749 also affects you.
So "validated by https://search.google.com/structured-data/testing-tool" is not enough. You also need to look at the data in a different format (see 14 above) and eyeball it to ensure the values make sense.

[2017-09-22 09:22] trypuz commented on #1677
@VladimirAlexiev wrote:
- "maybe unitText "AMH" should be unitCode?" - YES
- vehicleInteriorColor "beige interior" should be just "beige" - YES
Changed. Thanks!

[2017-09-22 09:31] VladimirAlexiev commented on #1677
https://gist.github.com/VladimirAlexiev/3415c0e8af9f1b2aaf82c7a43885436c :
`auto-eg3-hybridCar-fixed.jsonld` fixes the Example3 problems listed above, except that `unitCode` is screwed up to URLs (due to #1747).
`auto-eg3-hybridCar-fixed-fixed.ttl` fixes that too, and I think it's a good idea to publish Turtle as well

[2017-09-22 09:35] VladimirAlexiev commented on #1677
Example 3 http://sdo-auto-fix.appspot.com/docs/automotive.html#used_car_with_damages needs this due to #1749
[code]

[2017-09-22 09:41] VladimirAlexiev opened #1750 "unitCode wrongly declared URL in jsonld context"
@danbri @RichardWallis
`unitCode` is declared URL in the jsonld context:
[code]

So a value like "SEC" is translated to a local URL like `<file:///.../SEC>` which is obviously not what we want.
This is a serious problem because it screws up the "UN/CEFACT Common Code (3 characters)" recommended for use by this prop.
(I split this from #1747 because it's crucial)

[2017-09-22 09:52] VladimirAlexiev commented on #1677
ad 15. http://sdo-auto-fix.appspot.com/docs/automotive.html#rental_car_acriss code:
- needs this, see http://schema.org/additionalProperty Example1
  `"additionalProperty":{ ..., "value":"true"}`
- use URL for `vehicleTransmission`:
  ` "vehicleTransmission": "http://auto-types.org/transmission/AutomaticGearbox",`

I've added files with such fixes to the above gist

[2017-09-22 10:05] RichardWallis commented on #1748
Note that both [schema:Date](http://schema.org/Date) and [schema:DateTime ](http://schema.org/DateTime) are described as being values in [ISO 8601 date format](http://en.wikipedia.org/wiki/ISO_8601) for which Dates such as "2016" and "2016-01-01" are valid.

[2017-09-22 12:43] VladimirAlexiev commented on #1748
@RichardWallis Where does that Wikipedia page say a date can include just a year?

And `DateTime` is described as

which doesn't sound like the time part is optional.
If you were right ,`DateTime` subsumes `Date`, so the latter should be removed.

[2017-09-24 12:01] gajus opened #1751 "Movie type is missing property documentation"
http://schema.org/Movie

All I see are examples. No property definitions.

<img width="1920" alt="screen shot 2017-09-24 at 13 01 43" src="https://user-images.githubusercontent.com/973543/30782352-88b28adc-a128-11e7-925a-6a1da7cd0011.png">

[2017-09-24 12:10] gajus commented on #1751
On a similar note, I am surprised to see that schema has chose "name" property to describe movie title, instead of a movie title. There is a subtle difference between the two.

– https://english.stackexchange.com/questions/173675/whats-the-difference-between-title-and-name

[2017-09-24 20:36] Aaranged commented on #1751
This is a known issue; see https://github.com/schemaorg/schemaorg/issues/1738

[2017-09-25 08:53] gajus commented on #1751
Closing as a duplicate of #1738

[2017-09-25 08:53] #1751 closed

[2017-09-25 08:54] gajus commented on #1738
Adding

* http://schema.org/Movie

To the list.

[2017-09-26 12:25] andrearicci opened #1752 "add Architecture (or building) as creative work type"
I wish I could use schema.org on my architectures portfolio site. Unfortunatelly I cant't find a dictionary.
I would like to give it properties like type (like Public, Commercial, Residential, Religious....), size (sqm/sqft-or volume), budget, etcetera.
http://andrearicci.it
Thank you

[2017-09-26 16:57] RichardWallis commented on #1752
Checkout the full vocabulary here:  http://schema.org/docs/full.html

The subtypes below _Place_ may be of help to you.

[2017-09-26 16:57] #1752 closed

[2017-09-27 10:38] danbri commented on #1690
Yeah what @chaals said! The dynamics of a project like this are kind of different to opensource *software* development...

[2017-09-27 11:01] danbri commented on #1421
I've been looking thru for Pull Requests that have not received adequate review; #1452 seems to have no comments/discussion. Perhaps @RichardWallis, @mfhepp could be persuaded to take a look?

/cc @tmarshbing @rvguha @nicolastorzec @scor @vholland @tilid @chaals

[2017-09-27 11:20] danbri opened #1753 "Investigate TODOs extracted from schema.rdfa file"
These were scattered through the schema.rdfa file, possibly need attention:

* Deprecating musicGroupMember in favour of member (already done, but site UI is not ideal; TODO: we should update any examples).
* MusicRecording: do we need something like CreativeWorkContributionRole ?
* releaseOf (The album this is a release of):    <p>TODO: broaden meaning or add 'album' to name? </p>
* releasedEvent

[2017-09-27 12:04] tfrancart opened #1754 "Create decent Microdata inverse properties example for Legislation extensions"
Following #1744 and #1743, inverse properties in the Legislation extension have been removed, and the examples have been rewritten to use @reverse in JSON-LD or rev="" in RDFa. We need to do the equivalent in Microdata.
cc @danbri

[2017-09-27 13:27] fili opened #1755 "Proposal: BoatTrip, BoatStop, Harbor"
There are local and public boat services (ferries) around the world, similar to:

http://schema.org/BusStation
http://schema.org/BusStop
http://schema.org/TrainStation
http://schema.org/BusTrip
http://schema.org/TrainTrip
http://schema.org/TaxiStand

What is missing is a possibility to mark these up, and the time tables.

[2017-09-27 13:31] JoeUX commented on #1549
Sorry for the delay. I think the properties you mentioned are open-ended
text fields, which makes them much less useful. What I mean is that there
is no category called "PickupTruck", "Coupe", etc. (Maybe I missed them.)
We see the same problem for engine type and transmission type. These need
to have explicit, standard choices, not an open-ended text field. Engines
types would be things 4-cylinde

[2017-09-27 14:32] thadguidry commented on #1421
@reidyoder I really don't like the use of 'hasProduct' and ideally would like to see that flipped to 'makesProduct'.

@mfhepp If they have mfgMaterials ... do we also have Commodities anywhere here ?  I'd like to see it all the way through... so that we have a way to see relationships between Materials and Commodities and Products.  Do we have those properties to tie it all together for manufactur

[2017-09-27 18:50] danbri commented on #1698
re occupationalCategory ... yeah we should have a look around the miniskos stuff and @RichardWallis had something related in Pending too. But it is an existing problem not one that was introduced here.

[2017-09-28 08:58] gyrard commented on #1272
IoT ontology catalogues would be relevant to build IoT schema.org.

- Linked Open Vocabulary for Internet of Things (LOV4IoT)
[http://sensormeasurement.appspot.com/?p=ontologies](http://sensormeasurement.appspot.com/?p=ontologies)
LOV4IoT project: [http://lov4iot.appspot.com/](http://lov4iot.appspot.com/)

- Ontology catalogue for smart cities (Ready4SmartCities)
[http://smartcity.linkeddata.es/](

[2017-09-28 12:13] vholland commented on #1421
A couple of small suggestions:

- Rather than having Text as the range for ```marketServed```, can we use http://schema.org/Continent and maybe add http://schema.org/Country?
- Rather than creating ```mfgServiceProvided```, should we create a generic ```serviceProvided``` as a named reverse for the existing http://schema.org/provider?

[2017-09-28 13:01] RichardWallis commented on #1421
- If ```marketServed``` became a sub-property of [areaServed](http://schema.org/areaServed), we would get the range of possibilities you are looking for.

- I see the attraction for a generic ```serviceProvided``` property with a domain includes of _Person_ & _Organization_ and range of _Service_ - providing a way to list the services that an organisation or person has capabilities for.  Currently

[2017-09-28 13:59] fameri commented on #1421
- Thanks for the input. We will change _hasProduct_ property to _manufacturesProduct_ (which is inverse of _manufactures_).

- we can replace marketServed with [areaServed](http://schema.org/areaServed) (delete marketServed) because the intention of this property is to define the geographical areas a ManufacturingOrganization cab serve.

- we will use a generic serviceProvided instead of mfgServic

[2017-09-28 14:03] danbri commented on #1421
+1, areaServed seems much better

[2017-09-28 14:29] ghost opened #1757 "claim"
theory is schema.org/claim

see: https://github.com/insideout10/wordlift-plugin/issues/591

[2017-09-28 15:49] RichardWallis opened #1758 "Archives and their collections"
[The Schema Architypes W3C Community Group](https://www.w3.org/community/architypes/) have been working on a proposal for enhancements to Schema.org to enable the description of Archives and their collections/contents.  Which I describe below for consideration.

It consists of two new types:

- [Archive](http://archive.sdo-archive.appspot.com/Archive): Institution with archival holdings. An Archiv

[2017-09-28 17:08] rvguha commented on #1758
This looks great!

guha

On Thu, Sep 28, 2017 at 8:50 AM, Richard Wallis <notifications@github.com>
wrote:

[2017-09-28 19:20] reidyoder commented on #1421
I'll get to work on these changes

[2017-09-28 20:44] RichardWallis opened #1759 "MaterialExtent & CollectionSize"
Whilst working on the recent proposal for Archives (issue #1758 ) a need to describe the _extent_ of items or collections was identified.  The discussion reflected similar discussions in the Schema Bib Extend group from many months ago.

It was felt that as this proposal had broader relevance beyond Archives, it would make sense to raise it as a separate issue.  However this proposal would add val

[2017-09-29 12:28] RichardWallis commented on #1748
The reference is "_ISO 8601:2000 allowed truncation (by agreement), where leading components of a date or time are omitted._"

This should be taken into account along side general practice and use of date values in the wild.  Many systems do not have the source data to fully fill out a complete date - publication year for books etc.

Pragmatically it is not possible to enforce adherence to strict

[2017-09-29 15:09] VladimirAlexiev commented on #1748
@RichardWallis
If these datatypes don't indicate the granularity of the literal, what is the purpose of having them at all? In particular, what is the purpose of having **two** of them?

IMHO a datatype should indicate precisely the format of a literal and thus guide its processing. If `schema:Date` and `schema:DateTime` don't do that, people should (an do!) use datatypes that do:
- `xsd:string` f

[2017-09-29 15:11] VladimirAlexiev commented on #1748
@RichardWallis Did you quote from https://en.wikipedia.org/wiki/ISO_8601#Truncated_representations?
Then why did you omit the next sentence "This provision was removed in ISO 8601:2004"?

[2017-09-29 15:49] RichardWallis commented on #1748
I may be wrong but I believe "_provision removed_" is referring to  '_two-digit years to be used and the ambiguous formats YY-MM-DD and YYMMDD_'.

The allocation of _Date_ as an expected type, along with the defaults of Text & URL, is a guide to someone marking up their data as to the type of information needed, as against a specification that a data consumer can rely on to make decisions.

For ex

[2017-09-29 16:26] VladimirAlexiev commented on #1748
The whole quote is consistent because it says "**leading** components ... are omitted". IMHO there's no provision to omit time from DateTime (which is a trailing component), or if there was, it was repealed in 2004.

I agree with you and Schema's approach to allow any literal as the value of a date or datetime. But I disagree to have **two** datatypes that say nothing really. Using them as literal

[2017-09-29 22:18] anarchivist commented on #628
Ref #1758

[2017-09-30 18:16] danbri opened #1760 "Consider an EditedPhotograph subtype of ImageObject for manipulated imagery"
Thinking out loud here but why not have a machine equivalent to this?

http://www.bbc.co.uk/news/world-europe-41443027

* Add a Type: EditedPhotograph
* Description (rough proposal): "A digital image that appears to be photographic but whose content has been significantly edited. Generic adjustment of colours and levels, brightness, contrast etc. are not considered 'editing' in this sense, whereas

[2017-10-01 01:33] rvguha commented on #1760
Yes! Lets do it.

guha

On Sat, Sep 30, 2017 at 11:16 AM, Dan Brickley <notifications@github.com>
wrote:

[2017-10-02 13:47] msporny commented on #1654
@danbri we are re-using schema.org where we can. It is a VCWG goal to ensure that its easy for search crawlers to eventually pick up on Verifiable Claims published as JSON-LD in web pages. This is a core use case. So, whatever we need to do to make that as easy as possible for you, let us know.

We have not yet decided on the URLs for the vocabularies, but if you think we could put the core vocabu

[2017-10-02 15:45] rvguha commented on #1654
Manu,

 Schema.org is super interested in making this happen.

guha

On Mon, Oct 2, 2017 at 6:47 AM, Manu Sporny <notifications@github.com>
wrote:

[2017-10-04 02:06] msporny commented on #1654
@rvguha Great, thanks for the response. I'll make sure the VCWG is aware of the desire to collaborate and we'll develop several strategies to get this stuff integrated w/ schema.org.

[2017-10-04 09:46] benjamingeer opened #1762 "What is the difference between schema:name and rdfs:label?"
Is there a semantic difference between schema:name and rdfs:label? What would be the advantage of using the former instead of the latter?

[2017-10-05 09:44] danbri commented on #1601
Deployed in v3.3, http://schema.org/docs/releases.html#v3.3

[2017-10-05 09:44] #1601 closed

[2017-10-05 09:53] RichardWallis commented on #628
Closed - as conversation and a proposal has now moved into issue #1758

[2017-10-05 09:53] #628 closed

[2017-10-05 10:00] danbri commented on #1688
Ok, added drafts of knowsAbout and knowsLanguage. They're committed to master branch here and should show up on webschemas.org for discussion shortly.

[2017-10-05 10:57] agbeltran opened #1763 "primaryPublication and other publications associated with a Dataset/CreativeWork"
As a requirement for [DATS](https://github.com/biocaddie/WG3-MetadataSpecifications) and related to issue #1196, we would like to associate a Dataset with its primary publication (the main publication about the dataset or that gives origin to the dataset) and be able to distinguish such publication from other related publications to the Dataset.

Could properties be added to make this distinction?

[2017-10-05 11:46] RichardWallis commented on #1763
These seem to me to be two separate concepts - a description of the dataset - the source of the dataset.

A _datasetSource_ property, initially with an expected type of CreativeWork (in the future there may be potential for expansion into the area of IoT/Products) could address the latter requirement.

The _about_ and _citation_ properties, can already link a publication CreativeWork to the datase

[2017-10-05 12:04] only1chunts commented on #1763
Hi,
there is alot going on here so I'm just going to deal with 1 part of it.

The page that is being marked up IS a citable unit of work in its own right, and I would like to know the appropriate way to share the full citation details of that page (dataset) that we publish. i.e. self citation.

Currently I would use the citation field, which apparently is wrong because its not citing another objec

[2017-10-05 12:53] danbri commented on #1763
This came up before in conversations Natasha Noy and I had with data citation folk. I believe we concluded an existing property could do, will dig around when I get back to a computer with a keyboard.

Associating data with its writeup is important both for any attempt to use the data, but also for dataset discovery since the data content is often quantitative and metadata tends to be quite thin.

[2017-10-05 13:02] RichardWallis commented on #1763
The current definition of the _citation_ property, you are correct, does not include what you describe as self citation.

This suggests three possibilities to  satisfy the need you describe:

- Enhance the description of the _citation_ property to include 'citable text'  - this could however cause confusion for data consumers, which in the case of a text value, would not provide an easy way to dis

[2017-10-05 13:07] danbri commented on #1763
not what i was looking for but nearby -

https://doi.org/10.1101/100784
http://biorxiv.org/content/biorxiv/early/2016/12/28/097196.full.pdf

Pinging @mfenner ...

[2017-10-05 13:23] danbri commented on #1763
see also: https://www.rd-alliance.org/groups/rdawds-scholarly-link-exchange-scholix-wg

[2017-10-05 13:34] sballesteros commented on #1763
Some thoughts:

Let's say that the `Dataset` was first published as part of a `ScholarlyArticle`. In that case we have
[code]
Given the reverse `isPartOf` property then we have:
[code]

Now another case is when the `Dataset` was used as the source of another work, in that case we can have:

[code]
so the reverse relationship could be expressed with the reverse property of `isBasedOn`. Not sure wha

[2017-10-05 13:37] alexgarciac commented on #1763
the bundle of digital objects has been modeled by research objects as well
as by DISCOs. why not just reuse either one of these?

On Thu, Oct 5, 2017 at 3:34 PM, Sebastien Ballesteros <
notifications@github.com> wrote:

--
Alexander Garcia
https://www.researchgate.net/profile/Alexander_Garcia
http://www.usefilm.com/photographer/75943.html
http://www.linkedin.com/in/alexgarciac

[2017-10-05 14:37] only1chunts commented on #1763
From the example of disambiguatingDescription given on the schema.org website:
https://meta.schema.org/disambiguatingDescription

It looks like this is not exactly what they intended it to be used for, but it would work and I'm happy to go with that rather than propose a new property.

If we did propose a new property I like the name citeAs.

Chris

----- Original Message -----
From: "Richard Wall

[2017-10-05 15:54] thadguidry commented on #1763
Folks are already using hasPart and isPartOf for this need.  I actually have semantic relationship rules in one of my apps that pickup Dataset and Research around a Project using information from hasPart and isPartOf properties already.  And it works wonderfully flawless in intent and meaning.
Its because the research effort itself is usually thought of being bundled and typically considered a who

[2017-10-06 09:19] chaals commented on #1762
The semantics are **similar** - enough that in practice they probably mean the same in most cases.

An advantage to using `schema:name` is that it is more likely to be recognised by schema.org-specific processors, most obviously search systems which are the "primary consumers" for which schema.org was developed.

On the other hand, generic RDF processors are much more likely to recogise `rdfs:labe

[2017-10-06 09:33] danbri commented on #1762
The idea of a 'name' is slightly stronger than that of a label, so I'd suggest that there could be rdfs:labels that aren't schema:names. I've added a subPropertyOf assertion to the definition file that says this. The name property also means the same thing as [dc:title](http://purl.org/dc/terms/title) too, which is also "A name given to the resource.", so I've added an 'equivalentProperty' link th

[2017-10-06 09:36] danbri commented on #1762
To answer the question about advantages of 'using the former instead of the latter', afaik there are no large scale schema.org implementations that currently apply multi-namespace RDFS inference or that will understand rdfs:label in place of schema:name. But it depends what you're doing, which application, etc. I can say at least for Google, we aren't currently likely to understand rdfs:label in p

[2017-10-06 09:52] benjamingeer commented on #1762
Many thanks for these clarifications.

[2017-10-06 11:22] danbri commented on #1762
Thanks for nudging into clarifying! I'll close this issue now, though it doesn't stop further comments.

[2017-10-06 11:22] #1762 closed

[2017-10-06 14:41] danbri commented on #1686
@rtroncy can you help us work out an example? how would  https://gist.github.com/danbri/96d6265756577e5f21ad4141f053b76d look if we used media fragment IDs?

@cguess - thanks for the detailed thoughts!

[2017-10-06 15:28] danbri commented on #1686
See also https://blog.archive.org/2017/10/05/tv-news-record-1340-fact-checks-collected-and-counting/

[2017-10-06 15:43] danbri commented on #1686
I've added the rough-cut from above into http://webschemas.org/ClaimReview but I expect it will need some tweaks...

[2017-10-07 09:52] danbri commented on #652
I'm told https://link.fish/hn-beta/ uses Schema.org.

[2017-10-07 11:28] janober commented on #652
Yes, link.fish is a bookmark manager which allows people to work with the data on websites and uses schema.org to do that. It takes all the schema data it can find and displays it (after it got a little bit cleaned up and normalized) as good as possible. Like If there is a video it gets embedded and if there is location information it displays a map. Users can then sort and filter by and property.

[2017-10-08 12:32] mkanzaki opened #1765 "Proposal: add temporal, spatial and physicalDescription to CreativeWork"
On working the metadata model for the national archive, which will aggregate data about wide range of cultural heritage objects, it appearers that temporal, spatial and physicalDescription would be useful to describe CreativeWork.

## temporal and spatial

While CreativeWork has [temporalCoverage](http://schema.org/temporalCoverage) and [spatialCoverage](http://schema.org/spatialCoverage), these a

[2017-10-08 14:39] RichardWallis commented on #1765
Closely related to #1759  Already proposed properties to handle 'extent', including some examples relevant to  archives, libraries etc.  both for compound textual values and potentially more structured description.

~Richard.

[2017-10-08 16:28] mkanzaki commented on #1765
@RichardWallis Great to know that there are already substantial proposal for physical description.

My use case is to assign a common property for aggregated datasets, which have varied field names for similar attributes. Sometimes, values are mixture of *collectionSize* and *materialExtent*, and not easily differentiated.

Is it possible to merge the **physicalDescription** proposal to [#1759](ht

[2017-10-08 19:44] RichardWallis commented on #1765
@mkanzaki The MaterialExtent & CollectionSize (#1759) proposal could be considered as approaching this issue from the opposite direction.

Chairing both the [**bibliographic**](https://www.w3.org/community/schemabibex/) and [**archives**](https://www.w3.org/community/architypes/) community groups I have seen continued desire for the introduction of an _extent_ property for some time.  Due to the l

[2017-10-09 05:23] mkanzaki commented on #1765
@RichardWallis On reading [Wiki extent proposal](https://www.w3.org/community/architypes/wiki/Extent_proposal) I guess **materialExtent** could be used to describe the mixture of *collectionSizse* and dimensions etc., with Text fallback.

The purpose of my proposal (*physicalDescription*) is to provide one simple property that covers as much as possible legacy extent related fields. It is not inte

[2017-10-09 10:48] ostephens commented on #1765
"Extent" is definitely a piece of GLAM (or at least Libraries and Archives) jargon, and this meaning of 'extent' would not be immediately obvious to anyone not already familiar with them term in the L/A context.

I'm not in any way against an alternative term being used. Possibly one issue with physicalDescription is that it is too broad. Perhaps it would be worth moving this part of the discussio

[2017-10-09 11:41] RichardWallis commented on #1765
**physicalDescription**
I agree that we should either remove the _physicalDescription_ proposal from here in favour of the materialExtent proposal #1759, or possibly move this part of the discussion there.

**temporal and spatial**
Is it being suggested that we consider properties with names such as _discoveredLocation_, _discoveredTimeperiod_,  _excavationLocation_, _excavatedDate_, _collectedDat

[2017-10-09 21:42] thadguidry opened #1766 "Add new 'readership' property useful for Periodicals"
This new property just landed in Wikidata and I think we should also have it for our http://schema.org/Periodical

[readership](https://www.wikidata.org/wiki/Property:P4295) property in Wikidata

_'average number of readers of a newspaper or other periodical, per issue'_

[2017-10-09 21:45] thadguidry opened #1767 "Add 'official app' property for Organizations and other entities."
This new property also landed in Wikidata recently and seems useful.

[official app](https://www.wikidata.org/wiki/Property:P4290) property in Wikidata

_'official app for this organization or other entity (a downloadable application for Android, iPhone etc.)'_

[2017-10-09 21:50] thadguidry commented on #1743
@tfrancart This new property just landed in Wikidata...

Number of Constituencies
_'number of constituencies related to a legislative body'_
 https://www.wikidata.org/wiki/Property:P4253

Useful somewhere in the extension ?

[2017-10-09 21:56] thadguidry opened #1768 "New property 'panoramic view' for Thing"
This new property landed in Wikidata...

panorama view
_'panorama view of the object'_
https://www.wikidata.org/wiki/Property:P4291

Example:
[Förkärla Church](https://www.wikidata.org/wiki/Q10501350)
- panorama view -[ Förkärla kyrka 20160421 06.jpg](https://commons.wikimedia.org/wiki/File:F%C3%B6rk%C3%A4rla_kyrka_20160421_06.jpg)

This might play well with the Virtual Reality mailing list discus

[2017-10-10 08:05] tfrancart commented on #1743
This is more related to voting or parliament job rather than to the
published legislation documents.

2017-10-09 23:51 GMT+02:00 Thad Guidry <notifications@github.com>:

--

*Thomas Francart* -* SPARNA*
Web de *données* | Architecture de l'*information* | Accès aux
*connaissances*
blog : blog.sparna.fr, site : sparna.fr, linkedin :
fr.linkedin.com/in/thomasfrancart
tel :  +33 (0)6.71.11.25.97, sky

[2017-10-10 15:43] Aaranged commented on #652
Netflix uses schema.org to expose its catalog to search engines (i.e. provides this to non-logged in users, like Google).

E.g. (Canadian IP, and so the /ca/):
https://www.netflix.com/ca/title/80010655

[code]

[2017-10-10 18:16] reidyoder commented on #1421
@RichardWallis @vholland @thadguidry @danbri
I've updated the original post with the current terms.

- The 'marketServed' property has been removed (the core 'areaServed' property is sufficient).
- The 'hasProduct' property has been changed to 'manufacturesProduct', with domain 'Organization' and range 'Product'.
- The 'mfgServiceProvided' property has been changed to 'serviceProvided' with domain

[2017-10-11 02:45] yayMark commented on #1472
@ldodds On contactType, I found this information at Google: https://developers.google.com/search/docs/data-types/corporate-contacts

Basically, there's a set of contactType values they recognise. I assume its best to go with those. At the time of writing, they are: "customer support", "technical support", "billing support", "bill payment", "sales", "reservations", "credit card support", "emergency

[2017-10-11 16:53] mfenner commented on #1763
Wearing my DataCite, RDA Scholarly Link Exchange and Force11 Data Citation Implementation Pilot hats, which are very much the same people as the `bioschemas` and `DATS` communities, but also covering disciplines beyond life sciences.

In all three contexts this relationship comes up a lot, and there is a strong desire to express this relationship differently from a generic `citation`. Nobody in th

[2017-10-11 17:52] only1chunts commented on #1763
Hi Martin
Sorry, but (like others) what you're describing is not what the original request here was about.
I require a means to tell people how to cite this dataset NOT the manuscript that it is part of, as has been discussed here there are multiple ways of showing that already.
Thanks
Chris

⁣Sent from BlueMail ​

On Oct 11, 2017, 5:53 PM, at 5:53 PM, Martin Fenner <notifications@github.com> wrot

[2017-10-11 17:58] mfenner commented on #1763
@only1chunts can you clarify? This issue started with

Like others in this discussion I tried to address this requirement. Use `isBasedOn` to associate a `Dataset` with the `ScholarlyArticle` that is the primary publication.

[2017-10-11 18:03] agbeltran commented on #1763
Hi, there are a couple of discussions here.
One is what property to use to related a 'ScholarlyArticle' and a 'Dataset' and another one on the use of 'citation' for the text of the citation, rather than referring to another 'CreativeWork' (that I think it is what @only1chunts was referring to).

For the relationship between 'ScholarlyArticle' and 'Dataset', 'isBasedOn' works to say:
'''
'Scholarly

[2017-10-11 18:15] mfenner commented on #1763
Maybe it helps to clarify `citation`. My understanding of the schema.org documentation is that this is not a citation string, but describing a relationship to another `CreativeWork`.

I use it for example here https://data.datacite.org/application/vnd.schemaorg.ld+json/10.5438/tnhx-54cg like this:

[code]

[2017-10-11 18:18] only1chunts commented on #1763
Hi,
Martin, sorry my bad, I forgot there were multiple things being discussed in 1 thread.
Alejandra, thank you for clarifying.

As per my earlier email (5th Oct), the example I gave is:

The page that is being marked up IS a citable unit of work in its own right, and I would like to know the appropriate way to share the full citation details of that page (dataset) that we publish. i.e. self citat

[2017-10-11 18:23] mfenner commented on #1763
OK, I see. As I said in my earlier post, I use `citation` differently. I also don't see much value in putting a formatted citation into the `citation` field, as this depends on which one of 1000s of citation styles you use, and a citation in a particular style (say APA or NLM) can easily be generated using schema.org metadata, e.g. using citationstyles.org with a little JSON conversion from schema

[2017-10-12 08:03] hubgit commented on #383
Given that [`funder`](http://schema.org/funder) and [PayAction](http://schema.org/PayAction) / [DonateAction](http://schema.org/DonateAction) already exist, is anything else needed here?

[2017-10-18 04:45] walkoffhomerun opened #1769 "Can someone do an example of ImageGallery ?"
I have struggled to figure out ImageGallery. I have a working example that passes google validation but it is very clunky.  What I am struggling with is that i get "duplicate" error warnings on google validation and it does not proceed when using multiple images under imagegallery.  so i had to move imagegallery under photo (which makes sense because you are telling a search engine you have more t

[2017-10-18 09:34] acka47 commented on #1423
Thinking about how to add a link to an API and its documentation to the description of a website in the OER World Map (https://github.com/hbz/oerworldmap/issues/17#issuecomment-337519591), I noticed that we already use http://schema.org/ServiceChannel in a way where we can easily integrate API descriptions. Basically, we see a web site as a `Service` itself that can be accessed by different means

[2017-10-18 10:43] dr-shorthair commented on #1196
Of course 'Project' is probably a sub-class of 'Action' - being a time-bounded thing with inputs and outputs. 'Grant' is a kind of academic shorthand for 'externally funded project'. I did a bit of a survey of how the notion of 'project' is modeled in various vocabularies. The DBPedia ontology has far and away the richest model, though as usual it has some some curious fluff on it as well.
See htt

[2017-10-18 14:33] philbarker commented on #894
A discussion about Dictionary Items (issue #1711 )  converged with this issue. On that thread there seemed to be agreement that the same terms could work for Dictionary Items and for the use cases discussed here. The suggestion from @RichardWallis was that dictionary items are very similar to  enumerated values; indeed there is an example [above](894#issue-116871133) showing how to treat them. Cat

[2017-10-18 16:48] stuartasutton commented on #894
I trust that there is sufficient support for these changes as suggested
here by Phil. I too would help if there is anything I can do to shepherd
this along, get the changes made in pending, and push this through.

On Wed, Oct 18, 2017 at 7:33 AM, Phil Barker <notifications@github.com>
wrote:

--
Stuart A. Sutton, Metadata Consultant
Associate Professor Emeritus, University of Washington
   Informa

[2017-10-18 18:30] westurner commented on #894
Any suggestions for Ordered Map / OrderedDict?

JSONLD and RDFa serialization/deserialization MAY NOT be ordered; and a
post sort is often destructive.

On Wednesday, October 18, 2017, Stuart Sutton <notifications@github.com>
wrote:

[2017-10-18 18:41] yueshi277 opened #1770 "When reviewCount is 0, display error "The value provided for reviewCount must be a positive value""

[2017-10-18 18:41] philbarker commented on #894
If you multitude DefinedTermSet with ItemList and DefinedTerm with ListItem  I think you would get what you want.

⁣Sent from TypeApp ​

On 18 Oct 2017, 19:31, at 19:31, Wes Turner <notifications@github.com> wrote:

[2017-10-19 10:23] inetbiz opened #1771 "Docs Feature Answer Schema"
Show `parentItem` attribute in the example. Comment schema has no example at all. Wasn't sure how to use that attribute. http://schema.org/Answer

[2017-10-19 15:51] jgoodell2 commented on #894
+1 @philbarker -- conceptually "DefinedTermSet" and "DefinedTerm" would be a good fit (better than "CategoryCode") for the kind of data elements defined in CEDS that could be expressed as structured data on the Internet using the construct.

[2017-10-19 15:58] rrobson commented on #894
+1 @philbarker as well. In our competency-focused projects (e.g. www.cassproject.org and www.credentialengine.org) this would be extremely valuable so that web resources could be labelled with and discovered by competencies, relevant job classifications, etc.

[2017-10-19 16:12] jmarks commented on #894
+1 @philbarker @jgoodell2 @rrobson For the use in educational learning standards, and to be referenced by the core AlignmentObject, this approach seems workable. The main missing element is a way to define a hierarchy or taxonomy of skills and relationships between skills. We have a open source project, OpenSALT, [https://github.com/opensalt/opensalt], used by education agencies that could (should

[2017-10-19 16:30] westurner commented on #894
On Wednesday, October 18, 2017, Phil Barker <notifications@github.com>
wrote:

Thanks! Is there an example of this anywhere?

[2017-10-19 17:41] philbarker commented on #894
@westurner  something like this:
[code]

[2017-10-21 17:30] nicolastorzec commented on #1727
If one only needs to capture a complete order over a collection of elements then ListItem and itemList just work. That was the point of my comment regarding "ordering in general" in #1726.

If one needs to capture something more subtle, like the ordering of authors as well as which authors contributed equally to a paper (e.g. [Alphago Zero paper](https://www.nature.com/articles/nature24270.epdf?au

[2017-10-22 00:06] RichardWallis opened #1775 "Change CategoryCodes to TermDefinitions"
Following discussion in issue #1711 about the use of CategoryCodes (introduced into pending in #1255 from issue #894) there is a consensus that the terms should be renamed as follows:

- CategoryCode->TermDefinition
- CategoryCodeSet->TermDefinitionSet
- inCodeSet->inDefinedTermSet
- codeValue->termCode
- hasCategoryCode->hasTermDefinition

This issue created to carry out that work

[2017-10-22 00:07] RichardWallis commented on #1711
Created issue #1775 to instigate changes.

[2017-10-22 05:54] l00mi commented on #1775
@RichardWallis Thank you for pushing this!

[2017-10-23 11:03] philbarker commented on #1775
@RichardWallis Thanks for the name change.

What about the changes to the definitions of DefinedTerm, DefinedTermSet and termCode?

DefinedTerm is currently

Suggest a more helpful definition of

termCode is currently

Suggest that codes are only locally unique (and does textual include numbers?)

DefinedTermSet is currently

Suggest to help clarify what scope is

[2017-10-23 11:15] RichardWallis commented on #1775
Thanks @philbarker for pointing out that I forgot to change the descriptions - I will get on to it asap.

[2017-10-23 11:17] philbarker commented on #1775
@RichardWallis I have made changes locally, would it help if I sent a pull request?

[2017-10-23 11:22] RichardWallis commented on #1775
It would make sense for me to update the current PR (#1776), instead of creating yet another one, so I'll do that

[2017-10-23 13:30] RichardWallis commented on #1775
Updated descriptions now part of PR (#1776)

[2017-10-23 13:37] gooodguy opened #1778 "file:// URLs in core ontology"
Hi,
I found these triples in the file https://github.com/schemaorg/schemaorg/blob/master/data/releases/3.3/schema.nt

`<file:///Users/danbri/sdo/official/schemaorg/data/schema.rdfa> <http://purl.org/dc/terms/source> <http://www.w3.org/wiki/WebSchemas/SchemaDotOrgSources#IIT-CNR.it> .
<file:///Users/danbri/sdo/official/schemaorg/data/schema.rdfa> <http://purl.org/dc/terms/source> <http://www.w3.org

[2017-10-23 14:06] jvandriel commented on #1711
Just to make sure that I'm understanding the changes appropriately...

I'm working on a project for which I'll be publishing Google Adwords specific structured data (for analytical purposes) together with the rest of the markup and for which I was planning to use ```CategoryCode``` as such:

[code]
Am I right assuming I should now write it like this?

[code]

[2017-10-23 14:40] RichardWallis commented on #1711
@jvandriel As a translation from the current version (in pending) to the proposed updated version, yes.

As to your actual real-world example, It would be nice if that taxonomy was web addressable and each term had its own URI.

However what you have produced is a good example of how a useful structured [web] data description can be provided for structured data that is not directly web accessible,

[2017-10-23 14:55] jvandriel commented on #1711
Thanks for the confirmation @RichardWallis.

As for the real-world example, like I said, I'm going to publish this data this for analytical purposes (by feeding it back into our systems) and am not expecting Google (Adwords) to understand/adopt it any day soon as Adwords doesn't support the 'category' property (yet).

Nevertheless I was happy to see EnumerationValue/CategoryCode/DefinedTerm being

[2017-10-25 11:52] philbarker opened #1779 "Educational and Occupational Credentials should be in schema.org"
By *educational and occupational credentials* I mean diplomas, academic degrees, certifications, qualifications, [badges](https://www.badgealliance.org/), etc., that a person can obtain by passing some test or examination of their abilities.  See also the Connecting Credentials project's [glossary of credentialing terms](http://connectingcredentials.org/common-language-work-group-glossary/).

Thes

[2017-10-25 15:20] thadguidry commented on #1779
@philbarker Just a quick barometer test , but ... how comfortable are you with the work put into the Credential Engine and meeting the broader needs ?  Really Nice, Risky, Adequate ? what's your gut tell you from what you've seen ?

[2017-10-25 15:35] philbarker commented on #1779
@thadguidry I think there are a lot of details in the Credential Engine work that are quite US-centric, however one of the things that I am sure would happen anyway in transferring that work into a schema.org context is that those details would be flattened. schema.org isn't the place for the highly nuanced details you find in specialist vocabularies.

So I am comfortable with the US -> world wide

[2017-10-25 15:48] thadguidry commented on #1779
@philbarker Agreed that schema.org is not the place for nuanced details.  Yes, that's the general answer I was looking for about risks with broadening the Credential Engine work into schema.org and the risks.  Yeah, I know your getting money there, and glad you are !   BTW, I really liked what I saw in the planning pages hosted separate site: http://credreg.net/

[2017-10-25 15:51] danbri commented on #1715
Progress:

*  https://goo.gl/5TPDw4 (thanks Iovka Boneva, Jose Emilio Labra Gayo, Eric Prud'hommeaux) - this is a draft of how it might look to validate schema.org/Dataset structures.

[2017-10-25 15:54] danbri commented on #1715
Also discussed at ISWC incl with @AlasdairGray --- how can we tie the nuanced and graded notions of "strongly recommended", "excellent to include if you have it", "would be nice", "optional", "permitted", "mandatory", "required" etc that occur in practice, to the more rigid expressivity of formal validation formats. Specifically in Shex we think we can use their '//' annotation notation to attach

[2017-10-25 16:04] philbarker commented on #1779
@thadguidry : @stuartasutton would be better placed that I am to comment on how close to being locked down the CTDL metadata is. I know that there is an issue about having to use things like the AlignmentObject a lot which could be avoided if competencies could be described directly in schema.org, and that doing so could be a relatively simple extension of  CategoryCode / TermDefinition hence our

[2017-10-25 17:05] thadguidry commented on #1779
@philbarker right, that's what I hoped.  Awesome, ok thanks for now.  Good job on the email thread discussion kickoff...I'll be in the background mostly on this issue from here on out.

[2017-10-25 19:53] tfrancart commented on #1715
SHACL has the notion of "severity" : https://www.w3.org/TR/shacl/#severity
It provides 3 possible values "Violation" "Warning" and "Info" but custom values can be specified.

[2017-10-25 22:36] SignpostMarv opened #1780 "clarification: re representing star ratings for github repos via SoftwareSourceCode"
We've got [SoftwareSourceCode](https://schema.org/SoftwareSourceCode), we've got [starRating](https://schema.org/starRating), github repos can have star ratings, yet it seems SoftwareSourceCode cannot have starRating.

This strikes me as odd.

Thoughts?

[2017-10-26 04:10] RichardWallis commented on #1780
Looking at the description of [starRating](https://schema.org/starRating):

and the [documentation of Github Stars](https://help.github.com/articles/about-stars/):

leads me to the conclusion that they are different concepts - one a measure of official approval (usually in the form of * - *****), the other a simple count of bookmarks of interest (for reasons good or bad) by users.

If we were to a

[2017-10-26 07:36] VladimirAlexiev commented on #188
+1 for **not** introducing a `Telephone` datatype, a URL with `tel:` scheme is all we need

[2017-10-26 08:07] VladimirAlexiev opened #1781 "Schema datatypes duplicating XSD datatypes considered."
This issue is related to #1404, #1748 .

#1715 lists https://goo.gl/5TPDw4 (by @ericprud and @labra) which has  @danbri's implicit endorsement. And it shows:
[code]

God gave us XSD datatypes to use and cherish, so it gets me really worried if Schema promotes its own unnecessary data types.
- It's fine to say that most props can carry either a structured resource, or `Text` (that's part of Schema'

[2017-10-26 10:16] RichardWallis commented on #1781
@VladimirAlexiev  From the suggested actions in your well argued comments I think there would be benefit gained in adopting:

2. Where there is a direct mapping between a schema datatype and XSD it should be explicitly documented both in supporting RDF files and in user documentation. (#1404)

4. In addition for `schema:DateTime` somehow (I don't know how either) define it as being a union of `xsd

[2017-10-26 11:25] cheonmux opened #1782 "Problem with URL that have non-English characters."
Hi,

I am using product schema and URL of the product is written in Japanese. However, Schema does not recognize this URL.

Please see my product here -> https://goo.gl/GDw5iy .

Original url is https://ja.seoartgallery.com/shop/花の絵-風水-インテリア-絵画-アートパネル-1-2/ but schema recognize like https://ja.seoartgallery.com/shop/-----1-2/

 As it works properly when using English URL, the problems seems to be a

[2017-10-26 12:05] chaals commented on #1782
I think you mean "The schema validator(s) I used" - schema itself does not say anything about URLs. I just tested this on [Yandex' Structured Data Validator](https://webmaster.yandex.ru/tools/microtest/), and it seemed to work without problems.

File bugs on the validators you are using, and ask the search engines you are looking at if they have the same i18n bugs in their internal architecture.

[2017-10-26 12:36] cheonmux commented on #1782
@chaals

Hi, Thanks for answering!

I checked schemas chrome develpoer console(F12) and Google [structured data testing tool](https://search.google.com/structured-data/testing-tool/u/0/) and see problem.

and I tested it in  Yandex' Structured Data Validator you gave it, http://schema.org/url is displayed normally.

I am confused which test result is correct.

[2017-10-26 12:55] danbri commented on #1781
A few quick points -

* Firstly the quick shex example reported in #1715 was thrown together very quickly over lunch yesterday at ISWC, primarily by Iovka and Jose. It is not intended to be the final word on anything. We were trying a few variations to see whether Google validation rules for [dataset descriptions](https://developers.google.com/search/docs/data-types/datasets) might usefully be cap

[2017-10-26 13:06] philLaine opened #1783 "Adding types for organizations balance sheet informations"
As far as I know, at the moment Schema.org don't have appropriate type to describe organizations **balance sheet informations**.
I meen financial results, accounting balance sheet, normalized EBITDA, and those sorts of data.

I'm working for a major French company who's providing free financial online data about all the french organizations, I woul like to improve a better schema.org tagging proce

[2017-10-26 13:32] danbri commented on #1781
Here's a version that checks only for some kind of literal, https://goo.gl/EJWdLQ

See also https://goo.gl/pLVyCn from @ericprud

[2017-10-26 13:44] VladimirAlexiev commented on #1781
hi @RichardWallis!

For props that accept a union of types (eg `acceptsReservations`: URL, Boolean or string "Yes"/"No") the context should just be silent.

For props that demand a URL (eg `downloadUrl`), this can only do harm if the data provider misuses the prop, eg:
[code]
Forcing it to `@id` is actually good because downstream software can discover these invalid URLs, which it couldn't do if t

[2017-10-26 13:51] danbri commented on #1781
Totally vouch that it was just a quick lunchtime hack! Am about to board a flight, but let's keep this discussion moving and issue open. I think shex/shacl should be the stimulus we need to bring a bit more rigour to schema.org datatyping, and thanks for the nudge :)

[2017-10-26 13:53] thadguidry commented on #1780
@RichardWallis be very careful here please.  In general, any Thing can have a "popularity" vote or http://schema.org/LikeAction applied on it....as well as a https://schema.org/starRating

The Github Stars are just a 0-1 Rating range (instead of a 0-5 or whatever) where the value is either "like" and "Favorited" OR "I don't care" (0 or empty).  The 0 does not mean Hate it....and that's a big diffe

[2017-10-26 15:21] rvguha commented on #1781
"Considered harmful" is about established and helpful as fatty food and ...
i.e., it is old, but not very healthy.

Re XSD data types. There was extensive discussion, before the launch of the
first version of Schema.org, on data types. No, we are not ignoring the ton
of work that has been done on data types over the last 60 years. We decided
that when appropriate, we would use earlier work, giving

[2017-10-26 18:04] RichardWallis commented on #1780
Thanks @thadguidry for pointing the conversation in a [LikeAction](http://schema.org/LikeAction) direction and recommending the use of the [interactionStatistic](http://schema.org/interactionStatistic)-> [InteractionCounter](http://schema.org/InteractionCounter) to capture the results of the analysis of _LikeAction_ counts [Github Stars].

It was that use of the word star led me to make the wrong

[2017-10-26 18:58] danbri commented on #1525
I've just added AskPublicNewsArticle, to capture the "HELP US REPORT" category from Trust Project, https://docs.google.com/document/d/1pLUM-JvGDl5NMUNMi2Hl74MnsoBGw_B3cYIAQ8NyO_M/edit#bookmark=id.uxjvtxtbtxpn which they've added to their specs after further consultation / discussions.

[2017-10-26 19:41] SignpostMarv commented on #1780
@thadguidry so something like this?

[code]

[2017-10-26 22:29] thadguidry commented on #1780
@SignpostMarv yeah something like that.

[2017-10-27 07:20] SignpostMarv commented on #1780
Cool, thanks :)

[2017-10-27 07:50] philLaine commented on #1783
@thadguidry thanks a lot for your quick and clear answer about my request.
I've taked a look, before posting that, at the recent FIBO types. They are great but not accurate to fit my requirements.
I think I could try to take the lead, with my team of developers, to align Schema with OrganizationalFinance ontologies.
As a part of Dun and Bradstreet we have the required legitimacy and the team to su

[2017-10-27 07:51] philLaine commented on #1783
@thadguidry thanks a lot for your quick and clear answer about my request.
I've taked a look, before posting that, at the recent FIBO types. They are great but not accurate to fit my requirements.
I think I could try to take the lead, with my team of developers, to align Schema with OrganizationalFinance ontologies.
As a part of Dun and Bradstreet we have the required legitimacy and the team to su

[2017-10-27 15:32] VladimirAlexiev commented on #1781
@rvguha, could you please clarify your position? Do you think publishers should use Schema datatypes or XSD datatypes?

[2017-10-27 16:44] danbri commented on #1781
@VladimirAlexiev question for you: if schema.org types were annotated with links to xsd where mappings made sense, would Ontotext's database / tooling be able to make more sense of schema.org data?

[2017-10-27 19:07] danbri commented on #280
Hey all. I'm in Berlin for [Wikidata Conference 2017](https://m.wikidata.org/wiki/Wikidata:WikidataCon_2017), is anyone else here attending. Thoughts on useful things to focus on?

Without re-reading the entire issue, where would I find most mappings? I understand that some are in Wikidata directly (what's the best SPARQL to retrieve everything); but I've also noticed mentioned of a spreadsheet.

[2017-10-27 20:09] kidehen commented on #280
@danbri,

Cool URIs don't change. Thus, simply goto: https://github.com/schemaorg/schemaorg/issues/280#issuecomment-254599962 :)

[2017-10-27 20:22] danbri commented on #280
Thanks! :) Here's a wikidata-hosted version too, for the wikipedially minded, https://goo.gl/hmQ1m4

[2017-10-27 20:45] vberkel commented on #280
Nice. I've rewritten the CONSTRUCT query to show all the equivalentClass and equivalentProperties together https://goo.gl/e6Td46

[2017-10-27 23:08] thadguidry commented on #280
@danbri ,

1.  @vberkel 's CONSTRUCT query will show the duplications, and its there that talking points need to be made... like the https://www.wikidata.org/wiki/Property:P856 not having a nearly equivalent Schema.org property, but instead a makeshift one against sameAs because of this ...

sameAs | URL | URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL o

[2017-10-28 09:40] danbri commented on #1186
@pigsonthewing 14 months later, https://www.wikidata.org/wiki/Property:P1082 is still "population". Does anyone have metrics on property name volatility?

The basic idea of using Wikidata as vocabulary in markup can work with either P/Q numbers or their natural language labels (not necessarily English). If the latter the indirection needs to be documented in a context file, which isn't necessarily

[2017-10-28 09:55] pigsonthewing commented on #1186
Interesting question; not that I know of.

[2017-10-29 07:59] nichtich commented on #280
I had a chat with @danbri yesterday at WikidataCon and extended my command line / npm tool [wikidata-taxonomy](https://www.npmjs.com/package/wikidata-taxonomy) to also show mappings from Wikidata classes to external ontologies such as schema.org. For instance to get the subclass hierarchy of Wikidata item publication ([Q732577](http://www.wikidata.org/entity/Q732577) and mappings via [P1709](http:

[2017-10-29 11:26] ppKrauss commented on #280
Hi @nichtich, great tool!
Hi all, this is a good way to check and review by semantic tree, here the terminal example after grep, `wdtaxonomy -m P1709 Q732577 | grep schema.org`

[code]

The taxonomic tree **is a good check-list to review our work at Wikidata**... Examples (of `grep` tree) that suggest some checking and perhaps some decisions:

* Person: Q5 or Q215627?  A tree exist in Q5, no tree

[2017-10-29 14:08] danbri commented on #280
That's fantastic, @nichtich - thanks!

[2017-10-29 14:16] danbri commented on #280
I haven't thought through whether using 'grep' here might be misleading, but as a quick way to see the schema mappings in a certain area, "wdtaxonomy -b -m P1709 Q732577 | grep schema" worked nicely:

[code]

[2017-10-29 17:04] chaals commented on #1525
Hmm. I something about the name `AskPublicNewsArticle` seemed and still seems wrong, but I cannot put my finger on it. Perhaps I should be looking for input on the question...

[2017-10-29 19:03] RichardWallis commented on #1525
I agree with @chaals, the name doesn't seem to make sense.  I had to read the documentation to get a clue what it might be for.

What about `ReqestedFromPublicNewsArticle` as an alternative.

[2017-10-29 22:38] rtroncy commented on #1686
Hey @danbri, sorry for this delay. Following the [Media Fragments URI 1.0 specification](https://www.w3.org/TR/media-frags/), the line 21 of your gist could simply be:
[code]
Unfortunately, YouTube does only understand the start time but not the end time of the fragment. Therefore,
[code]
enables to jump/seek to 5'50 of the speech but it will not stop 20 seconds after

[2017-10-30 11:37] VladimirAlexiev commented on #1781
The GraphDB LiteralIndex indexes numbers, dates, strings. The check for dates is `org.eclipse.rdf4j.model.datatypes.XMLDatatypeUtil.isCalendarDatatype(..)`, and that includes the XSD types.

So no, we wouldn't index extra datatypes that are made `owl:equivalentClass` to the well-known XSD types.

[2017-10-30 14:05] rvguha commented on #1781
Vladimir,

 Our (Schema.org's) goal is to optimize for publishers. We will do whatever
makes things easier for them. There are far fewer programmatic consumers of
the data and they can do the extra work.

 So, should we prefer a few (at most a few dozen) consumers/tool vendors
changing their code or millions of publishers changing their practice?

guha

On Fri, Oct 27, 2017 at 8:33 AM, Vladimir Al

[2017-10-30 14:19] thadguidry commented on #1781
@rvguha Let's get millions of publishers to change their practice...and use Schema.org.  Oh wait, we did that already. :)  sorry, just had to. :)

Although Vladimir's intentions might make us shudder a bit, it is not completely far fetched that publishers like to see well defined standards that provide some value.  This XSD case is certainly not one of them, I agree Guha, but I am also aware that

[2017-10-30 16:20] VladimirAlexiev commented on #1781
@rvguha Do you have actual evidence that Schema datatypes are used widely in published data?
I really hope that's not the case: as I said, I am not aware of any repository to implement D-Entailment, probably because that's not easy.

Can you explain how using Schema datatypes is easier than using XSD datatypes? Also, what value does that bring? According to @RichardWallis, Schema datatypes `Date`

[2017-10-30 17:13] danbri commented on #1781
@VladimirAlexiev I am sure your intentions are pure.

I have no objection to XSD. I don't expect for most uses of schema.org, that actual instance data records need explicit datatyping. The information ought to be in the schemas. If there are cases where we have ambiguity or confusion in the schema.org schemas those should be fixed, but I would resist the idea that webmasters/publishers ought to b

[2017-10-30 17:47] danbri commented on #1525
Ping  @subbuvincent + @TheTrustProject who may have alternate suggestions.

Let's see if we can find something shortish, natural and intuitive.

I agree that the name is not the most naturally phrased, but AskPublicNewsArticle is both 1.) shorter than RequestedFromPublicNewsArticle and captures that notion that there is some asking happening and that it relates to the public.

On my reading (perha

[2017-10-30 18:15] RichardWallis commented on #1525
I _was_ trying to go for a more concise name - but failed.

`AskingPublicNewsArticle` - is still a little longer but a bit more descriptive of what it is?

[2017-10-30 18:48] TheTrustProject commented on #1525
@danbri has nicely captured the concept of AskPublicNewsArticle. It's a call to users to offer story ideas, source ideas, clarifications, etc., related to news coverage or a breaking story. We could go to the language the editors working group suggested, which would be HelpUsReportNewsArticle (even longer, I realize!).

[2017-10-30 20:01] thadguidry commented on #1525
@danbri @RichardWallis @mfhepp Hmm... there might be something here about an "Ask" versus an "Offer" or even an corollary to http://schema.org/instrument.  I would say that perhaps an "Ask" is a prelude sometimes to an Offer or an Action.  Even a close cousin to http://schema.org/AssessAction That's how things sometimes happen in real life, but we don't yet have a generic type for an "Ask" yet.

L

[2017-10-30 20:16] subbuvincent commented on #1525
Just so all of you have news media examples for the HelpUsReport/AskPublic sub-types, here are some.

Propublica Help Us Investigate Maternal Mortality (there is @type NewsArticle in this page)
https://www.propublica.org/getinvolved/help-propublica-and-npr-investigate-maternal-mortality

WBUR (Boston's NPR 90.9FM) crowdsourcing insights from the Boston public head of a Nov 2016 charter schools bal

[2017-10-30 21:07] danbri commented on #1525
@thadguidry I see where you're going with that, but I'd suggest here that we resist the urge to try to decompose crowdsourcing requests into some complex expression built from schema.org primitives.  As you say it's possible we might later find some commonalities across existing terms. I'd suggest we think about news publishers making crowdsourcing requests simply as a "common enough kind of a thi

[2017-10-30 21:20] jeannieh commented on #1525
The follow code below currently checks out perfect with the SDTT for page https://www.propublica.org/getinvolved/help-propublica-and-npr-investigate-maternal-mortality

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "name": "ProPublica",
    "description": "By many measures, the United States has become the most dangerous industrialized c

[2017-10-30 21:46] subbuvincent commented on #1525
@jeannieh Did you mean 'following code' meaning the code below your line.

Yes, if we went with the new sub-type of NewsArticle we are discussing here, one line will change

from
"@type": "NewsArticle"

to
"@type": "HelpUsReportNewsArticle"

or
"@type": "AskPublicNewsArticle"

Also two more tidbits to just give more info to everyone (@danbri already knows this)

1 The origin of the words HelpUsRep

[2017-10-30 22:55] gkellogg commented on #1781
Gregg Kellogg
gregg@greggkellogg.net

Note that RDFa and JSON-LD will automatically use XSD datatypes when parsing certain values (@datetype, values of meter and data elements, as well as native JSON values. Unless someone specifically types these using schema datatypes, typed literals with XSD datatypes will be emitted from conforming processors.

Gregg

[2017-10-31 00:55] thadguidry commented on #1525
@danbri This is why I hate email and comments, because all the subtlety of my voice is just chucked out the window. :)  Re-read my comment and before all of it put the context "IN THE FUTURE WE COULD...".  I didn't say "hold everything", "I hate this idea", "we need to land the ASK type first before everything."  I was merely expanding thoughts for our future.  I'll be sure to preface future comme

[2017-10-31 04:20] TheTrustProject commented on #1525
@thadguidry thanks for your unwavering support. :> It is much appreciated! The care and engagement this community puts into this vocabulary is inspiring.

[2017-10-31 04:43] mediaprophet opened #1785 "Internet Connections (and related services)"
Thinking about 'speed test' issues and in Australia we're having trouble getting everyone to understand how connections work, where issues are, etc.

So; looking at how to build a tool, and it seemed like a good idea to think about vocab.  i couldn't find it.

Suggestions?  Good Idea?

[2017-10-31 06:11] VladimirAlexiev commented on #1781
Agree. And this issue doesn't say that.
It just says people should not be misled into using Schema datatypes: which are a nice organizational device, but should recommend the use of "native" datatypes.

That's not always possible, given the native flexibility/polymorphism of Schema. As I say above "remove any datatypes from schema's JSONLD context to ensure that data is not mis-interpreted (see #1

[2017-10-31 10:54] danbri commented on #1525
Thanks @thadguidry :)) yeah, email/github misses a lot. I'd hoped I might run into you at the Wikidata conference. Maybe next time?

Ok, so where are we?

AskPublicNewsArticle, HelpUsReportNewsArticle, AskingPublicNewsArticle, ... any other candidates?

[2017-10-31 11:04] thadguidry commented on #1525
Let's make it even better, by combining the ideas into...

PublicHelpOnNewsArticle
HelpReportOnNewsArticle

[2017-10-31 11:06] danbri commented on #1781
Ok, I don't think we have any disagreement here then. Shall we close this issue and follow up in #1748 on specifics?

[2017-10-31 11:20] danbri commented on #1525
Ok, how about "HelpReportOnNewsArticle" - @subbuvincent @TheTrustProject, is that consistent with the TP intent? It is a little verbose, but most NewsArticles won't be of this type.

I would also like to clarify how general low-key "contact us if you can help with this story" messaging fits in here. My understanding is that some articles are very heavily focussed on the crowdsourcing, but you stil

[2017-10-31 11:21] jameswadsworth commented on #1770
From [http://schema.org/ratingCount](url)

Values expected to be one of these types
--
Integer

I would expect 0 to be a valid integer value. It is very possible that nobody has rated an item/article

[2017-10-31 11:26] tfrancart opened #1786 "Introduce Organization > PublicOrganization"
SDO has "GovernmentOrganization"; this is too restrictive to be able to be used as a range for e.g. legislationPassedBy or legislationResponsible. However a "PublicOrganization" would do. Not all public organizations can be said to be "governmental" organizations.

See the Core Public Organization Vocabulary (CPOV) for inspiration : https://joinup.ec.europa.eu/release/core-public-organisation-voca

[2017-10-31 13:45] yueshi277 commented on #1770
reviewCount is 0, display error "The value provided for reviewCount must be a positive value"
![screen shot 2017-10-31 at 9 41 58 am](https://user-images.githubusercontent.com/14883455/32226879-1f1802f4-be20-11e7-8939-d934f68a7b53.png)

[2017-10-31 15:36] chaals commented on #1525
I am wondering if "we welcome more information" (which is what I think `YetToBeNamedClassOfNewsArticle` is about) is actually a property of things, not a class.

As far as I know Standard and Poor's, Moody's, and some other rating agencies don't actually invite the public to provide their own ratings, while others do... an AccessibilityDescription is likely to be something with this property too.

[2017-10-31 15:50] TheTrustProject commented on #1525
@danbri Your context description is quite right - journalism has always depended on the public for tips and sources. There's a growing movement, though, among newsrooms to reach out more actively and we heard a strong call for this from our public interviews.

"HelpUsReportOnNewsArticle" is a little off because the call isn't necessary for that _particular_ article, it's for a breaking story, a be

[2017-11-01 11:43] philbarker commented on #1779
I have proposed a W3C Community Group to take this work forward.

It now needs the support of four other people for it to happen. To support it you must have a W3C account, and then visit the [Community Groups page](https://www.w3.org/community/), and scroll down a little to the proposed groups section. Click on the button to support the Educational and Occupational Credentials in schema.org Commu

[2017-11-01 14:14] danbri commented on #1525
@chaals how about we do both? Let's add this new type - since crowdsourcing of news articles is a major phenomena, and worth being able to distinguish from the many other situations in which feedback can be sought. But let's also expand the domain of http://schema.org/contactPoint to CreativeWork, which would allow it to be applied to all kinds of documents...

[2017-11-01 16:58] subbuvincent commented on #1525
@danbri expanding [contactPoint](http://www.bbc.com/news/world-41821923) to CreativeWork is a great idea.

It adds an anchor directly connected to a practical nuance in crowdsourced journalism. Many newsrooms often separate out a custom email address for e.g. for receiving responses from a form-tool or even a direct email invited from readers. They tend to avoid using the editors@newsroom.com or l

[2017-11-02 06:32] VladimirAlexiev commented on #1781
This is a wider issue than #1784 since it's about all Schema types.
[code]
See the items 1-6 in the description.

[2017-11-02 15:11] VladimirAlexiev opened #1788 "thumbnailUrl and contentUrl are questionable"
Consider these two props:
- `thumbnail` (`ImageObject`): Thumbnail image for an image or video.
- `thumbnailUrl` (`URL`): image relevant to the Thing

I think they basically mean the same, but the latter case points directly to the image, while the former case introduces an intermediate node `ImageObject` that points to the image using `ImageObject.contentUrl`, and can hold more info about the thu

[2017-11-02 17:07] vholland commented on #1788
The range for ``image`` already includes both ```URL``` and ```ImageObject```. Given that we have lots of naming inconsistencies, I don't see the benefit in adding ```imageUrl``` at this time.

I do not agree that we can do away with the intermediate node. In JSON-LD, there is no way to record the properties like ```height``` and ```width```.

I could get behind deprecating ```thumbnailUrl```, but

[2017-11-02 17:20] rvguha commented on #1788
+100 for what Vicki says.

Yes, there is some cruft. But we have to weigh the cost of cleanup vs the
benefit.

guha

On Thu, Nov 2, 2017 at 10:08 AM, vholland <notifications@github.com> wrote:

[2017-11-02 19:18] danbri commented on #1788
I can see room for clarification but I can't see adding yet another cluster of options (imageUrl) adding to that clarity. Let's bookmark this as something that - as @vholland says - could be a piece of a larger cleanup/clarification for these kinds of pattern.

[2017-11-02 19:28] danbri commented on #1788
In terms of our own definitions I don't see anything wrong with

[code]

[2017-11-02 19:53] kevinawilson commented on #1605
Instead of making CatholicChurch a subclass of church, I would suggest adding a property "denomination" to Church. This would allow any denomination to be indicated, which would save us from having to create a subclass for each and every denomination (e.g., BaptistChurch, PresbyterianChurch, LutheranChurch).

The issue of denominational affiliation is a difficult one, and it wouldn't make much sen

[2017-11-02 20:01] Tpt commented on #1605
I definitely agree about your proposal but it seems a bit off topic here. This task is about making the CatholicChurch class, that already exists, a subclass of Church. It is a change that seems still relevant if we do not remove the CatholicChurch class. Put your proposal in a new task seems more appropriate to me.

[2017-11-03 02:02] thadguidry commented on #1525
@subbuvincent Yes the distinction is clear.

[2017-11-03 08:48] VladimirAlexiev commented on #1788
@vholland Don't know where you saw that I'm proposing adding `imageUrl`. Then we'd also need `audioUrl`, `videoUrl` etc. This proposal is to deprecate `thumbnailUrl`.

Do you mean other similar props exist? Can you list them?

My simplified example "directly against the image URL" is valid Turtle, so of course it can be represented in JSONLD. And as @danbri says "I don't see anything wrong with th

[2017-11-03 10:57] chaals commented on #1525
The recent discussion is strengthening my opposition to making a class. The class of NewsArticles we want input on seems to sit badly with articles of different genres.

[2017-11-03 13:32] AmyManek commented on #1526
Hi I am having issue with products and service page schema, Please check:
 <script type="application/ld+json">

            {
          "@context": "https://schema.org",
          "@type": "ItemList",
          "itemListElement": [

    {
      "@type": "ListItem",
      "position": 1,
      "item": {
                  "@type": "Product",
                  "image": "",
                  "url": "ht

[2017-11-03 14:59] tomwparsons opened #1789 "Standard way of storing the actual data within a dataset"
We're looking for the best way to encode tabular data in json that normally would be stored in a csv, I don't think that dataset is designed to actually store the raw data, but instead it describes a data file (e.g. a csv)?

If this is correct, can you recommend a format for encoding csvs and tabular data in JSON or JSON-LD?

Thanks

[2017-11-03 15:03] vholland commented on #1788
@VladimirAlexiev

Do you mean URLs or places where we are inconsistent in naming/usage patterns? For the latter, off the top of my head, we have never really resolved how to clean up names that differ by case only. (e.g. ```contactPoint``` and ```ContactPoint```) There are different enumeration naming patterns based on various attempts to come up with a pattern that makes sense for the immediate u

[2017-11-03 15:09] kevinawilson commented on #1605
I had thought about opening a new issue, but when I saw you had already addressed something related I thought it would be worth raising here. I'll try to write up a proposal when I get a chance.

[2017-11-03 16:21] VladimirAlexiev commented on #1788
@vholland I mean inconsistent usage patterns? There's nothing wrong with having prop `contactPoint` and class `ContactPoint`. But it's wrong to have both thumbnail and thumbnailUrl, if you don't have the same duality for image, audio, video, etc.

See my first code block. `<person/portrait-thumb.jpg>` is both `ImageObject`, and the actual thumbnail URL. There's no need for an intermediate **node**

[2017-11-03 16:31] vholland commented on #1788
@VladimirAlexiev "Wrong" is a strong word.

What is the issue we are trying to address? If it is consistency, I don't think it is worth addressing each inconsistency one at a time, but better to look at them holistically.

[2017-11-03 20:14] rvguha commented on #1788
I strongly agree with Vicki.

Much of Schema.org is not about 'correct vs wrong' but about designing to
maximize adoption and utility.

guha

On Fri, Nov 3, 2017 at 9:31 AM, vholland <notifications@github.com> wrote:

[2017-11-03 20:25] danbri commented on #1788
Agree that "wrong" is too strong, but it is reasonable to note that too many different patterns can cause usability problems for publishers.

[2017-11-03 20:29] rvguha commented on #1788
Yes, I don't think anyone disagrees that some cleanup is required. The
point is that when we do so, we need to be super cognizant of the impact on
the publisher and consumer communities on any changes we make.

guha

On Fri, Nov 3, 2017 at 1:25 PM, Dan Brickley <notifications@github.com>
wrote:

[2017-11-03 20:32] danbri commented on #1788
Yup.

Basically we don't mind looking bad (inconsistent, crappy flat models etc.) so long as it doesn't make life harder for publishers.

It would be tempting to try to beautify and formalize and normalize a lot of things, except that it would make work for millions of sites. But our modelling and naming would be cleaner.

[2017-11-03 21:15] danbri commented on #1782
As @chaals points out, this is not a problem for schema.org - this project only defines the schemas. I will close this issue but we can continue to discuss here.

From looking at the [Google SDTT](https://developers.google.com/structured-data/testing-tool/?url=https://ja.seoartgallery.com/shop/花の絵-風水-インテリア-絵画-アートパネル-1-2/), it seems it encodes non-ascii characters. I can investigate but it would be

[2017-11-03 21:15] #1782 closed

[2017-11-03 22:07] liberatr commented on #1779
Excited that I found this group at such an opportune time.

The company I work for produces web sites for lots of colleges and educational institutions, and I was surprised Schema.org doesn't yet have a "college degree" schema, only "course".

Interested in following the development, I've joined the group.

[2017-11-04 16:12] stuartasutton commented on #1779
@philbarker is correct that the CTDL is "fairly locked down" (stable). There are certain areas that are still unstable. A number of those are areas deal with data from external providers (e.g., U.S. Dept. of Labor) such as aggregate  employment, earnings etc.. If you want to know what those areas are, go to http://credreg.net/ctdl/terms and click the "Show Unstable" at the bottom of the page.

[2017-11-04 22:19] danbri commented on #1778
Thanks, that is a mistake :(  Will need to ...

* figure out what base URI to use
* fix the 3.3 files in-place
* make a unit test to ensure we don't do it again

/cc @RichardWallis

[2017-11-06 10:54] VladimirAlexiev commented on #1788
@vholland as I asked above: what other inconsistencies do you have in mind? And if not one at a time, how would you propose to address them?

I think that **consistency** is a very important quality supporting adoption and utility.
Having thumbnail and thumbnailUrl, without the same duality for image, audio, video, etc; is inconsistent.

Suggesting more complex RDF shapes than necessary also doesn

[2017-11-06 10:57] VladimirAlexiev commented on #1788
@danbri > so long as it doesn't make life harder for publishers.

Let's analyze this. how would my two Turtle examples look in RDFA and in Microdata?(http://schema.org/thumbnailUrl and http://schema.org/thumbnail don't give examples)

If the more complex Turtle looks easier in RDFA then you'll win a point.

[2017-11-06 19:16] nancyshaeffer opened #1790 "Please help. We are trying to contact scholarshipsads.org to amend the information about our institution -Augsburg University."
There is no contact information for the owners or authors of scholarshipsads.org and they list incorrect information about our institution -Augsburg University.  The web site https://www.scholarshipsads.com/full-presidential-scholarships-augsburg-university-usa-2018/#gs.ypgtV0k  says that we offer a full ride Presidential scholarships for our undergraduate and graduate programs, but we do not.   T

[2017-11-06 19:20] danbri commented on #1790
This is the issue tracker for the Schema.org project, we have nothing to do with scholarshipsads.org or Augsberg University.

Good luck with your problem -sorry we cannot help.

[2017-11-06 19:20] #1790 closed

[2017-11-07 16:29] AlasdairGray commented on #1715
[Validata](http://hw-swel.github.io/Validata/) includes an extension of ShEx that allows a custom hierarchy of severity levels. It only works with 3 levels though.

[2017-11-07 18:45] gherlt commented on #445
@thhap
may I ask on this comment:

makes it imposisble to add or use it in ExhibitionEvent ?
I am not very comfortable using "performer" as atrists, especially for dead artists...
And "contributor" has a connotation of "provides money or work" to the event, I do not see an artist fit into this.

@rbailly title can be a single artist, but on Andy Warhol (as a dead artist) it would be "Andy Warhol -

[2017-11-07 22:16] frankieroberto commented on #932
@danbri can I resurrect this idea? I don't think it’s particularly controversial, and would be very useful for `ExhibitionEvent`s, as well as some other subclasses of `Event`.

[2017-11-07 23:13] magicomartinez commented on #932
There have been several attempts to create some type of fix for events with a multi-day schedule. I think the one that's further down the line is #1457 (https://pending.schema.org/Schedule). I think the current proposal would solve for most if not all the cases you mentioned.

[2017-11-09 08:11] MichaelAndrews-RM opened #1791 "New Financial properties"
Posting this on behalf of Thad Guidry, who noted on the schema.org community list.

Wikidata has landed a few new properties today that apply to Banking and Credit and Payment cards...
Two seem to be mapped to schema.org
I think all of these are probably useful for us.

Any concerns or thoughts ?  FIBO alignment issues ? https://github.com/schemaorg/schemaorg/issues/1253

cashback  https://www.wik

[2017-11-09 17:40] danbri commented on #1723
Any final comments on this? It is on its way to be included in the pending section of our next release

[2017-11-09 18:10] magicomartinez commented on #1723
Looks good. Would it be useful to add a reference to schema.org/Question? Something along the lines of...

[2017-11-10 18:50] Aaranged opened #1792 "schema.org pages for types in pending.schema.org lack HTML title information, use boilerplate description"
Don't know whether or not this is somehow deliberate or a bug, but broad best practices for the web are to have unique `<title>` and `<meta> description`  values for unique resources.

E.g.: http://schema.org/CriticReview

[code]

Compare with: http://pending.schema.org/CriticReview

[code]

[2017-11-10 18:56] eightBitter commented on #51
I would like to bring up this issue again. While @elf-pavlik 's approach ([see comment](https://github.com/schemaorg/schemaorg/issues/51#issuecomment-284874600)) works for the translators I've tested, the approach springs an error in [Google's Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool/u/0/). Here's the error I receive: *is not a known valid target type fo

[2017-11-13 11:37] irvin opened #1793 "missing content on SiteNavigationElement"
Seems that the whole page is pretty empty, broken?

<img width="742" alt="2017-11-13 19 35 41" src="https://user-images.githubusercontent.com/165936/32723867-f18adbb2-c866-11e7-82dd-934b55870d4f.png">

[2017-11-13 12:39] RichardWallis commented on #1793
Thanks @irvin for spotting this.
Symptomatic of a known occasional caching problem
This particular instance now fixed.

[2017-11-13 12:39] #1793 closed

[2017-11-13 13:03] tisdall opened #1794 "inherited properties not listed on schema.org"
I went to http://schema.org/Recipe and I only see the directly defined properties and no information about inherited attributes.  It's missing the properties from "Thing", "CreativeWork", and "HowTo".

[2017-11-13 13:49] RichardWallis commented on #1794
Thanks @tisdall  for spotting this.
Symptomatic of a known occasional caching problem
This particular instance now fixed.

[2017-11-13 13:49] #1794 closed

[2017-11-13 14:14] tisdall commented on #1794
I saw you mention that on a closed issue, but wasn't sure if it was the same issue...  That's rather annoying for you guys!  Thank you.

[2017-11-13 15:02] osma commented on #1640
I think this issue is done and should be closed?

[2017-11-13 21:50] frxncisjoseph commented on #1770
Any news?

[2017-11-14 16:55] tisdall opened #1795 "CreativeWork author is Text allowed?"
I noticed some properties list "or Text" and some don't.  The examples on different CreativeWork objects show the "author" property just being Text but the options for author are "Person" or "Organization".  Should it also be "or Text"?  Or can all properties also be "or Text"?

[2017-11-14 16:57] tisdall commented on #1795
...  I knew I'd find the answer as soon as I asked.  ^_^  http://schema.org/docs/gs.html#schemaorg_expected

[2017-11-14 16:57] #1795 closed

[2017-11-14 21:43] dkutcher opened #1796 "addition of orderOnline to Restaurant types"
In a number of instances it is becoming necessary to define an optional URL to specify the URL of a restaurant's online ordering system, which may be either internal, sub-domain, or defined 3rd party provider.

-David

[2017-11-14 23:02] jvandriel opened #1797 "Change the domain and range of isVariantOf to Product"
(edit by @danbri June 2020; see also: #2587)

One of the things I keep running into over and over again is that there currently is no way to express a _'variant'_ relation between products without the use of ```ProductModel```. Which IMO is an serious issue as there are far more products out there of which publishers don't have info about / a resource for the ```ProductModel``` than there are publ

[2017-11-15 01:40] jvandriel commented on #1797
What I'm hoping to achieve is that when ```ProductModel```info isn't available publishers still are able to specify product variant as such in a:

*Multi page environment*
[code]

*Single page environment*
[code]

[2017-11-15 23:25] jvandriel commented on #1797
And if we want to be helpful in regards to ease of implementation for publishers than we help them avoid the needed use for fragment identifiers, as shown in the above examples, than we also introduce an inverse property for ```isVariantOf```, namely: ```hasVariant```.

With a description of:

Making the following possible for a:
*Multi page environment*
[code]

*Single page environment*
[code]

[2017-11-16 19:01] gkellogg commented on #51
@eightBitter by using `@value`, I meant as the value of a property. For example:

[code]

[2017-11-17 12:46] jvandriel commented on #1797
- _Done tinkering with the code examples - free to shoot on 'm now_

[2017-11-17 20:09] eightBitter commented on #51
@gkellogg thanks for the clarification. Your approach certainly works for the translators I've tested. However, it still brings up errors when validating through Google's Structured Data Testing Tool. Here's the example I ran through the tool:

[code]

I'm aware that this is probably a limitation of the tool itself. However, I did want to exhaust all possibilities of using the same data for two se

[2017-11-20 15:54] zzzspawn opened #1798 "Liquor, Alcohol in general, is it not allowed; or just forgotten about?"
Hey(first issue raised ever, so please inform me if I need to formulate better/differently), I was wondering if different alcohols will/can be added; like general categories of wine, whisky, beer, etc?
Doing a school project on a site, and now that we started looking we didn't find any of those, only "Winery", "Distillery", "LiquorStore".. so was wondering if there is a rule against this, or if it

[2017-11-20 16:13] EricAxel commented on #1798
Hi Petter,

I doubt it’s either not allowed nor forgotten. Rather, I think it’s merely too specific.

Schema.org allows for modeling of products and offers of those products, but doesn’t get into the weeds on categories like this. Likewise, you won’t find different kinds of electronic goods (cameras, audio equipment...); grocery store items (bakery items, meats, produce...); you get the idea.

Tha

[2017-11-20 16:31] mfhepp commented on #1798
Hi Eric, all:

If you want to add more specific information about the type of product, simply use http://www.productontology.org.

See markup examples on the following pages:

http://www.productontology.org/doc/Red_wine
http://www.productontology.org/doc/Malt_whisky
http://www.productontology.org/doc/Alcopop
http://www.productontology.org/doc/Cider
http://www.productontology.org/doc/Vodka

Etc.

Y

[2017-11-20 21:31] zzzspawn commented on #1798
Hey, Thank you guys for explaining so well, and thank you for being so quick to respond! :)

great resource as well! :)

Thanks again!

[2017-11-20 21:31] #1798 closed

[2017-11-22 12:34] c6410 commented on #241
i see good discussion going on above. any update on this now ? was it updated to latest schema ?

[2017-11-22 14:24] johndann commented on #1743
Hi all,

I am pleased to announce that luxembourg’s Official journal has implemented schema.org/legislation for all the acts published in 2017.  All the other acts will follow shortl.

have look at www.legilux.public.lu

Or for one single act

https://search.google.com/structured-data/testing-tool#url=http%3A%2F%2Flegilux.public.lu%2Feli%2Fetat%2Fleg%2Floi%2F2017%2F08%2F29%2Fa789%2Fjo

[2017-11-22 15:06] danbri commented on #894
I've been looking in the Web for evidence that people have published markup exploring http://schema.org/CategoryCode - didn't find much. Note that the page on Schema.org for CategoryCode points fairly prominently to this discussion (Hello world!), where talk of renaming things may possibly discourage adoption in its current form.

I just had a chat with @stuartasutton about some of this. I can see

[2017-11-22 15:21] erimille commented on #894
I can confirm being part of the group that has planned to use http://schema.org/CategoryCode for the likes of http://link.delawarelibrary.org/category/ but have been hesitant due to potential renaming.

[2017-11-22 15:40] thadguidry commented on #894
@danbri I personally prefer to just leave CategoryCode as a subtype.  That aligns with DMCI Abstract Model and in particular their nearly equivalent usecase with VocabularyEncodingScheme http://dublincore.org/documents/dcmi-terms/#section-8

Anyways, can we just get DefinedTerm already ? :) Its Simple English and will foster more growth compared to "EnumerationBlah's" and "VocabularyBlah's" (and i

[2017-11-22 15:46] jvandriel commented on #894
I like the idea off leaving ```CategoryCode``` as a subType as well, especially since it represents more closely what marketers are looking for for their day to day work. I fear using just ```TermDefinition``` will cause many marketers (and the developers that implement markup for them) to overlook it.

[2017-11-22 16:41] rvguha commented on #894
+1 for CategoryCode

On Wed, Nov 22, 2017 at 7:46 AM, Jarno van Driel <notifications@github.com>
wrote:

[2017-11-22 20:39] RichardWallis commented on #894
Liking @danbri's suggestion of keeping ```CategoryCode``` as a subtype of ```DefinedTerm```.

I will follow that logic through and map out how that would look with DefinedTermSet and relevant properties.

[2017-11-22 21:57] iainhallam commented on #1063
Seems like BusTrip, Flight and TrainTrip ought to be part of a Journey type.

[2017-11-22 22:07] thadguidry commented on #1063
@iainhallam TransportationMode instead.

[2017-11-22 22:21] rvguha commented on #1063
Well, maybe. :Lets first focus on capturing simple menu items and then go
into more complex
groupings and conditionals.

guha

On Mon, Sep 12, 2016 at 8:49 AM, Martin Hepp <notifications@github.com>
wrote:

[2017-11-23 09:54] philbarker commented on #894
CategoryCode as a subtype of DefinedTerm sounds good.

I agree with @thadguidry's sentiment: I think these being in pending also inhibits uptake. Any prospect of moving this into the main vocabulary?

[2017-11-23 20:03] Aaranged opened #1801 "Sub-types of MedicalOrganization link to the wrong subdomain"
At the bottom of:
http://schema.org/MedicalOrganization

We find this:

More specific Types available in extensions

- [DiagnosticLab](http://health-lifesci.3-2e.schemaorgae.appspot.com/DiagnosticLab)
- [MedicalClinic](http://health-lifesci.3-2e.schemaorgae.appspot.com/MedicalClinic)
- [VeterinaryCare](http://health-lifesci.3-2e.schemaorgae.appspot.com/VeterinaryCare)

As per the links above these

[2017-11-24 12:51] jvandriel commented on #1801
Not only do these subTypes link to the wrong subdomain but they are cause for confusion as well.

Both in the core and in the health-lifesci extension they're highlighted as subTypes of ```MedicalOrganization``` which gives no hint of the fact that they are subTypes of ```LocalBusiness``` (and more more specifically subTypes of ```MedicalBusiness``` in case of the health-lifesci extension).

Next

[2017-11-24 20:06] vberkel commented on #1797
I would like to propose a different way of solving this issue. Could we swap the rdfs:subClassOf hierarchy of Product and ProductModel?

As we have it today, the ProductModel is described as **prototypical**, as in something that is more abstract than the Product itself:

Yet, today's hierarchy goes from most abstract to concrete then back to abstract.
`Thing > Product > ProductModel `

In concret

[2017-11-24 20:39] thadguidry commented on #1797
@vberkel Its not ProductORModel ... its actually AProductModel
So the heirarchy is fine the way it is.
What needs to change is our current stupid confusing description. Which I never did agreed to. :)

The better description and what I alias in my apps is:
"A particular design or version of a Product."

[2017-11-24 20:52] vberkel opened #1802 "New Insurance Class, subClassOf FinancialProduct"
I would like to recommend a new schema.org Class http://schema.org/Insurance as a rdfs:subClassOf FinancialProduct.

One differentiating characteristic of insurance is that it provides a Policy that covers certain Things.

[code]

One other property that might be useful could be something like schema:triggeredBy
[code]

While there could be more defined for insurance policies and contracts, those

[2017-11-27 11:48] jvandriel commented on #1389
Finally got a moment to respond to this...

Heaving read the discussion I'm still wondering what it exactly is is this proposal is trying to resolve?

In general the part of a web page that should be 'speakable/pronouncable' is the main content of a page, which most of the times, are things like ```Article```, ```BlogPosting```, ```Product```, ```Service```, ```Recipe```, etc. which IMHO all have

[2017-11-27 11:56] jvandriel commented on #1797
Just to make sure I understand you correctly @thadguidry...

```ProductModel``` = Product variant?

Cause if so, that's not how I understand ```ProductModel```, and I'm pretty sure most publishers don't get it that way either, eg. the example I showed above refers to it as if it's a prototypical/abstract and nearly all sites I checked on their use of ```ProductModel``` do so.

And if ```ProductMod

[2017-11-27 17:05] thadguidry commented on #1797
@jvandriel ProductModel = model (which could be a variant of another model)

For clarity, scroll to the bottom and see the reversing properties
http://schema.org/ProductModel

In Good Relations and Schema.org...
Products can have Models
Models can have variants. (another Model)

- Product = iPhone
  - ProductModel = iPhone 5
  - ProductModel = iPhone 6
  - ProductModel = iPhone 7
  - ProductModel

[2017-11-27 17:27] thadguidry opened #1803 "Add new MountainRange as a subclass of Mountain"
Wikidata just landed a new property that seemed trivial until I realized the impact it has on Travel searches and disambiguation.  I noticed in searching that there are a few Mountains that are actually Mountain Ranges and sometimes vice versa. (probably because of lingua franca that happens often in the Travel domain)

Mountain Range
https://www.wikidata.org/wiki/Property:P4552

We can do Mount E

[2017-11-27 17:50] thadguidry commented on #540
+1 Add new Character type
+1 Add new property firstApperance to the Character type

This is now supported in Wikidata with new property:
**first appearance** - https://www.wikidata.org/wiki/Property:P4584

@RichardWallis make this happen :) so I can see when "Gomer Pyle" made his first appearance in ["The Andy Griffith Show"](https://en.wikipedia.org/wiki/The_Andy_Griffith_Show) or when some such

[2017-11-28 09:54] RichardWallis commented on #540
+1

[2017-11-28 11:23] jvandriel commented on #1797
Great, at least we're talking about the same thing. But for all intends and purposes, what I'm missing in this list is that products can have variants as well, eg:

- ProductModel = iPhone 6 S
-- @id = #ProductModel
-- isVariantOf = iPhone 6
-- predecessorOf = iPhone 7
-- successorOf = iPhone 5

- Product = iPhone 6s 4.7-inch 128 GB Silver
-- model = #ProductModel
-- color = silver
-- memory = 128

[2017-11-28 12:43] vholland commented on #540
If we add a Character type, we should figure out the boundaries.

Is Abraham Lincoln in _Abraham Lincoln, Vampire Killer_ a fictional character? Probably, yes

Is Dorothy Vaughan in _Hidden Figures_ a fictional character? No

What is the line between the two? I don't know.

[2017-11-28 14:37] thadguidry commented on #540
@vholland I think in bib extension talks @dbs was for having both if I recall ?  A Character and a FictionalCharacter ?  Dan you there ?

[2017-11-28 16:44] danbri commented on #1743
Hey @johndann - that is fantastic news!

Do you have any implementor's feedback on the current specs + examples, based on your experience?

[2017-11-28 18:04] chaals commented on #540
There are **lots** of traps in deciding whether a character is fictional or not. I think it is better not to draw a line...

[2017-11-28 18:14] thadguidry commented on #540
Also in Freebase, we had a nice property called "basedOn" attached to our Character Type so that you could say that Dorothy Vaughan the Character is "basedOn" another Character or a Person.

basedOn could accept a Character or a Person.

@chaals @vholland @RichardWallis I think just including the basedOn property takes care of all that mess.  It certainly did for us in Freebase.

[2017-11-28 18:28] barrycarter commented on #540
I'm probably missing something, but I think we can determine whether a character is fictional based on whether the work is fiction or non-fiction.

This allows for cases where a work of fiction has a fictional version of a real person. In TV shows like the Monkees (and many other more recent examples), the actors play fictional versions of themselves, and there are differences between their real a

[2017-11-28 19:39] danbri commented on #1688
I had a call with Sally and @subbuvincent from @TheTrustProject - here are notes oriented towards proposed schema edits. We talked about three things:

* New property: noBylinesPolicy
  * omainIncludes NewsMediaOrganization
  * Range=URL, CreativeWork
  * SubpropertyOf: publishingPrinciples
  * Descr: The reasoning behind not using bylines.
  * "For a [[NewsMediaOrganization]] or other news-relate

[2017-11-28 19:43] danbri opened #1804 "Pattern needed for describing change history of a creative work (TrustProject request, but broader usecase)"
* Can we describe how to use PublicationEvent to give a history of changes/revisions to a creative work?
* Can we show some common practices for indicating via workExample or other properties, how specific versions relate to representations of "the document in general". How does this vary between e.g. books, scholarly articles, versioned releases datasets, news articles?
* For the NewsArticle case

[2017-11-28 20:04] thadguidry commented on #1688
Need more info on that new property timesCorrected.  So a change log ? hmmm...

I need more clarity here... Something to hold an array of events of the backstory itself ?  or is the change log something entirely different than the need to track the backstory ?

backstoryChangeLog:

June 8, 2017 20:11 - Interviewed source informant about prior convictions of being a "Porch Pirate".
June 12, 2017 9:

[2017-11-28 20:45] RichardWallis commented on #540
Just thinking about fictional characters is lifting the corner of a much wider issue.

Many things can be fictional:
- Oliver Twist - fictional person/character
- Camelot - fictional place
- Hogwarts Express - fictional train
- Mount Doom - fictional mountain

I raised this back in 2013 (pre Schema Github issues) - [proposing a FictionalThing Type](https://www.w3.org/wiki/WebSchemas/FictionalThing

[2017-11-28 21:16] thadguidry commented on #540
@RichardWallis +1 Your take is that since many things can be Fictional or anything can be fictional, then we add a new FictionalThing Type to cover ANY Type and not just Character, and use MTEs to make that an easier way to handle that.

Would you also be willing to add **basedOn** property additionally to the FictionalThing proposal as a corollary to its fictionalRepresentationOf property ?  Do y

[2017-11-28 22:07] RichardWallis commented on #540
@thadguidry I would suggest extending the domain of [isBasedOn](http://schema.org/isBasedOn) to include ```FictionalThing``` instead of creating ```basedOn```.   Extending the range to ```Thing``` may be then be also beneficial.

Not so convinced by ```potrayedBy```.   The inverse ```Person->portrayed``` seems more logical to me.

[2017-11-28 22:17] TheTrustProject commented on #1688
@thadguidry The change log is for errors and omissions (articleErrata), as you've described. Excellent examples (although we wouldn't typically see name spelling errors called out as corrections in Europe, I'm told).

[2017-11-28 22:29] subbuvincent commented on #1688
@thadguidry Dan's post multiple different attributes.

'backstory' is completely unrelated to errata. It's meant to allow newsrooms to put in an explanation to how and why a particular story was developed. It goes into @type Article metadata as a "backstory": "<A bunch of paragraphs go here>" or "backstory":"url of article carrying the the backstory to the story or story series, for e.g. an invest

[2017-11-28 22:47] thadguidry commented on #540
@RichardWallis Sure, your choice. Just poking holes and giving use cases which helps everyone here understand implications.

[2017-11-28 22:58] thadguidry commented on #1688
@subbuvincent yeah I understand.... the backstory of an http://schema.org/Article

Yes, the Type of an Errata was noted by me as well.  3 ways to handle that I think...
1. You could use our additionalType for that.  Say if we go with the PublicationEvent ...then just add additionalType to say its an "OMMISION" or whatever.
2. We add an extra property on PublicationEvent and call it something gener

[2017-11-29 03:50] davux commented on #1358
I'm thinking of digital identity such as the one worked on by the Credentials and the Verifiable Claims W3C working groups. With proper ACLs, you might want to share your government document number(s) with certain entities such as a bank for example, as a verifiable claim.

[2017-11-29 09:59] johndann commented on #1743
Hi Dan,

Well, being the implementer and having Thomas help me it was straightforward for us.

I am looking forward to see, hope soon, the changes in the metadata presented in the search engines …

All the acts below have the extension included.

http://legilux.public.lu/search/A/?fulltext=&only_memorials=false&only_acts=false&type_memorial=A&statut=all&only_consolidated=false&annee_min=2017&annee

[2017-11-29 16:40] vholland commented on #540
Do we have a real use case with data we want to explore? Because as @chaals said, there are a lot of traps here.

- Is the London in _Mary Poppins_ the real London or a fictional London?
- Is the Richard Nixon in _Forrest Gump_ the real Nixon?
- What about John Malkovich in _Being John Malkovich_?
- Would Dorothy Vaughan in _Hidden Figures_, the non-fiction book, be a real person, but suddenly fic

[2017-11-29 18:23] barrycarter commented on #540
I'm not sure it qualifies as a "use case" (though it may've been the reason I brought the whole thing up in the first place), but I'm annotating Pearls Before Swine comic strips (https://github.com/barrycarter/bcapps/blob/master/METAWIKI/pbs.txt and other files in that directory).

I'm currently using my own tags, but it would be nice to get some standardization if other people do this with other

[2017-11-30 22:19] subbuvincent commented on #1688
Thanks @thadguidry. I'll look at [PublicationEvent ](http://schema.org/PublicationEvent).

In the meantime (for all), here are some examples of corrections. I will get more.

NYT
Correction: November 29, 2017
An earlier version of this article misstated Steve Tsang’s title. He is director of the China Institute at the School of Oriental and African Studies in London, not head of contemporary Chine

[2017-11-30 22:48] subbuvincent commented on #1688
I reviewed [PublicationEvent](http://schema.org/PublicationEvent). The fundamental assumption that seems to be baked into the schema is that it is for real/physical events or release of titles/albums etc. For e.g. startDate, endDate, doorTime, etc are all time-related properties that allow use in event-like scenarios.

We could add an eventType property to PublicationEvent to allow for set types l

[2017-11-30 23:36] thadguidry commented on #1688
@subbuvincent But why not just use plain jane "UpdateAction" ?  Your thinking that, oh wait, I'm not updating the Article, I'm correcting it ?  To me, its the same thing in this context.  But I guess your saying that a Correction is a kind of Update.

[2017-11-30 23:59] vholland commented on #1688
@thadguidry Looking through the examples and properties on ```UpdateAction```, it looks like the definition is slightly off and it is intended to be about updating a collection or list. I don't think that works here.

[2017-12-01 06:32] HughP commented on #1670
Am I correct to notice that there subjectOf is a superset of http://schema.org/WriteAction? I am just noticing that there appears to be nohttp://schema.org/SpeakAction or http://schema.org/RecordAction for the audio modality corollary to the written modality described in http://schema.org/WriteAction. I'm not sure where to make that remark.

[2017-12-01 06:33] HughP commented on #1688
This thread seems to cover several "issues"... but with regards to the language description issue, wouldn't this be a specific example of hasCompetency?

It seems to me that all the following are competencies or can be various competency levels:
|- speaksLanguage - level+3: - lang codes
|- readsLanguage - level+1: - lang codes
|- writesLanguage - level+1: - lang codes
|- signsLanguage: - lang code

[2017-12-01 22:24] subbuvincent commented on #1688
@thadguidry - Good question. Yes, it does make sense to try to use UpdateAction before even attempting to propose a new Action sub-type.

My worry was that it in the news/journalism use case there might actually be a legitimate use for UpdateAction that is not-Correction. There are stories where real updates, i.e., not corrections, may be made to the page, as the situation develops. A paragraph ma

[2017-12-01 22:47] thadguidry commented on #1688
@subbuvincent I would just use UpdateAction and tell what kind of update it is.  A correction update.  Have you seen how you can say that its a corrective update action ?  You just use "result" the property.

[2017-12-01 22:59] subbuvincent commented on #1688
Do you mean this @thadguidry ?
[code]
1. Won't we still need a new property like 'correction' or 'updateAction' at the CreativeWork level to take the @type-UpdateAction value? Right now potentialAction is available as property from Thing, but that doesn't quite match this use case.

Let us know if this is what you have in mind. @danbri @chaals @vholland what do you folks think?

[2017-12-02 18:45] nichtich commented on #280
I've just implemented pruning the extracted hierarchy in version 0.6.3 of wikidata-taxonomy:

    wdtaxonomy -m P1709 Q732577 --prune mappings

This also comes with an (by now undocumented) tool to extract all mappings with a given URI namespace:

    wdmappings http://schema.org/

The output of the latter is [BEACON link dump format](http://gbv.github.io/beaconspec/beacon.html) but you can also g

[2017-12-02 23:00] RubyMoonProductionCo commented on #1670
I personally think the domain should be Http:/19/GIG-thing.org

[2017-12-02 23:02] RubyMoonProductionCo commented on #1670
please and thank you  :)  if possible or at least let me contribute since I have very personal intimate connection to the Iot device.

[2017-12-05 02:57] thadguidry commented on #1688
@subbuvincent I don't want to answer quite yet because I think what is needed is a bit more research into what's out there already.  So, I did a bit more of that research. :)  I think we should abstract something even higher level than Correction.  Here's why.

In reviewing a number of Corrections, Updates, Addendum's online against a NewsArticle or ReportageNewsArticle, I think my conclusion is t

[2017-12-05 13:49] jvandriel opened #1806 "cleanup schema.org/HowTo examples"
As there are some issues with the current ```HowTo``` examples I spend some time fixing the example on schema.org/HowTo as well as translating the microdata example to both RDfa and JSON-LD.

Fixed issues:
- wrong nesting of html elements
- changed ```<img href=``` to ```<img src=```
- RDF example was missing
- JSON-LD example was missing

Could somebody please be so kind to add these?
(as I still

[2017-12-06 11:36] arthurlauck commented on #1770
I'm having the same doubt, search google, is throwing me this error. Not sure if i need to hide the prop when is zero or is just a misunderstanding.

[2017-12-08 17:02] RichardWallis commented on #894
I have now updated the PR (#1776) to reflect the proposal of making CategoryCode a subtype of TermDefinition - looks good to me.

This is still all in pending - as expressed by others, it would be good to get this in the core.

[2017-12-09 01:39] frxncisjoseph commented on #1770
AFAIK, Google doesn't penalize for now...

[2017-12-09 01:40] frxncisjoseph commented on #1770
@arthurlauck Ideally, you'd hide it on page render rather than dynamically using JavaScript.

[2017-12-09 01:45] frxncisjoseph commented on #1770
@jameswadsworth It's not implying that the value isn't a valid integer but that it's not a positive one (1 or above).

[2017-12-11 17:36] thadguidry opened #1807 "We should add the PerformanceRole example to our actor property"
https://github.com/schemaorg/schemaorg/blob/9e09f4150ca7667c9ab40d82b71c8b0c503c5055/data/examples.txt#L1825

Our actor property has no examples. :(  But there is a great example on PerformanceRole !  We should copy the example from the PerformanceRole to the actor property, to better illustrate a nice use case.

[2017-12-11 17:44] thadguidry opened #1808 "actor property should also accept a PerformanceRole in addition to Person"
We have a great example on [PerformanceRole](http://schema.org/PerformanceRole) of the actor property accepting a PerformanceRole type.  But currently on many types utilizing the actor property it only shows Person as an expected type, and not additionally the PerformanceRole type.  Let's fix that.

[2017-12-11 18:01] thadguidry opened #1809 "New creditedAs property added to Role"
Often in databases, a 'credit as' or 'named as' is found.
It useful when crediting authors who use various pseudonyms, etc.
Wikidata has also mentioned this with property used for this purpose.
https://www.wikidata.org/wiki/Property:P1810
The short discussion of which is here: https://www.wikidata.org/wiki/Wikidata:Property_proposal/Archive/30#P1810

I am open to other ideas on how to generalize t

[2017-12-11 18:39] sdml commented on #1253
I agree,
loanPaymentFrequency should have Duration and Text in Range. In [RepaymentSpecification](http://pending.schema.org/RepaymentSpecification) example it is used as a text property.

Sorry for (a very) late reaction to the posts here.

[2017-12-11 19:28] thadguidry commented on #1504
There's a lot to say about any particular Award, like when it was first awarded, if its a physical award, who designed it, what materials it is made of, the presentation ceremony it is attributed with (Noble Prize ceremony), etc.

So, I think we should make the award property take a new "Award" type so that we can have more fun with Awards themselves, physical or manifest.
For instance, the [Stanl

[2017-12-11 20:00] vholland commented on #1504
There was a brief discussion of this in issue #668 . Awards get complicated fast, so it would be worth creating some use cases and going from there.

[2017-12-11 22:41] Aaranged commented on #1504
FWIW I also did some modelling around a Prize type [here](https://docs.google.com/document/d/1QMKM-8eZk7Jme6RvEeAV-vLtBWpg1Uly-0uiwmaVAlc/edit#heading=h.m71c4xdlvfuq).  Awards do indeed get complicated fast. :)

[2017-12-12 09:34] rajbiswal commented on #1423
Its a good idea to make APIs discoverable and adding the WebAPI to Schemas.org
We are looking for something like this for searching APIs based on context of an use-case or domain. At the moment there are multiple repositories of APIs but there is no standard to guide the structure for describing the APIs. Many don't even provide APIs to search the repository.

[2017-12-12 13:43] arthurlauck commented on #1770
@frxncisjoseph I still think the field review count should accept zero value, I hope one day this is fixed. I didn't hide, just ignored it the error.

[2017-12-12 17:15] frxncisjoseph commented on #1770
@arthurlauck Agreed, but it doesn't seem like anyone wants to address this yet. We shouldn't have to rely on hiding it through page render statically...

[2017-12-13 12:16] chaals commented on #1770
0 is an integer. This is an issue for Google's tools, not schema.org...

[2017-12-13 12:16] #1770 closed

[2017-12-14 18:07] magico commented on #1253
Agreed.

[2017-12-14 22:52] pet-ro commented on #248
The LRMI  brought  the property "typicalAgeRange" to the schema:CreativeWork.

The LRMI has its root in IEEE LOM (Learning Object Metadata).
Even there one can read:
"The  typical target audience" can be characterized by data elements
5.6:Educational.Context and
5.7:Educational.TypicalAgeRange"

I like the idea to add the property suggestedMaxAge and suggestedMinAge to a
schema:Audience class. Add

[2017-12-14 23:08] subbuvincent commented on #1688
Hi @thadguidry, your proposal on Addendum as well its potential overlap to other type of CreativeWork like Legislation is interesting. It's good the Legislation is sub-type of CreativeWork.

Legislations also have 'Amendments', so perhaps [Legislation](http://pending.schema.org/Legislation) could cover for this. Often a piece of legislation being passed is amending an earlier legislation. (It does

[2017-12-15 03:12] thadguidry commented on #1688
@subbuvincent Different semantics for different use cases there.

Let's see if we can generalize this even more so that it can be reused as much as possible across all domains that utilize "Documents" or "Information and Data Processing", like Law, News, IoT, everybody! :)   So things you do sometimes with Documents or Data are, Save and Create, **Modify or Update**, Delete, etc.

New suggested ty

[2017-12-15 12:33] RichardWallis opened #1810 "Introduction of TouristDestination, TouristTrip and Trip Types"
Building on the work of enhancing the capabilities of the [TouristAttraction](http://schema.org/TouristAttraction) Type, the [Tourism Structured Web Data Community Group](https://www.w3.org/community/tourismdata/) propose two new Types _TouristDestination_ and _TouristTrip_.

These proposals reflect the real needs of organisations such as city authorities, tourist boards, travel agents, etc. promo

[2017-12-15 15:36] thadguidry commented on #1810
@RichardWallis just so I am clear... so TouristTrip is basically an alias for "Tour" ?  There's probably colloquialism in my chosen alias and what I am used to from an American perspective.  "I took a bunch of tours while I was in China" versus "I took a bunch of tourist trips while I was in China"

[2017-12-15 15:46] vholland commented on #1810
+1 to a generic **Trip** type and making the existing trip-related types subtypes.

Why make **TouristTrip** a subtype of **CreativeWork**? Are there semantics of **CreativeWork** you are trying to leverage? The other trip types are under **Intangible**. It would be good to have some consistency.

[2017-12-15 15:57] vholland commented on #1688
@thadguidry why model these as Actions? There is no URL to execute the action and updating a CreativeWork is very different than updating a collection (as described in http://schema.org/UpdateAction).

[2017-12-15 16:28] thadguidry commented on #1688
@vholland They don't have to be Actions... i mentioned at the bottom that I am not sure how it would fit and align with any UpdateAction...up to @TheTrustProject on what they are actually trying to do I would imagine.  I am just bring up the point that CRUD operations do play into information processing, and Hypermedia controls use them like Hydra and others.

[2017-12-15 16:28] RichardWallis commented on #1810
@thadguidry yes Tour is another name for trip.  For reference the UN World Tourism Organization consider both Tourist Destination and Tourist Trip as 1st class citizens in their vocabulary.

@vholland **TouristTrip** is defined as a subtype of **CreativeWork** to leverage properties such as **offers**, to model entities offering a trip; **hasPart** to model trips containing trips (day1, day2, etc)

[2017-12-15 19:36] rvguha commented on #1810
No, we really can't make TouristTrip a subclass of CreativeWork ... that
would be way way too much of a hack.

Lets add more domain/ranges to the relevant properties.

On Fri, Dec 15, 2017 at 8:29 AM, Richard Wallis <notifications@github.com>
wrote:

[2017-12-18 18:01] danbri commented on #1688
Reviewing this, three shallow thoughts.

 * we've tried to cover too many topics in one Github issue; my bad.
 * Action-based modeling (and Event-based) is seductive, but I'm not convinced it is needed here.
 * Perhaps lightweight use of a Comment type (as a kind of inline mini-document) might  help capture some of the structure needed for the news corrections usecase.

A fuller account of version

[2017-12-18 19:07] vholland commented on #1810
+1 to adding the relevant properties to Trip rather than adding it as a subclass of CreativeWork.

[2017-12-18 20:04] danbri commented on #1688
Here is a very minimalistic proposal for the most recent thing we've discussed here, which is the corrections/errata discussion. I'd like to stick an implementation of it into pending and continue the larger discussion on versions/history in a dedicated issue. It doesn't adopt the various suggestions above, but leaves room for them to be explored at more leisure and with a wider community.

* Add

[2017-12-18 20:41] thadguidry commented on #1688
@danbri I don't see how you can get a "comment packs".  or repeat it for each "what" ? each correction ? each document version ?

[2017-12-18 20:56] danbri commented on #1688
@thadguidry what I was trying to say was that the granularity will be beyond our control. They might write: "* corrects John Smith to John Smyth, and Jane P. Doe to Jane Doe", or they might write that out as two different comments. It would be possible to create a pattern that grouped these by document versions, using properties of the Comment e.g. schema.org/about, but that would be an extra laye

[2017-12-18 21:03] thadguidry commented on #1688
@danbri ah ok, gotcha.

[2017-12-18 23:34] chaals commented on #1688
I am not sure that we should say that. Many many corrections, including in journalism but also in areas like specifications, are also published on their own.

[2017-12-19 01:08] subbuvincent commented on #1688
Responding to Dan's correctionComment proposal, here is a strawman markup example. The mainEntityOfPage declaration is just my addition. As long as the correctionComment is done for @type CreativeWork, and since mainEntityofPage is required for @type NewsArticles, there will perhaps be no additional need to say which 'article' this correction is for. So we could remove it.

That apart - @danbri @t

[2017-12-19 05:23] cphelps987 commented on #1307
For Google to make it not an error i use ::

`<span itemprop="priceRange" content="$$">Price ranged $$</span>`

Will Also work ::

`<span itemprop="priceRange" content="0-100">Price ranged 0-100</span>`

[2017-12-19 14:31] sascha-hendel commented on #1555
Any news on that?

[2017-12-19 14:34] sascha-hendel commented on #1555
Any news on that?
Property "affiliation" is another candidate, which should be expanded to allow persons!

[2017-12-19 17:17] subbuvincent commented on #1688
On quick addition to that example and a question for @danbri @thadguidry  @chaals @vholland others:

When a publisher issues a correction in the form of a new article altogether, can we mark that up in the correctionComment?

Should we use the url property to point to the new article or mainEntityofPage? From the meanings of these terms, it seems like "url" could be used for a new article when one

[2017-12-20 13:31] prabanjan opened #1811 "structured data by adding HTML markup for magento"
Hi,
      This is Prabanjan from Viari, we need  Magento developer guide  schema.org to  make structured data by adding HTML markup and good snippet view in google search. we need step by step guide to configure our site, so please share the documentation kit for us.

Website Address : https://www.viari.in

eCommerce Platform   : Magento Community Edition 1.9.2.4

[2017-12-20 16:14] vholland commented on #1688
It may be better to have a separate property for linking to a new article.

[2017-12-20 16:55] gherlt commented on #1369
I am creating a catalogue raisonne platform and in art ownership information (current and historical) is vital.
It is right that inverse properties are not needed, as they can be checked "the other way around", but problem is that "owns" applies only to Products.
I think the target of "owns" should go down do "Thing", as most "things" have kind of ownership

[2017-12-21 02:41] millercl commented on #1719
[`Thing.image`](http://schema.org/image) is an image of the thing, like a screenshot of `div.tweet`, therefore not the second example.  [`articleBody`](http://schema.org/articleBody) for the `p.tweet-text` `innerText` while [`SocialMediaPosting.sharedContent`](http://schema.org/sharedContent) is the [`ImageObject`](http://schema.org/ImageObject), and therefore the first example. `sharedContent` co

[2017-12-21 16:43] danbri commented on #1688
a correction: https://twitter.com/TheCanarySays/status/943497389448495104

[2017-12-22 12:18] jvandriel commented on #1797
The answer to the question: > _"How to avoid repeating values that are the same for the differently sized products?"_ on [StackExchange](https://webmasters.stackexchange.com/questions/85877/schema-org-product-same-product-different-sizes-and-prices#answer-85878) illustrates perfectly one of the issues I hope to resolve with this proposal - it would eliminate the need for repeating the same propert

[2017-12-22 15:11] danbri commented on #1688
Another: https://www.media.mit.edu/posts/iota-response/

[2017-12-22 16:17] subbuvincent commented on #1688
Thanks @danbri for the examples.

So should we go with "url" for marking up a new correction article, if one exists?  I did a second sweep of the property universe to see if something else matches up.

I think "sameAs" could be used to markup the new correction article URL too.

Here's a run of this using the MIT Tech Review example @danbri sent.

[code]

[2017-12-25 13:12] danbri commented on #1688
Nearby: scientific / scholary article retractions, corrections, and related discussion e.g. http://retractionwatch.com/2017/12/07/author-controversial-science-fish-microplastics-paper-committed-intentional-misconduct-says-uppsala/

[2017-12-25 16:25] danbri commented on #1688
more, http://amp.poynter.org/news/not-fake-news-just-plain-wrong-top-media-corrections-2017

[2017-12-26 10:29] nooralahzadeh opened #1812 "isSimilar in Offer"
Hi
I am wondering why there is no isSimilar property in Offer and it is used just in Product and Service.
I can be offer of product than has similar offer/s
Thanks!

[2017-12-26 11:28] rstar333501 commented on #1589
Please take a look on these websites
http://www.sscguide.in/
http://www.cbsetyari.com/

[2017-12-26 19:24] RobRoseKnows commented on #243
Should the [NAICS](http://pending.schema.org/naics) attribute reflect the industry that the union represents or the NAICS of unions (813930)?

[2017-12-26 19:27] chaals commented on #1589
I'm not really happy about this.

First, anyone can put `CriticReview`s in their content to prove they are recognised as reviewers, which seems backward.

Second, "everyone's a critic". If you want to note that the author is a widely read and respected critic of e.g. Afghan bread shops, that sounds like something you should describe about the author (and there's a vector for fake news...), or in r

[2017-12-30 15:51] bbottema commented on #472
Another `Person` or `Organization` as `.contactPoint` sounds reasonable, right? I find `ContactPoint` rather restricting anyway, considering it only supports phone and email. Why can't it be a Forum, issue tracker or chat room?

[2017-12-30 16:44] neophron opened #1813 "New property: Catering"
Hi,

since a few weeks I'm reading all informations about rich snippets, structured data and schema.org
A client of mine – a food catering/caterer company – want's better SERP for their website. One of the changes I'm planing, is to add some structured data on some pages. What I can't find, is in which category a food-catering company would fit in.
I mean something like: itemscope itemtype="http:/

[2017-12-30 22:30] RichardWallis commented on #1810
Following comments we have adjusted our proposal for **TouristTrip** as follows:
(_Note: Links in this description are to a development version of schema.org located at [sdo-tourism.appspot.com](sdo-tourism.appspot.com) to help visualise our proposal and to check out the examples included there._)
* As per our suggestion we have created a new type [**Trip**](http://sdo-tourism.appspot.com/Trip) (s

[2017-12-31 16:14] thadguidry commented on #1810
@RichardWallis This looks much better!

I feel however that we could also later on put some work in later to help with visualization efforts as well for the Tourism domain.  Our current Map is rather plain jane.  It would be neat to also somehow layer Trip with our Map.  Sites are currently doing this all the time and all of us rely on seeing our Trips and Itineraries on Maps (we'd be lost sometim

[2017-12-31 20:40] RichardWallis commented on #1810
@thadguidry I agree about future potential . - let's get this in first ;-)

As **TouristAttraction** & **TouristDestination** are subtypes of **Place** there is already some potential for interesting integration with maps. Equally with **itinerary** on **Trip**, especially with an ordered **ItemList** of destination Places, could already supply the underlying data to drive a use case such as you d

[2018-01-03 15:50] monty241 commented on #1423
Would help us when support would be included for data models such as https://documentation.invantive.com/2017R2/exact-online-data-model/webhelp/index.html?invantive-eol-provider-exactonlinerest-codevalues-manufacturedbillofmaterialstatuses.htm

[2018-01-04 16:06] Download commented on #1699
And in addition, the very next line continues with an example that breaks this very rule:
[code]
Also, the page does explain how to list multiple days (separate with a comma), but does not mention what to de when there are multiple time ranges. E.g. what to do is a store is open from 09:00-12:00 and then again from 14:00-18:00 ?

[2018-01-04 16:24] thadguidry commented on #1699
Agreed, the definition shouldn't say "time" but instead say "format".  "Times are specified using 24:00 format".   From ISO8601 this statement is more useful than our current statement, it basically says "hh   = two digits of hour (00 through 23) (am/pm NOT allowed)".

So yeah, +1 to improving the definition to make it more clear to developers.

[2018-01-05 15:25] danbri commented on #1244
Let's do this! I'd like GS1 to take the lead in defining a general property http://schema.org/gtin

* ideally as a superproperty of the existing gtin-properties (gtin8 etc).
* suggest update to /isbn too if appropriate.
* with appropriate text explaining the padding/variant issues

/cc @philarcher @mgh128

[2018-01-05 16:02] danbri commented on #1244
On the issue discussed previously, can we work up some examples addressing the concerns @mfhepp enumerated? Even if they are corner cases or poor practice it would be good to have them covered clearly in documentation.

Q: Is it important to be able to figure out, for any given GTIN, whether it is a gtin12,13,14 or 8?

[2018-01-05 16:10] mgh128 commented on #1244
In the GS1 web vocabulary at https://gs1.org/voc we already define a single property https://gs1.org/voc/gtin that expects the 14-digit representation of a GTIN.

According to https://www.gs1.org/docs/idkeys/GS1_GTIN_Executive_Summary.pdf  the GTIN-8, GTIN-12 and GTIN-13 can all be represented in a consistent 14-digit format by left-padding with the appropriate number of '0' digits, i.e. by six, t

[2018-01-05 16:21] philarcher commented on #1244
Would it be possible (and correct) to define the schema's 4 gtin properties as sub properties of gs1:gtin (or, more likely, a new schema:gtin property). And, while we're at it, can we say that schema:isbn is also a sub property of gtin? I hoping we can be @mgh128 is the authority on this.

[2018-01-05 16:27] ekgs1 commented on #1244
I would not make at schema:isbn is a sub property of gtin.  It is a different identification system.

[2018-01-05 16:30] mgh128 commented on #1244
@danbri

The reason for the existence of gtin12 and gtin13 is largely historic in origin.
GS1 was created by the merger of the Uniform Code Council (UCC) and EAN International around 2005.  ( see http://40.gs1.org/historic-timeline.php )

UCC oversaw the issue of Universal Product Code (UPC / UPC-A), which was the 12-digit product barcode used in North America.  The UPC-A / UPC is now known as the

[2018-01-05 16:32] RichardWallis commented on #1244
Yes leave **isbn** as it is.  In theory[ ISBN13 is compatible as a gtin13,](http://xchange.gs1.org/sites/faq/Pages/what-is-isbn.aspx) however there are transformations required for ISBN10.  Many bibliographic descriptions include both ISBN13 and ISBN10 in the **isbn** property.  Making it a sub-property of gtin would make this not possible.

[2018-01-05 16:37] mgh128 commented on #1244
I agree with @ekgs1 that ISBN is a separate identification system.  Having said that, GS1 prefixes 978 and 979 are allocated to International ISBN Agency for books, with a portion of 979 sub-allocated to International ISMN Agency for music.  In this way, an ISBN number can be encoded within an EAN-13, UPC-A or UPC-E barcode.  See section 2.1.2.1.5 of the GS1 General Specifications.

[2018-01-05 16:41] philarcher commented on #1244
OK, forget I mentioned ISBNs, sorry. Can we (GS1) offer a solid definition of a gtin super property for schema.org? One that explains the 8, 12, 13 and 14 digit variants in a concise way that's suitable for the schema.org community?

[2018-01-05 23:01] thadguidry opened #1814 "Add new "guest of honor" property and others to Event"
While doing research on Wikidata, I found a few Wikidata properties related to Events in here:
https://www.wikidata.org/w/index.php?title=Special:WhatLinksHere/Q22964785

- ["guest of honor"](https://www.wikidata.org/wiki/Property:P967) - guest(s) of honor invited to an event, e.g. a convention

- ["number of participants (attendees?)"](https://www.wikidata.org/wiki/Property:P1132) - number of par

[2018-01-08 14:52] dougblackjr commented on #373
Has there been any movement on this?

[2018-01-08 16:30] vholland commented on #1810
+1. I think this is a good start and we can add to the schema as use cases present themselves.

[2018-01-08 21:12] subbuvincent commented on #1688
Hi @danbri, the Poynter link is an excellent input to our discussion. Btw, the amp.poynter link opens on a blank screen on my Safari, but this link below for the same URL.
https://www.poynter.org/news/not-fake-news-just-plain-wrong-top-media-corrections-2017

[2018-01-08 21:14] subbuvincent commented on #1688
Everyone - could you take a look at my last correctionComment example and let me know if you are OK with that nuance on the use of "sameAs" and "url"? Would you propose something else?
....

[2018-01-10 03:12] benlk commented on #494
Making a note of the relevant wiki page: https://github.com/schemaorg/schemaorg/wiki/AppEngine

[2018-01-10 11:46] gregmatys opened #1816 "Theatre Play"
There is no _**Theater Play**_ in _CreativeWork_ section.
I found _Theater Event_ but it's only a singular event, not a whole "piece of art".

[2018-01-10 14:53] RichardWallis commented on #1816
I am a little unclear by what you mean by _a whole "piece of art"_.

I _think_ you are describing a theatrical event that consists of either a Play consisting of more than one part (such as [Harry Potter and the Cursed Child Parts One & Two](https://www.harrypottertheplay.com/) ) or; a series/season of plays  that are connected in some way such as by an author, theme (such as [The Oscar Wilde seas

[2018-01-10 15:13] gregmatys commented on #1816
I mean I have website of theater. There is a list of plays.
Each theater play has an author, its story, cast, etc…
A play is not an "event". It's considered as piece of art in my opinion, like a book.

On this website each play has it's calendar, where I certainly can use _TheaterEvent_ which has its particular date. Am I wrong?

[2018-01-10 15:55] RichardWallis commented on #1816
OK I understand now...

So following the current patterns within Schema.org...

The Website would be effectively the definition of the **Organization** (Theatre Company) that would be putting on various **TheaterEvent**s (performances) each event would have properties for _startDate_, _location_, etc., plus the [workPerformed](http://schema.org/workPerformed) would be the **CreativeWork** (Play) c

[2018-01-11 16:34] ekgs1 commented on #1244
@danbri

Here is a suggested definition for  http://schema.org/gtin.

"The Global Trade Item Number (GTIN) is used by companies to uniquely identify its trade items. Trade items are products or services that are priced, ordered or invoiced at any point in the supply chain.  The GTIN can be used to identify types of products at any packaging level (e.g., consumer unit, inner pack, case, pallet).  T

[2018-01-12 14:45] thadguidry commented on #1688
@subbuvincent well, your "sameAs" is pointing to a full article with multiple "comments" to correct statements in the original article.  So, we're saying this TYPE "Comment" is the same as this TYPE "Article".  Instead of saying this TYPE "Comment" is found in this TYPE "Article".  I think I agree with @danbri and @vholland that a new property created for this scenario will help clean things up an

[2018-01-13 03:03] WeaverStever opened #1817 "Updated JSON-LD example for location"
Topic: http://schema.org/location

Example 1 is way out of spec with Google SDTT.
This also appear to be very similar to Example 9 on http://schema.org/Event

This one works.
BTW: the instructions for http://schema.org/validFrom are cryptic, I assume that it means the day/time the item becomes available for sale. No?

[code]

[2018-01-14 16:25] chharvey commented on #1696
http://schema.org/isPartOf

[2018-01-14 16:31] thadguidry commented on #829
@danbri @mfhepp so... since this is particular issue has some work merged, does the discussion on this issue then flow further into possibly us adding a concrete creditCardFees property on PriceSpecification #908 ?  Its a common thing and the upcoming W3C Payment Request API work has this at a different level at the Details (line items in an order) which is equivalent to PriceSpecification with Co

[2018-01-14 16:32] thadguidry commented on #908
Adding the **Credit Card Processing Fees** use case from W3C Payment Request spec https://w3c.github.io/payment-request/#conditional-modifications-to-payment-request

Fees or any Composite Price #829 (a final price made of multiple prices like http://schema.org/valueAddedTaxIncluded )

[2018-01-14 16:34] thadguidry commented on #908
#829 has some work merged for Composite pricing that handles this use case but more abstractly however that is a bit more difficult for Payment Method providers.

[2018-01-14 16:58] thadguidry commented on #1742
Like this conversation so far... DiscountCode was also mentioned during W3C Web Payments meeting https://docs.google.com/document/d/14T4C_ToW2XSCaKeGIG3fGMcm5OTnM0Ra8cBzbht7xx0

BUT they handled Discount as a separate line item within an order, rather than directly attaching to an Offer itself.  Which I tend to prefer.  So for us it would look something like this...

http://tinyurl.com/y9dvpc76

[

[2018-01-14 18:32] chharvey opened #1818 "proposal: type for describing Tasks"
I would like to see a type on Schema.org for describing a Task (, Issue, or WorkOrder). This could be used to mark up a GitHub issue, Asana task, or an item on a to-do list for example. Below, in JSON-LD format, are my ideas for property names and values.

[code]

Here’s example markup of issue #987 :

[code]

[2018-01-15 00:23] rvguha commented on #1818
This is a great idea. We should do it.

guha

On Sun, Jan 14, 2018 at 10:32 AM, Chris Harvey <notifications@github.com>
wrote:

[2018-01-15 01:53] giomorassutti opened #1819 "merging wikipidia , images , profiles links on Google Knowledge graph"
![mv5bmdk5ymfhn2itmjrlny00otm1lwjhmzytotc0ztzknjc2othkxkeyxkfqcgdeqxvyodm0mju0nzq _v1_uy317_cr21 0 214 317_al_](https://user-images.githubusercontent.com/35438397/34923801-66202cd4-f99f-11e7-8a92-55fe17c28178.jpg)

![12524416_10153534315196551_7941263030093909495_n](https://user-images.githubusercontent.com/35438397/34923829-9006d282-f99f-11e7-8af3-2bf23036d15c.jpg)

https://upload.wikimedia.org/w

[2018-01-15 10:29] RichardWallis commented on #829
@thadguidry I have not been involved in FIBO discussions recently, but I don't think CreditCards using Schema.org are a current focus for them.

Looking at the current [CreditCard](http://schema.org/CreditCard) spec, the [feesAndCommissionsSpecification](http://schema.org/feesAndCommissionsSpecification) property inherited from FinancialProduct comes close to what is being looked for here.

Not su

[2018-01-15 10:59] danbri commented on #1819
This is not a Google product support forum, sorry we can't help you here.

[2018-01-15 10:59] #1819 closed

[2018-01-17 17:18] subbuvincent commented on #1688
Alright, nothing like actual markup examples to flesh out the nuances. I prefer a new property too, especially if using current one forces unnecessary conflation in meanings.

Here's a workup addressing your points.  (@thadguidry @vholland @danbri)

1 **Original article**: https://www.technologyreview.com/s/609771/a-cryptocurrency-without-a-blockchain-has-been-built-to-outperform-bitcoin/
2 **Corr

[2018-01-18 03:28] chharvey opened #1821 "add more Person examples using Role"
The description of [`Person#hasOccupation`](http://pending.schema.org/hasOccupation) is:

Can some examples be added to [Person](http://schema.org/Person) that would help explain this use? In the [blog post](http://blog.schema.org/2014/06/introducing-role.html), the only examples they give describe marking up a Person inside an Organization or CreativeWork, but not the other way around.

In other

[2018-01-18 18:01] BigBlueHat opened #1822 "Serve `.rdfa` files as `text/html`"
Currently, http://schema.org/version/3.3/schema.rdfa (and it's kin) are all served as `Content-Type: application/octet-stream` because there's no mapping in the App Engine server to serve them as `Content-Type: text/html`

I'm not familiar enough with App Engine's `app.yaml` to suggest a change there, and didn't find any clear (enough) example in https://cloud.google.com/appengine/docs/standard/py

[2018-01-19 16:08] vholland commented on #1688
Looks good to me.

[2018-01-19 20:21] 9662 opened #1823 "SellAction.buyer: Why only Person?"
SellAction is currently described as:

Property | Expected Type | Description
-----------|---------------------|---------------
buyer | Person | A sub property of participant. The participant/person/organization that bought the object.

According to the description, `Organization` should also be an expected type for this property, no?

[2018-01-19 21:22] danbri commented on #1688
Ok so is the proposal to have new properties, correctionComment and correctedWork ? what would their definitions be?

[2018-01-20 05:42] inetbiz opened #1824 "BUG: Grammar error on Corporation -> tickersymbol"
The description for ticker symbol on http://schema.org/Corporation has spelling error I think?

**recommend** & **vocabulary**

[2018-01-20 14:09] inetbiz opened #1825 "LibrarySystem vs Library"
You have a pending type of https://pending.schema.org/LibrarySystem and http://schema.org/Library Will `Library` be removed when the `LibrarySystem` is finalized? Or, would a Government who has several libraries envelope them all into `LibrarySystem` ?

[2018-01-20 14:36] RichardWallis commented on #1825
No.
If you check out the thread referenced at the end of the description you will see that an individual Library can be part of one or more LibrarySystems.

[2018-01-20 14:36] #1825 closed

[2018-01-20 15:04] inetbiz opened #1826 "ExerciseGym vs HealthClub"
I believe http://schema.org/ExerciseGym and http://schema.org/HealthClub are one in the same? What is the difference between these two local business models?

[2018-01-20 17:01] inetbiz opened #1827 "MedicalBusiness specific types problem"
http://health-lifesci.schema.org/MedicalBusiness lists http://health-lifesci.schema.org/Nursing as a more specific type. But, Nursing is not linked as a local business or location type.

[2018-01-20 20:37] anschluss80 commented on #1389
Summary: I guess, WCAG guidelines and this 'speakable' proposal have different use cases and target audiences.

WCAG is about making the whole (main) content of a webpage accessible. The use case here is to serve the whole content to anyone, who _deliberately_ visits a specific website.

Voice assistants, on the other hand, should keep their answer to a specific question brief - a short summary of

[2018-01-21 00:48] jvandriel commented on #1389
OK, I see sense the point in that WCAG's use case is different than that of this proposal. But for use cases like a 'title', there's the _name_ property that could be used by speaking devices (or _headline_ for creative works). And as for summaries, can't _description_ be used for that? (which in most cases are less than 300 characters)

What about 'speakable' parts of an Article, do we expect pub

[2018-01-21 06:29] akuckartz commented on #1389
Can HTML annotations be used?
https://www.w3.org/TR/annotation-html/

[2018-01-22 16:30] BillAdairDuke opened #1828 "ClaimReview needs field for URL of claims / integration of new Claim type"
After discussing the use of ClaimReview with fact-checkers, there is confusion among the fact-checkers about how to populate the field for SameAs field. Some fact-checkers have been using for the URL of speeches or articles where the claim appeared to provide evidence and details of the claim; others have been using it for the home page/knowledge base article on the person or entity that made the

[2018-01-23 01:16] danbri commented on #1828
Thanks @BillAdairDuke, good to get this discussion moving.  I agree there's an issue here and it is important to find a pragmatic solution.

One quick clarification about sameAs, ... it has potentially several roles in that it can be used on each typed entity, whether we're talking about the (Claim)Review, the Person, or a CreativeWork like NewsArticle.  Conceivably there could be several sameAs p

[2018-01-23 11:42] BillAdairDuke commented on #1828
Thanks for the feedback, Dan. Answers below, with a request for clarification.

_Regarding "claimUrlOriginal", does this always indicate the URL of the itemReviewed? If so we could potentially make it an "url" property of that entity._

Yes, “claimURLOriginal” would always indicate the URL of the statement that is reviewed. In some cases that would be the URL of a text or speech. It could also be

[2018-01-23 14:27] jkosslyn commented on #1828
Dan -- basically, we're trying to make a distinction between the entity responsible for a claim and places where the claim has appeared. Currently we have the former but not the latter.

[2018-01-23 14:47] hubitor opened #1829 "JobPosting: Missing properties & issues"
I miss the following properties in the JobPosting and in related items:
1. possible application options e.g. via email, post, LinkedIn etc.
2. URL for the online application form, where candidates can enter their data
3. contact Person(s) for further information regarding the job posting e.g. the recruiter and his ID and the line manager (something like contact point for persons)
4. something like

[2018-01-23 19:08] subbuvincent commented on #1688
Hi Everyone:

Sally (@TheTrustProject) and I were talking about the definitions and this got us onto a potential concern about the meaning of the term 'Corrected Work'. For journalism use cases, corrected-work will typically mean the article-that-got-corrected by the original publisher. I.e. the article that had the error is now updated with the correction.

We felt the tech-review and MIT example

[2018-01-23 19:49] MikeRalphson commented on #1423
Is there a document which describes the process by which a type leaves pending?

[2018-01-23 23:28] cong-yu commented on #1828
Hi All,

Here is my take on this.

- A claim can be a tweet, a person's quote in a rally, an article, etc.
- Each claim can be repeated in many places and may also have an origin, where the claim originally appeared.
- The fact checker examines an instance (or spreader or cheerleader) of the claim, which is modeled inside itemReviewed. Note that the instance being examined is often not the origina

[2018-01-24 00:07] danbri commented on #1828
Thanks, that all helps me understand where you're coming from.

By indirectly, what I mean is that we have made the *review* of the claim the focus, and there is no type in schema.org that actually represents the claim itself. We have types for the factcheck reviews, the people, documents, etc but we haven't yet introduced an item (that can have relationships to and from other items) representing

[2018-01-24 02:22] cong-yu commented on #1828
Sounds good, Dan, let's wait till end of next week in case someone comes up with a good idea.

Agreed, ClaimReview is review focused. I am a bit hesitant though to create a Claim type since it might be very confusing to people with itemReviewed also representing (an instance of) the claim. I think the rationale for keeping claimReviewed, claimUrl, claimUrlOriginal under ClaimReview directly is tha

[2018-01-24 06:02] danbri commented on #1828
That makes sense, @cong-yu

@rvguha @vholland - any thoughts?

[2018-01-24 15:56] chharvey opened #1830 "typo: misspelt "precede""
https://github.com/schemaorg/schemaorg/blob/9e09f4150ca7667c9ab40d82b71c8b0c503c5055/data/schema.rdfa#L5145

Line 5145 should read: (emphasis mine)

https://github.com/schemaorg/schemaorg/blob/9e09f4150ca7667c9ab40d82b71c8b0c503c5055/data/schema.rdfa#L8856

Line 8856 should read: (emphasis mine)

[2018-01-24 15:57] chharvey commented on #1830
I apologize in advance if submitting issues like this is too nitpicky. Just let me know :)

[2018-01-24 16:48] danbri commented on #1830
Thanks! Totally not too nitpicky, but we also have an issue here somewhere with new text from GS1 about gtins. I'm on my phone now and didn't find it but wanted to note this so we make sure not to reintroduce the typo.

/@philarcher

[2018-01-24 16:56] philarcher commented on #1830
Indeed, not too nit picky at all. Pedants welcome (or I'm in big trouble).

[2018-01-24 17:46] vholland commented on #1828
We are adding more and more properties about the claim, including the URLs. It would be better to create a proper class for Claims and put the properties on the class rather than shoehorning into ClaimReview.

[2018-01-24 17:50] ekgs1 commented on #1830
@danbri

Hi Dan, I had suggested a definition in the tread on GTINs.  Here is what GS1 is suggesting:

 "The Global Trade Item Number (GTIN) is used by companies to uniquely identify all of its trade items. Trade items are products or services that are priced, ordered or invoiced at any point in the supply chain.  The GTIN can be used to identify types of products at any packaging level (e.g., con

[2018-01-24 18:00] danbri commented on #1830
Thanks @ekgs1 - it looks like you've used the phrase "leading zeroes", whereas previously we used "preceding", spelled wrongly as "preceeding".

https://github.com/schemaorg/schemaorg/issues/1244#issuecomment-356984166

Let's leave this issue open until we're sure all the preceedings are gone :)

[2018-01-24 18:30] rvguha commented on #1828
I agree with Vicki. Claim should be a first class object. It does add one
level of indirection, but that could be super useful.

There are very long running claims (e.g., Birther, Gardasil, etc.) for
which someone can assign stable identifiers and once we have enough data,
build classifiers, etc.

guha

On Wed, Jan 24, 2018 at 9:46 AM, vholland <notifications@github.com> wrote:

[2018-01-24 20:25] cong-yu commented on #1828
The itemReviewed within ClaimReview is in fact the claim, or more accurately, an instance of the claim. If we introduce a new Claim type, are we going to cause more confusion among the journalists in terms of the relationship between the two? Or are we talking about replacing itemReviewed with claimReviewed? (I am worried about backwards compatibility with the existing markups here ...)

[2018-01-25 04:53] chharvey commented on #1830
Thanks @danbri , and after all the "preceed"s are gone, you may proceed by closing this issue and its proceedings, from which no proceeds shall be gained.

[2018-01-25 06:57] mfenner opened #1831 "Fingerprints for software and data"
Fingerprints or checksums are commonly used with software and data, and I am not sure how best to describe them in schema.org. My assumption is that `version` aligns best, but you could also see the fingerprint as an `identifier`. What are other people doing, or is there a need for a new property?

[2018-01-25 16:23] danbri commented on #1828
@cong-yu my recommendation would be for reviews to stick with itemReviewed, regardless of what exactly the review is of. We already are getting reasonable questions about how to handle things like TV clips / videos, where there are two "candidates" for the item reviewed: the specific clip versus the larger material (e.g. 20 seconds vs 1 hour). Naturally it is good to have both documented, and for

[2018-01-25 21:42] danbri opened #1832 "wording of acceptedAnswer - some sites allow multiple acceptedAnswers"
eg https://ask.metafilter.com/318090/Can-I-file-taxes-before-I-get-this-form

[2018-01-25 21:42] danbri commented on #1832
Currently:

Suggested: "answer(s)"

[2018-01-25 21:48] danbri opened #1833 "Add expected type ItemList in some common cases"
There are a few places where we ought to explicitly say "this property can have itemlist values".

 * acceptedAnswer (some sites [support several](https://github.com/schemaorg/schemaorg/issues/1832))
 * suggestedAnswer
 * ~~step (on HowTo)? not needed since HowTo is a subclassof ItemList and ListItem~~ ...
 * http://webschemas.org/HowToSection should be a ListItem as well as an ItemList.
 * ~~http

[2018-01-25 22:15] #1832 closed

[2018-01-25 23:24] inetbiz commented on #1832
@danbri how will this affect Google SERP rich snippet? StackExchange only accepts one answer. About the only domain I have seen rich snippet results.

[2018-01-26 20:32] imagina commented on #819
What about a business_status ?
"out of business"
"temporary closed"

[2018-01-26 21:22] danbri commented on #1832
@inetbiz - as always the relationship with anyone's product features is indirect. The initial concern is that the definition is good.

[2018-01-26 21:51] jkosslyn commented on #1828
Thanks Dan. I just chatted with Guha and now better understand the desire for a "Claim" object that would be viable on its own, separate from the enclosing ClaimReview. However, to Cong's point, it will impose substantial hardship on overstretched fact check techies if we break the existing schema. Here's a thought, building on your proposed variant #1: what if Claim extended CreativeWork, kept th

[2018-01-26 22:56] cong-yu commented on #1828
@danbri If introducing claimUrl and ClaimUrlOriginal is absolutely a no-go, then I think reusing itemReviewed is a good compromise. Below is an example markup that corresponds to @BillAdairDuke's example. It fits well with the additional types you are creating. It is, however, not a Claim type, and it is not clear to me how to introduce an attribute that denotes the meaning of "original" since it

[2018-01-27 01:18] jkosslyn commented on #1828
@cong-yu sure thing, here's what I mean. Very similar to your proposal, but with only a single itemReviewed of type "Claim," and containing several instances of "appearance" in addition to the "author" field.
[code]
The underlying logic is that a review can only really be of a single claim (otherwise how can the review come to a single rating?). If that single claim appears in multiple places, we

[2018-01-27 04:09] danbri commented on #1471
@dr-shorthair is there a summary somewhere of how SOSA differs or matches W3C's Data Cube model, particularly at the detailed observation level? (see also http://lsd-dimensions.org/dimensions ). I see the [eo-qb doc](https://w3c.github.io/sdw/eo-qb/#SSN) has a foot in both worlds.

[2018-01-27 11:43] chaals commented on #1828
Disconnected thoughts:

* Having a way to describe a claim (actually, that is just a statement, and in that sense a claim review is also a claim) seems useful.
* As far as I know factchecking typically works at the level of statements. If I make a speech in which I say three things, one true, one false, and one untestable, saying "the speech is not true" is less useful than identifying which thing

[2018-01-27 17:57] cong-yu commented on #1828
@jkosslyn thanks, I revised your code so it parsed correctly and uses workExample. I think we are getting somewhere with the great discussion. See my comment after the code.

[code]

Given all the proposals, let's take a look at the following scenario.

Say for example, Publisher A originally publishes an article AA spreading a rumor. Politician X notices that article and spreads the same rumor in

[2018-01-28 15:05] jkosslyn commented on #1828
@cong-yu that proposal LGTM, @danbri what do you think?

@cong-yu in terms of the scenario you pose, the claim would be the rumor as asserted by Publisher A in article AA, and as amplified by Politician X and Publisher B. If the amplifications cite the original claim by Publisher A, then they would be workExamples; if the amplifications don't cite AA but rather assert the claim as fact, then they

[2018-01-28 16:29] danbri commented on #1828
This direction is looking good, but let me check something. Good idea to reuse workExample, but is it intended that it is attached to the ClaimReview not the Claim (which was where "appearance" was shown in Justin's original).
This is the most recent example from Cong:
https://search.google.com/structured-data/testing-tool/u/0/?url=https%3A%2F%2Fgist.githubusercontent.com%2Fdanbri%2F07c8581de42494

[2018-01-28 17:26] cong-yu commented on #1828
@danbri Good call, that was a typo, fixed.

@jkosslyn a bit confused here, are you suggesting the following: If the instances of the claim are independent (i.e., no citation connection), we should model them as separate itemReviewed; if they form a citation chain, we model them as workExamples where the one everyone cites becomes the itemReviewed? That seems too complicated semantically to maintai

[2018-01-28 23:46] danbri commented on #1828
@cong-yu @jkosslyn having a single itemReviewed seems a little simpler conceptually to me, and consistent with the way other kinds of reviews are handled. But it can be awkward (as it was with the TV video vs smaller clip example) since you have to somewhat arbitrarily pick one entity as the focal point, even if the others can also be associated via relationships.

I would like to leave open the p

[2018-01-29 01:58] jkosslyn commented on #1828
@danbri agreed, having a single itemReviewed is conceptually clearer to me as well. I noticed that Clip inherits from CreativeWork; could we allow the itemReviewed to be any subclass of CreativeWork? As long as it has a url field, adding more optional fields wouldn't hurt the core usecase.

@cong-yu If the instances of the claim are independent (i.e., no citation connection), I think we should mod

[2018-01-29 02:02] danbri commented on #1828
@jkosslyn - for a ClaimReview it may make sense to encourage only CreativeWork. There are other kinds of reviews too (cars, hotels, employers, ...), but they at least can share the common structure of having a single focal itemReviewed.

In passing (and wary of distractions), we should also note for the record that there may be some commonalities between Claim(Review) markup and Question/Answer si

[2018-01-29 08:30] thgh opened #1834 "Typo inversOf => inverseOf"
https://github.com/schemaorg/schemaorg/blob/29c6ef82474c8f5bd1ac9fe8c8283ce77f1db437/sdordf2csv.py#L134

[2018-01-29 14:33] cong-yu commented on #1828
OK, I think we are getting to some consensus. The remaining question is that, given we are not introducing new field, do we really need a new Claim type?

I do think there is value in introducing Claim type on its own, independent of the ClaimReview, with all the benefits of linking everything together, but it does sound like beyond the scope of this current extension to ClaimReview?

[2018-01-29 14:35] danbri commented on #1828
@cong-yu isn't the ability to say what we need without adding more custom properties a feature not a bug?

[2018-01-29 14:41] cong-yu commented on #1828
@danbri do you mean we can introduce the Claim type without needing to add a new field?

[2018-01-29 14:42] danbri commented on #1828
We could.

[2018-01-29 16:17] rvguha commented on #1828
Yes, we can add the new type (Claim) without a new property/field.

a ClaimReview could either have a particular article as its itemReviewed or
a Claim.

e.g., consider the claim that Lee Harvey Oswald did not act alone. This is
a claim that has been restated in thousands of articles. Rather than
picking one of these articles to be the itemReviewed, it could be the
abstract Claim.

This construct

[2018-01-29 16:44] thadguidry commented on #1828
Claim:  Guha is intelligent.  All humans have intelligence.  Sometimes :)

+1 for new Claim type.

[2018-01-29 17:00] cong-yu commented on #1828
@rvguha @danbri Sounds good, in terms of backward compatibility implementation, can we have the itemReviewed be of both Claim and CreativeWork type?

[2018-01-29 17:01] rvguha commented on #1828
Claim will be a subclass of CreativeWork.

guha

On Mon, Jan 29, 2018 at 9:00 AM, Cong Yu <notifications@github.com> wrote:

[2018-01-29 17:04] danbri commented on #1828
We should add guidance on common patterns to the ClaimReview textual documentation; it's worth mentioning the Clip vs VideoObject scenario there too.

[2018-01-29 17:21] BillAdairDuke commented on #1828
Thanks to all of you for the excellent discussion. I'm reading this from the perspective of a journalist, so I'm not sure I've understood all the comments. But I thought it would be helpful to add my perspective since I'm sort of speaking for all the fact-checkers that will have to fill out the schema.

The reclassification of claims sounds fine and probably helpful. I agree with Justin's points t

[2018-01-29 19:27] danbri commented on #1828
Absolutely agree with Bill that usability (including of our documentation/examples, not just the abstract structure is critical. Justin's summary overall makes sense, the only place I feel wobbly is the "position": "first" construction. How important is this? Could we just encourage use of dates (on cCaims, ClaimReviews, and CreativeWorks)?

*yes, subtypes of CreativeWork are also expected; someti

[2018-01-29 19:47] cong-yu commented on #1828
@BillAdairDuke Bill, I think here is the consensus code among the thread.

[code]

A few more notes:

1. @jkosslyn For backward implementation compatibility, let's keep both Claim and CreativeWork as a type of the itemReviewed. In the future, this may not be necessary, but I want it to be on the safe side.

2. @danbri datePublished does not provide semantics of "original," since even if this examp

[2018-01-29 19:59] danbri commented on #1828
"the semantics is not really hierarchical" - unfortunately that is the exact problem with position: first, ... since the properties of the work being described aren't contextualized to the Claim or ClaimReview, but have to be objective properties of that entity directly.

One way to do that would be to use a more specific property than workExample. We might for example define "appearance" and also

[2018-01-29 20:08] cong-yu commented on #1828
@danbri hmm ... isn't it the intension of the position field to put the item in context? (From the description: the position of an item in a series or sequence of items.)  But I am open to introduce a new field or two (originalAppearance and appearance) under Claim. Shall we just go ahead and do it?

@thadguidry The journalist may not know who made the original claim, and thus it is not among the

[2018-01-29 23:32] danbri commented on #1828
@cong-yu I have made a pass at implementing this. It needs more attention including an example  or two and improvements to the text for the existing ClaimReview and itemReviewed definitions. But there are rough cut definitions for Claim, appearance and firstAppearance. Wording can be refined. You can see the raw definitions in the links to the configuration files here, or staged at http://pending.

[2018-01-30 02:43] thadguidry commented on #1828
@danbri Let's try to avoid using the type name again in the definition (why do you and @RichardWallis  always seem to do that? :-) ) Suggest changing this "a specific, factually-oriented claim ..."  to this "a specific, factually-oriented **statement** ..." or another synonym of choice.

[2018-01-30 03:17] cong-yu commented on #1828
Thanks @danbri !

A couple comments on the pending Claim type:

1. Shall we clarify a bit on the text property for Claim and the claimReviewed property for ClaimReview? If a Claim is attached to a ClaimReview, then the text field, if missing, is assumed to the same as the the claimReviewed property of the ClaimReview it is attached to

2. For firstAppearance: shall we consider change "first known"

[2018-01-30 21:13] subbuvincent commented on #1828
Hi folks, I just caught up with this thread. All three central points are valid.
- the need from the use case @BillAdairDuke brought up for claimOriginal and claimUrl
- and the opportunity for a class of <abstract> claims, a-la canonicals for claims @vholland @rvguha
- and the reality of maintaining backwards compatibiity that @cong-yu rightly brings up

I tried something here using @danbri explor

[2018-01-31 00:51] cong-yu commented on #1828
@subbuvincent Thanks Subbu, I do believe the mixture of textual value and nested value will break current implementations. If it is either/or, it might be tricky for the existing parsers.

[2018-01-31 07:28] subbuvincent commented on #1828
@cong-yu Thanks. And this is sheepish but it looks like when I posted my comment, my browser was showing a cached version so I had missed several comments going back 4 days! Never mind :). It's great to see more progress since then.

[2018-01-31 10:27] giomorassutti opened #1835 "merging wikipedia page with Google Knowledge Graph"
Hello,

I´m trying to merge my Wikipedia page (https://it.wikipedia.org/wiki/Giovanni_Morassutti) with the Google knowledge graph (https://g.co/kgs/7ZgngU).
Do I need to create structured data in order to do that ?
Thanks
Giovanni

[2018-01-31 11:05] danbri commented on #1835
Please ask at Google! Not something we can help with here.

[2018-01-31 11:05] #1835 closed

[2018-01-31 16:18] rajido opened #1836 "Thing > Organization"
The "http://schema.org/Organization" type is not displaying the properties inherited from "thing".

[2018-01-31 18:13] danbri commented on #1045
We did implement an [Attic section](http://attic.schema.org/) to document terms that "didn't make it", e.g. after being tested via Pending. There are also various superseded terms that could be hidden there. Should LinkRole go into the Attic?

[2018-01-31 23:59] dr-shorthair commented on #1471
I'm not aware of anything systematic. The [eo-qb](https://www.w3.org/TR/eo-qb/#SSN) work was done at ANU by two of @KerryLea 's students, who have now moved on. I did not pay close attention to the work and it was only lightly reviewed by the SDWWG. Of course Kerry was also involved in SSN (both versions) so should have kept things on track.

There is also [QB4ST ](https://www.w3.org/TR/qb4st/) wh

[2018-02-01 00:33] dinhtrungthanh commented on #1812
![al-60-tieu-de](https://user-images.githubusercontent.com/8148170/35654936-0880bce8-0722-11e8-9802-17f902a68734.jpg)

[2018-02-01 00:33] dinhtrungthanh commented on #1812
Khoá Good

[2018-02-01 06:25] swillits commented on #635
This puzzles me as well.

[2018-02-01 14:18] RichardWallis commented on #1836
Thanks @rajido  for spotting this.
Symptomatic of a known occasional caching problem
This particular instance now fixed.

[2018-02-01 14:18] #1836 closed

[2018-02-01 15:14] philbarker opened #1837 "range of eligibleCustomerType to include Audience"
A number of times I have wanted to be able to say that an Offer is available only to certain people, e.g. veterans, students, residents of some place, members of some organization.

The [eligibleCustomerType](http://schema.org/eligibleCustomerType) property comes close to allowing this, but the expected range is very narrow. Adding Audience to the expected range would let me use [audienceType](htt

[2018-02-01 15:22] RichardWallis commented on #1837
I would support a proposal for such a broadening of the rangeIncludes of eligibleCustomerType

We did something similar in Tourism by adding the [touristType](http://schema.org/touristType) property with a range of Audience.

My only question being, are you trying to constrain who is eligible for an Offer or, indicate who might be interested in the Offer or, both?

[2018-02-01 15:48] philbarker commented on #1837
I am intending a constraint on who is eligible for an Offer.

[2018-02-01 15:51] RichardWallis commented on #1837
In that case, +1

[2018-02-01 15:53] stuartasutton commented on #1837
I second Richard's +1

On Thu, Feb 1, 2018 at 7:51 AM, Richard Wallis <notifications@github.com>
wrote:

--
Stuart A. Sutton, Metadata Consultant
Associate Professor Emeritus, University of Washington
   Information School
Email: stuartasutton@gmail.com
Skype: sasutton

[2018-02-01 15:59] thadguidry commented on #1837
@RichardWallis what if I want "who might be interested in the Offer", my intended audience of "parents with small children" ?

[2018-02-01 16:10] philbarker commented on #1837
@thadguidry ask for the domain of intendedAudience to be extended (if the intendedAudience of the Offer is different to the intendedAudience of the itemOffered)

[2018-02-01 16:14] RichardWallis commented on #1837
@thadguidry Then I would expect a link to an _Audience_ with an _audienceType_ value of "parents with small children"

What I was possibly implying by my question was that the eligible* properties of Offer are all constraining in their effect - _You cant buy this unless you are a parent with a small child_, and maybe it would be useful to have a property that indicates an offer may be of interest

[2018-02-01 16:26] thadguidry commented on #1837
@RichardWallis yes, there also need to be a property for the "interest or intended audience" as well as the "eligible Audience" :)

[2018-02-01 16:34] RichardWallis commented on #1837
@thadguidry Looks like we are heading towards a two part proposal:

1. Extend the range of [eligibleCustomerType](http://schema.org/eligibleCustomerType) to include [Audience](http://schema.org/Audience).
2. Create new property _intendedAudience_  (sub-property of [audience](http://schema.org/audience)?) - domain [Offer](http://schema.org/Offer), range [Audience](http://schema.org/Audience).

As a

[2018-02-01 17:07] thadguidry commented on #1837
@RichardWallis why not just extend ?  to me it seems more logical, since Product and Service are already included there.

[2018-02-01 17:12] RichardWallis commented on #1837
@thadguidry Looks like we are heading towards a two part proposal:
1. Extend the range of [eligibleCustomerType](http://schema.org/eligibleCustomerType) to include [Audience](http://schema.org/Audience).
2. Extend the domain of [audience](http://schema.org/audience) to include [Offer](http://schema.org/Offer)

[2018-02-01 21:41] davux opened #1838 "Religion"
I couldn't find any field to describe the religious beliefs / practice of a person.

Such a field could be named: religion, cult, spirituality, spiritualBelief...

There might be a distinction to make between the religion as a personal matter or *belief*, and the *membership* to a given religious organisation or institution. For example you might define yourself as catholic because you relate to w

[2018-02-02 13:29] vholland commented on #1837
+1

[2018-02-02 16:32] EdB2 commented on #1457
Here's hoping `repeatCount` and `exceptDate` won't be required.  My purpose is 12-step recovery group meetings.  These are not the type of schedule that has an end date (that we know of anyway).  We say "Friday at 6PM" with an understanding that it will be every Friday (no `exceptDate`) forever (no `repeatCount`).  For real-world context, once when the church we were in burned down we held our mee

[2018-02-02 17:35] thadguidry commented on #1457
@EdB2 Everything is optional in Schema.org technically, its consumers of the data that place restrictions where they see fit.

Ah, interesting use case with 12-step recovery groups !  Also, I see that use case as similar to perhaps a curriculum at a college where there's a final completion event of graduation after proceeding through all the courses (step 12 - "Carrying the message of the 12 Steps

[2018-02-05 17:02] bianqui149 opened #1840 "schema url"
hi!, i am getting this error "All values provided for url must point to the same page." when a place the url in the Structured Data Testing Tools from google, but if a place code snippet a get 0 errors
this is my snippet
{
    "@context":"http://schema.org",
    "@type":"ItemList",
    "itemListElement":[

        {
            "@type":"ListItem",
            "position":1,
            "item":{

[2018-02-05 17:04] kaylareedhanson commented on #1833
Your change includes all the changes mentioned here, I think this can be closed?

[2018-02-05 17:20] bianqui149 commented on #1526
@AmyManek i am getting the same error any update?

[2018-02-05 17:57] RichardWallis commented on #1526
This channel is for discussion of the Schema.org vocabulary its structure and development and can not really help with individual implementation and the operation of tools provided by search engine organisations.

Beyond the useful blogpost on this issue: https://dmytronikolayev.com/values-provided-url-must-point-page-problem-googles-sdtt/

I suggest you direct these questions regarding the operat

[2018-02-05 18:10] nakigoe opened #1841 "Website isFamilyFriendly"
Please add clarification to the property "isFamilyFriendly"
Website - isFamilyFriendly - True
Should I add "isFamilyFriendly" property to every page on a website?
Is it enough to declare that property for the whole site?

[2018-02-06 17:37] Aaranged opened #1842 "Online-only events"
schema.org currently (as far as I know) has no way of indicating that an [Event](http://schema.org/Event) is online-only.  The ability to provide this information could be beneficial to data consumers, who would then be able to distinguish such virtual events from brick-and-mortar events and, if they wish, represent them differently in output products.

For example, Google expects a value for [loc

[2018-02-06 18:00] philbarker commented on #1842
This would be relevant to online courses (or rather [CourseInstance](http://schema.org/CourseInstance)s. We currently have a courseMode property which can have the value 'online'. I wouldn't mind having an OnlineEvent subtype, and using multiple types in markup for online course instances.

Putting the registration URL in the Offer would be compatible with how we dealt with Courses (though we didn

[2018-02-06 18:34] RichardWallis commented on #1842
This was discussed extensively, and then left hanging, in issue (#406), with the options of either new Event subtype (OnlineEvent ?), which could be used on its own or be added as an additionalType if it was an online instance of say a LiteraryEvent; or adding some form of category property for Event.

I think it may be worth resurrecting that discussion ether on that issue, or here.

[2018-02-06 20:06] vholland commented on #1842
Of these, I think OnlineEvent is best approach as it allows us to add properties relevant to online events.

If something is both an OnlineEvent and a BusinessEvent, authors should specify both types.

[2018-02-06 20:10] danbri commented on #1842
Yeah, let's get better at this. Sounds like rough consensus towards OnlineEvent so far?

@scor @rvguha @tmarshbing @nicolastorzec @tilid any thoughts?

If we do this, let's add more consistency than confusion. That means we will need:

* to update courses documentation as @philbarker mentioned
* consider how http://schema.org/BroadcastEvent and http://schema.org/LiveBlogPosting relate
* check and

[2018-02-06 21:37] nicolastorzec commented on #1842
Quickly:

- Subclassing would work, though I'm not sure that's the best solution here.
  - Most Event subtypes don't have any specific property and are not disjoint.
  - They are more like (overlapping) tags.

- Also +1 for cleaning and clarifying Events and associated properties.
  - Some properties (their definition) are confusing (e.g. actor, contributor, performer, director)
  - Some propertie

[2018-02-08 04:52] monecchi commented on #1288
I'm amazed by the new [schema.org/Restaurant](http://schema.org/Restaurant) properties structuring markup possibilities. I've come through a few tutorials such as[ this one](https://moz.com/blog/schema-new-restaurant-menu-markup) introducing the new Restaurant Menu markup, but I got stuck on how to markup individual Menu Items when viewing their actual single pages.

E.g: For a Pizzeria Menu with

[2018-02-08 06:30] binhle410 opened #1843 "How do I represent a Physical Book Page and Paragraph."
A book page can have multiple headings/subheadings or chapters and subchapters on the same page.
and decoration like background image, footnote and side note.

[2018-02-08 10:32] Deep1s opened #1844 "How I optimize schema for same word meaning content"
How I optimize schema for Search Engine, that the word "programs or courses" have the same meaning for my website content?

[2018-02-08 11:12] danbri commented on #1844
That is out of scope for us here.

[2018-02-08 11:12] #1844 closed

[2018-02-08 14:35] chharvey commented on #1818
Coming back to this, `Task` seems to be more appropriate as a subclass of `CreativeWork`, instead of `Intangible`. Then I could then remove the following properties from the pseudo-JSON-LD definition above.

- comment
- commentCount
- contributor
- creator
- dateCreated
- dateModified
- keywords

[2018-02-09 08:34] haneef95 opened #1846 "Who uses NewsArticle, AnalysisNewsArticle, BackgroundNewsArticle, OpinionNewsArticle, ReportageNewsArticle, ReviewNewsArticle schema?"
Hi,

I'm considering on implementing all of these schema [NewsArticle, AnalysisNewsArticle, BackgroundNewsArticle, OpinionNewsArticle, ReportageNewsArticle, ReviewNewsArticle] in full on some news sites.

But, I need to convince them that there's a benefit to this, like SEO and etc...

Any visualisable benefits would be better.

Thanks,